@import 'app/shared/scss/table-common';
@import 'app/shared/scss/pharma-toolbar';

p-card {
  ::ng-deep .p-card-body {
    padding: 1rem;
  }

  ::ng-deep .p-card-content {
    padding: 0;
  }
}
.p-floatlabel {
  min-width: 90px !important;

}
