@use 'app/shared/scss/modal-theme' as *;
@use 'app/shared/scss/form-styles' as form;
:host {
  @include modal-theme;
}

.field-hint {
  font-size: 0.72rem;
  color: var(--p-text-muted-color);
  font-style: italic;
}

