@import 'app/shared/scss/table-common';

.reglement-dossier {
  .formulaire {
    height: 100%;
  }
}

.pharma-row-success {
  background: #d4edda !important;
  border-left: 3px solid $pharma-success;

  &:hover {
    background: #c3e6cb !important;
  }
}
