<!-- Toolbar -->
<div class="four-tab-toolbar">
  <app-button
    (clicked)="onAddFournisseur()"
    [outlined]="true"
    [severity]="'primary'"
    icon="pi pi-plus"
    label="Ajouter fournisseur"

    size="small"
  />
</div>

<!-- Etat vide -->
@if (!produit().fournisseurProduits || produit().fournisseurProduits!.length === 0) {
  <div class="pharma-empty-message">
    <div class="pharma-empty-content">
      <i class="pi pi-truck"></i>
      <p>Aucun fournisseur associé</p>
      <small>Cliquez sur "Ajouter fournisseur" pour en associer un</small>
    </div>
  </div>
} @else {
  <app-data-table [value]="produit().fournisseurProduits!" class="pharma-table">
    <ng-template #header>
      <tr class="pharma-table-head">
        <th>Fournisseur</th>
        <th>CIP fournisseur</th>
        <th class="text-end">Prix achat</th>
        <th class="text-end">Prix vente</th>
        <th class="text-center" title="Fournisseur par défaut pour les commandes">Principal</th>
        <th style="width: 80px"></th>
      </tr>
    </ng-template>
    <ng-template #body let-fp>
      <tr [class.row-principal]="isPrincipal(fp)">
        <td>
          <span class="pharma-product-name">{{ fp.fournisseurLibelle }}</span>
          @if (isPrincipal(fp)) {
            <span class="badge-principal ms-2" ngbTooltip="Fournisseur principal">Principal</span>
          }
        </td>
        <td><span class="pharma-code">{{ fp.codeCip }}</span></td>
        <td class="text-end"><span class="pharma-price">{{ formatPrix(fp.prixAchat) }}</span></td>
        <td class="text-end"><span class="pharma-price">{{ formatPrix(fp.prixUni) }}</span></td>
        <td class="text-center">
          <app-switch
            (ngModelChange)="onTogglePrincipal(fp, $event)"
            [ngModel]="isPrincipal(fp)"
            ngbTooltip="Définir comme fournisseur principal"
          />
        </td>
        <td class="text-end">
          <div class="row-actions">
            <app-button
              (clicked)="onEditFournisseur(fp)"
              [text]="true"
              icon="pi pi-pencil"
              ngbTooltip="Modifier"
              severity="secondary"
              size="small"
            />
            <app-button
              (clicked)="onDeleteFournisseur(fp)"
              [disabled]="isPrincipal(fp) && produit().fournisseurProduits!.length > 1"
              [text]="true"
              icon="pi pi-trash"
              ngbTooltip="Supprimer"
              severity="danger"
              size="small"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </app-data-table>
}
