<div class="col-lg-9 col-xl-9 col-md-10 col-sm-10 d-flex row justify-content-center"
     style="margin:auto;">
  <div>
    <p-panel>
      <ng-template pTemplate="header">
        <div class="float-right" style="width: 100%;">
          <span jhiTranslate="warehouseApp.menu.home.title">Menus</span>
          <button [routerLink]="['/menu/new']" class="p-button-raised p-button-success float-right"
                  icon="pi pi-plus"
                  iconPos="left" label=" Ajouter un nouveau rôle"
                  pButton pRipple
                  type="button"></button>
        </div>

      </ng-template>


      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div *ngIf="authorities?.length === 0" class="alert alert-warning" id="no-result">
        <span jhiTranslate="warehouseApp.menu.home.notFound">No data found</span>
      </div>


      <p-table


        *ngIf="authorities && authorities.length > 0"
        [paginator]="false"
        [value]="authorities"
        dataKey="id"
        styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>

            <th style="width:20%">Nom</th>
            <th>Description</th>
            <th style="width:15%"></th>
          </tr>
        </ng-template>
        <ng-template let-row let-rowIndex="rowIndex" pTemplate="body">
          <tr>
            <td>{{ row.name }}</td>
            <td [pEditableColumn]="row.libelle" pEditableColumn pEditableColumnField="libelle">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input (keydown.enter)="onEdit(row,$event)"
                         [ngModel]="row.libelle"
                         [style]="{'width':'100%'}" pInputText required type="text">
                </ng-template>
                <ng-template pTemplate="output">
                  {{ row.libelle }}
                </ng-template>
              </p-cellEditor>
            </td>


            <td class="text-right">
              <div class="btn-group">
                <button [routerLink]=" ['/menu', row.name, 'view']"
                        class="p-button-rounded p-button-info p-mr-1" icon="pi pi-box" pButton
                        pRipple
                        pTooltip="Gérer les privilèges"
                        type="button"></button>
                <button (click)="delete(row)"
                        *ngIf="row.name!=='ROLE_ADMIN' && row.name!=='ROLE_USER'"
                        class="p-button-rounded p-button-danger"
                        icon="pi pi-trash" pButton pRipple
                        pTooltip="Supprimer" type="button"></button>

              </div>
            </td>
          </tr>
        </ng-template>

      </p-table>

    </p-panel>
  </div>


</div>
<p-toast position="center"></p-toast>
