<p-card>
  <ng-template #content>
    <form [formGroup]="editForm" name="editForm">
      <div [hidden]="true" class="form-group">
        <input class="form-control" formControlName="id" id="id" name="id" readonly
               type="hidden" />
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-control-label" for="field_firstName">Nom</label>
          <input
            #firstName
            autocomplete="off"
            autofocus
            class="form-control"
            formControlName="firstName"
            id="field_firstName"
            name="firstName"
            pInputText
            type="text"
          />
          @if (editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty
            || editForm.get('firstName')!.touched)) {
            <div>
              @if (editForm.get('firstName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                  This field is required. </small>
              }
            </div>
          }
        </div>
        <div class="form-group col-md-6">
          <label class="form-control-label" for="field_lastName">Prénom(s)</label>
          <input
            autocomplete="off"
            class="form-control"
            formControlName="lastName"
            id="field_lastName"
            name="lastName"
            pInputText
            type="text"
          />
          @if (editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty
            || editForm.get('lastName')!.touched)) {
            <div>
              @if (editForm.get('lastName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                  This field is required. </small>
              }
            </div>
          }
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-control-label" for="field_numAyantDroit">Numéro assuré</label>
          <input
            autocomplete="off"
            class="form-control"
            formControlName="numAyantDroit"
            id="field_numAyantDroit"
            name="numAyantDroit"
            pInputText
            pKeyFilter="alphanum"
            type="text"
          />
          @if (editForm.get('numAyantDroit')!.invalid && (editForm.get('numAyantDroit')!.dirty
            || editForm.get('numAyantDroit')!.touched)) {
            <div>
              @if (editForm.get('numAyantDroit')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                  This field is required. </small>
              }
            </div>
          }
        </div>
        <div class="form-group col-md-6">
          @let datNaiss = editForm.get('datNaiss');
          <label class="form-control-label">Date de naissance</label>
          <input [style]="{ width: '100%' }"
                 formControlName="datNaiss"
                 id="datNaiss"
                 jhiDateNaiss pInputText
                 placeholder="jj/mm/aaaa"
          />
          @if (datNaiss!.invalid && (datNaiss!.dirty || datNaiss!.touched)) {
            :!
            <div>
              @let errors = datNaiss?.errors;
              @if (errors?.invalidDate || errors?.outOfRange) {
                <small class="form-text text-danger"> Veuillez saisir une date valide</small>
              }
            </div>
          }
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <h5 class="form-control-label">Sexe</h5>
          <p-radioButton formControlName="sexe" id="masculin" inputId="masculin" name="sexe"
                         value="M"></p-radioButton>
          <label class="ml-2" for="masculin">Masculin</label>
          <p-radioButton formControlName="sexe" id="feminin" inputId="feminin" name="sexe"
                         value="F"></p-radioButton>
          <label class="ml-2" for="feminin">Feminin</label>
        </div>
      </div>
    </form>
  </ng-template>
</p-card>

