@if (summary()) {
  <app-kpi-strip stripClass="mt-1">
    <app-kpi-item
      [accent]="'primary'"
      [value]="summary().saleAmount | number"
      icon="pi pi-credit-card"
      iconClass="text-primary"
      label="Total différé"
      suffix="FCFA"
      valueClass="text-primary"
    />

    <app-kpi-item
      [accent]="'success'"
      [value]="summary().paidAmount | number"
      icon="pi pi-check-circle"
      iconClass="text-success"
      label="Total payé"
      suffix="FCFA"
      valueClass="text-success"
    />

    <app-kpi-item
      [accent]="'danger'"
      [value]="summary().rest | number"
      icon="pi pi-exclamation-circle"
      iconClass="text-danger"
      label="Reste à payer"
      suffix="FCFA"
      valueClass="text-danger"
    />
  </app-kpi-strip>
}
