<ngx-spinner [fullScreen]="true" bdColor="rgba(0, 0, 0, 0.8)" color="#fff" size="medium"
             type="timer"><p style="color: white"> Traitement en cours... </p></ngx-spinner>
<div class="commande-entry">

  <div class="row">
    <div class="col-sm-2">
      <div class="card-header bg-primary text-white">
        Information sur la commande

      </div>
      <div class=" form-bon">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span style="margin-right: 5px;">Référence</span>
            <span class="text-primary">{{commande?.orderRefernce}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span style="margin-right: 5px;">Grossiste</span>
            <span class="text-primary">{{commande?.fournisseur?.libelle}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Valeur Achat
            <span class="text-primary">{{commande?.grossAmount | number}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Valeur Vente
            <span class="text-primary">{{commande?.orderAmount | number}}</span>
          </li>
        </ul>
        <div class="mt-sm-1">
          <div class="card-header bg-primary text-white">Formulaire du bon de livraison</div>
          <div class="form-row pt-sm-1">
            <div class="form-group col">

              <label class="form-control-label">Date Bon</label>
              <div class="input-group">
                <p-calendar (change)="enabledBtnValidate()" [(ngModel)]="receiptDate"
                            [maxDate]="maxDate"
                            [selectOtherMonths]="true" [showButtonBar]="true" dateFormat="dd/mm/yy"
                            styleClass="date-picker-bl"></p-calendar>
              </div>

            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col">
              <label class="form-control-label">Référence Bon</label>
              <input (input)="enabledBtnValidate()" [(ngModel)]="receiptRefernce"
                     autocomplete="off" class="form-control" pInputText type="text" />

            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label class="form-control-label">Séquence Bon</label>
              <input (input)="enabledBtnValidate()" [(ngModel)]="sequenceBon" autocomplete="off"
                     class="form-control" pInputText type="text" />

            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label class="form-control-label">Montant TTC</label>
              <input (input)="enabledBtnValidate()" [(ngModel)]="receiptAmount" [pKeyFilter]="'int'"
                     autocomplete="off"
                     class="form-control"
                     pInputText type="text" />

            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label class="form-control-label">Taxe</label>
              <input (input)="enabledBtnValidate()" [(ngModel)]="taxAmount" [pKeyFilter]="'int'"
                     autocomplete="off"
                     class="form-control"
                     pInputText type="text" />

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="card-header">

        <div class="row">
          <!--          <div class="col-md-2">-->
          <!--            Lignes de la commande-->
          <!--          </div>-->
          <div class="col-md-3">
               <span class="p-input-icon-left" style="width: 100%;">
                    <i class="pi pi-search"></i>
                    <input (input)="onSearch($event)" pInputText placeholder="Taper pour rechercher"
                           type="text">
                </span>
          </div>
          <div class="col-md-3">

            <ng-select (change)="onFilterCommandeLines()" [(ngModel)]="selectedFilter"
                       [items]="filtres!"
                       autofocus="false"
                       bindLabel="label"
                       bindValue="value"

            >
            </ng-select>
          </div>
          <div class="col-md-6 text-right">
            <button (click)="onSave()" [disabled]="disableActionBtn" class="p-button-raised p-button-success mr-sm-1"
                    icon="pi pi-save"
                    label="Sauvegarder la saisie"
                    pButton pRipple style="display: none;" type="button"></button>
            <button (click)="onFinalize()" [disabled]="disableActionBtn"
                    class="p-button-raised  p-button-info mr-sm-1"
                    icon="pi pi-check-circle" iconPos="left"
                    label="Valider l'entrée en stock" pButton pRipple
                    type="button"></button>
            <button (click)="previousState()" class="p-button-raised  p-button-secondary"
                    icon="pi pi-arrow-left"
                    iconPos="left" label="Retour"
                    pButton pRipple type="button"></button>
          </div>
        </div>
      </div>
      <div class="card-body " style="width: 100%;height: 100%;">

        <ag-grid-angular #orderLineGrid (cellValueChanged)="onCellValueChanged($event)"
                         (gridReady)="onGridReady($event)"
                         *ngIf="commande"
                         [animateRows]="true"
                         [cacheQuickFilter]="true"
                         [columnDefs]="columnDefs"
                         [context]="context"
                         [defaultColDef]="defaultColDef"
                         [domLayout]="'normal'"
                         [enterMovesDownAfterEdit]="true"
                         [enterMovesDown]="true"
                         [frameworkComponents]="frameworkComponents"
                         [paginationAutoPageSize]="true"
                         [pagination]="false"
                         [quickFilterText]="search"
                         [readOnlyEdit]="false"
                         [rowData]="orderLines"
                         [singleClickEdit]="true"
                         [stopEditingWhenCellsLoseFocus]="false"
                         class="ag-theme-alpine "
                         style="width: 100%;height: 100%;background-color: #777777">
        </ag-grid-angular>


      </div>
    </div>
  </div>


</div>
