<div class="modal-header">
    <h4 class="modal-title" >VERIFICATION COMMANDE</h4>

    <button (click)="cancel()" aria-hidden="true" class="close" data-dismiss="modal"
            type="button">&times;
    </button>
</div>

<div class="modal-body">
    <div class="row">
        <div [class]="classCss">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Nombre de produits pris en compte
                </div>
                <div class="card-body text-center">
                    <span class="badge badge-success text-lg-center" style="font-weight: 700;font-size: 1.6rem;">{{responseCommandeItem.length | number}}
                        /{{commande?.orderLines!.length | number}}</span>

                </div>

            </div>
        </div>
        <div *ngIf="responseCommandeItemNonPrisEnComte.length>0" [class]="classCssNon">
            <div class="card">
                <div class="card-header bg-warning text-white">
                    Produits en rupture
                </div>
                <div class="card-body">
                    <p>
                        <span class="badge badge-warning" style="font-weight: 700;font-size: 1.6rem;">{{responseCommandeItemNonPrisEnComte.length | number}}
                            /{{commande?.orderLines!.length | number}}</span>
                    </p>
                    <div style="width: 100%;">
                        <table *ngIf="responseCommandeItemNonPrisEnComte.length<commande?.orderLines!.length"
                               class="table table-striped">
                            <thead>
                            <tr>

                                <th scope="col">Code</th>
                                <th scope="col">Description</th>
                                <th scope="col">Quantité disponible</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of responseCommandeItemNonPrisEnComte">
                                <td>{{item.codeCip}}</td>
                                <td>{{item.produitLibelle}}</td>
                                <td class="text-right">{{item.quantitePriseEnCompte |number}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<div class="modal-footer">
    <button (click)="cancel()" class="btn btn-secondary" data-dismiss="modal" type="button">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Fermer</span>
    </button>


</div>

