<ngx-spinner [fullScreen]="false" bdColor="rgba(255,255,255,0.5)" color="#f13151"
             name="gestion-commande-spinner" size="medium"
             type="timer"></ngx-spinner>
<p-confirmDialog #deleteCommande [baseZIndex]="10000" [style]="{width: '40vw'}"
                 key="deleteCommande">
  <p-footer>
    <button (click)="deleteCommande.reject()" class="p-button-danger" icon="pi pi-times" label="Non"
            pButton
            type="button"></button>
    <button (click)="deleteCommande.accept()" icon="pi pi-check" label="Oui" pButton
            type="button"></button>
  </p-footer>

</p-confirmDialog>
<p-dialog [(visible)]="fileDialog" [focusOnShow]="false" [modal]="true"
          [style]="{width: '50vw'}" header="Importer un fichier">
  <div class="ui-g form-group">
    <p-fileUpload (uploadHandler)="onImporterReponseCommande($event)" [customUpload]="true"
                  accept=".csv,.xls,.xlsx"
                  cancelLabel="Annuler"
                  chooseLabel="Importer un fichier" name="importcsv"
                  uploadLabel="Enrégistrer">
    </p-fileUpload>
  </div>
  <p-footer>
    <button (click)="cancel()" class="p-button-danger mr-2 p-button-raised" icon="pi pi-times"
            label="Annuler"
            pButton
            pRipple type="button"></button>

  </p-footer>
</p-dialog>

<p-panel header="Menu commandes" styleClass="main-panel">
  <div class="row commande-gestion">
    <div class="col-2 col-md-2 col-sm-2">

      <p-card>
        <div #nav="ngbNav" (navChange)="onNavChange($event)" [(activeId)]="active"
             class="nav flex-column nav-pills " ngbNav
             orientation="vertical">
          <ng-container ngbNavItem="REQUESTED">
            <a class="flex-sm-fill nav-link " ngbNavLink>Commande en cours</a>
            <ng-template ngbNavContent>
              <jhi-commande-en-cours (selectionLength)="updateSelectionLength($event)"
                                     [searchCommande]="searchCommande"
                                     [search]="search"></jhi-commande-en-cours>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem="PASSED">
            <a class="flex-sm-fill nav-link " ngbNavLink>Commande passées</a>
            <ng-template ngbNavContent>
              <jhi-commande-passes (selectionLength)="updateSelectionLength($event)"
                                   [searchCommande]="searchCommande"
                                   [search]="search"></jhi-commande-passes>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem="RECEIVED">
            <a class="flex-sm-fill nav-link" ngbNavLink>Commande reçues</a>
            <ng-template ngbNavContent>
              <jhi-commande-recus [searchByRef]="searchCommande"
                                  [search]="search"></jhi-commande-recus>
            </ng-template>
          </ng-container>
        </div>
      </p-card>

    </div>

    <div class="col-10 col-md-10 col-sm-10 row">
      <div>
        <p-toolbar>
          <div class="p-toolbar-group-left commande" style="width: 50%;">
            <div class="row" style="width: 100%;">

              <div class="col-md-6">

                <input (keyup.enter)="onSearch()" [(ngModel)]="searchCommande" pInputText
                       placeholder="Recherche sur la commande"
                       style="width: 100%;" type="text">

              </div>
              <div class="col-md-6">

                <input (keyup.enter)="onSearch()" [(ngModel)]="search" pInputText
                       placeholder="Recherche sur les produits"
                       style="width: 100%;" type="text">

              </div>


            </div>

          </div>
          <div class="p-toolbar-group-right">
                 <span class="p-buttonset">
                     <button (click)="test()" [hidden]="true"
                             class="p-button-raised p-button-info "
                             icon="pi pi-search"
                             label="Test" pButton
                             pRipple
                             type="button"></button>



                <button (click)="onSearch()" class="p-button-raised p-button-info "
                        icon="pi pi-search"
                        label="Rechercher" pButton
                        pRipple
                        type="button"></button>
                <button (click)="onShowNewCommandeDialog()" class="p-button-raised p-button-help "
                        icon="pi pi-upload" label="Importation" pButton
                        pRipple type="button"></button>



   <button (click)="onCreatNewCommande()"
           class="p-button-raised   p-button-success " pButton
           pRipple type="button">
                    <i class="pi pi-plus"></i>
                    <span jhiTranslate="warehouseApp.commande.home.createLabel">
               Nouvelle commande
            </span>
                </button>
                   @if (active === 'REQUESTED' && selectionLength > 1) {
                     <button (click)="fusionner()"
                             class="p-button-raised p-button-warning"
                             pButton
                             pRipple type="button">
                    <fa-icon icon="copy"></fa-icon>&nbsp;<span
                       jhiTranslate="entity.action.fusionner">Fusionner</span>
                </button>

                   }
                   @if (selectionLength > 0) {
                     <button class="p-button-raised p-button-danger"
                             pButton
                             pRipple type="button">
                    <fa-icon icon="times"></fa-icon>&nbsp;<span
                       (click)="confirmDeleteSelectedRows()"
                       jhiTranslate="entity.action.delete">Supprimer</span>
                </button>
                   }

                 </span>
          </div>
        </p-toolbar>
      </div>


      <div [ngbNavOutlet]="nav">

      </div>

    </div>
  </div>
</p-panel>




