@import 'app/shared/scss/pharma-nav';
@import 'app/shared/scss/pharma-toolbar';

.commande-gestion .table tr:hover {
  cursor: pointer;
}

table .active {
  background-color: #95caf9 !important;
}
.p-floatlabel {
  min-width: 130px !important;
}
