<ngx-spinner [fullScreen]="false" bdColor="rgba(255,255,255,0.5)" color="#f13151"
             name="upload-commande-spinner" size="medium"
             type="timer"></ngx-spinner>

<div class="modal-body">

  <div class="form-row">
    <div class="form-group col">
      <label class="form-control-label">Fournisseurs</label>
      <p-dropdown [(ngModel)]="fournisseurSelectedId" [appendTo]="appendTo"
                  [filter]="true"

                  [options]="fournisseurs" [style]="{width: '100%'}"
                  optionLabel="libelle" optionValue="id" placeholder="Séléctionner un fournisseur "
      >
      </p-dropdown>

    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label class="form-control-label">Model de fichier</label>
      <p-dropdown [(ngModel)]="modelSelected" [appendTo]="appendTo" [filter]="false"
                  [options]="models"
                  [style]="{width: '100%'}" optionLabel="label"
                  optionValue="value" placeholder="Séléctionner un model de fichier ">
      </p-dropdown>

    </div>
  </div>
  <div class="form-row">
    <p-fileUpload #fileUpload (uploadHandler)="uploadHandler($event,fileUpload)" [auto]="true"
                  [customUpload]="true"
                  [showCancelButton]="true" accept=".csv,.txt"
                  chooseLabel="Importer un fichier" mode="basic">
    </p-fileUpload>

  </div>


</div>

<div class="modal-footer">
  <button (click)="cancel()" class="btn btn-danger" data-dismiss="modal" type="button">
    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
  </button>

  <button (click)="save()" [disabled]=" isSaving || !isValidForm()" class="btn btn-success"
          id="save-entity">
    <fa-icon icon="times"></fa-icon>&nbsp;<span>Valider</span>
  </button>
</div>

