<jhi-toast-alert #alert></jhi-toast-alert>
<div class="modal-header">
  <h4 class="modal-title">{{ header }}</h4>
  <button (click)="cancel()" aria-label="Close" class="btn-close" type="button"></button>
</div>

<form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
  <div class="modal-body">
    <p-card>

      <div class="form-grid-compact">
        <div [hidden]="true">
          <input class="form-control" formControlName="id" id="id" name="id" readonly type="hidden" />
        </div>

        <div class="form-field form-field-full">
          <label for="numLot">Numéro de Lot<span class="required">*</span></label>
          <input
            (blur)="onValidateNumLot($event)"
            autocomplete="off"
            formControlName="numLot"
            name="numLot"
            pInputText
            [pKeyFilter]="'alphanum'"
            type="text"
          />
          @if (editForm.get('numLot')!.invalid && (editForm.get('numLot')!.dirty || editForm.get('numLot')!.touched)) {
            <div>
              @if (editForm.get('numLot')?.errors?.required) {
                <small class="form-text text-danger" style="color: red"> Ce champ est obligatoire. </small>
              }
            </div>
          }
        </div>
        <div class="form-field form-field-full">
          <label for="quantityReceived">Quantité<span class="required">*</span></label>
          <input
            (blur)="onValidateQuantity($event)"
            [pKeyFilter]="'int'"
            autocomplete="off"
            formControlName="quantityReceived"
            name="quantityReceived"
            pInputText
            type="text"
          />
          @if (editForm.get('quantityReceived')!.invalid &&
          (editForm.get('quantityReceived')!.dirty || editForm.get('quantityReceived')!.touched)) {
            <div>
              @if (editForm.get('quantityReceived')?.errors?.required) {
                <small class="form-text text-danger" style="color: red"> Ce champ est obligatoire. </small>
              }
            </div>
          }
        </div>
        @if (showUgControl) {
          <div class="form-field form-field-full">
            <label for="ugQuantityReceived">Quantité UG</label>
            <input
              (blur)="onValidateUgQuantity($event)"
              [pKeyFilter]="'int'"
              autocomplete="off"
              formControlName="ugQuantityReceived"
              name="ugQuantityReceived"
              pInputText
              type="text"
            />
          </div>
        }

        <div class="row">
          <div class="col-md-6">
            <div class="form-field form-field-full">
              <label for="expiryDate">Date de péremption<span style="font-weight: 900; color: red">*</span></label>
              <p-datePicker
                (onShow)="onDropdownShow($event)"
                (onClose)="onDropdownHide($event)"
                [minDate]="minDate"
                [selectOtherMonths]="true"
                [showButtonBar]="true"
                [showIcon]="true"
                class="w-full"
                dateFormat="dd/mm/yy"
                formControlName="expiryDate"
                name="expiryDate"
              />
              @if (editForm.get('expiryDate')!.invalid && (editForm.get('expiryDate')!.dirty || editForm.get('expiryDate')!.touched)) {
                <div>
                  @if (editForm.get('expiryDate')?.errors?.required) {
                    <small class="form-text text-danger" style="color: red"> Ce champ est obligatoire. </small>
                  }
                </div>
              }
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-field form-field-full">
              <label for="manufacturingDate">Date de fabrication</label>
              <p-datePicker
                (onShow)="onDropdownShow($event)"
                (onClose)="onDropdownHide($event)"
                [maxDate]="maxDate"
                [selectOtherMonths]="true"
                [showButtonBar]="true"
                [showIcon]="true"
                dateFormat="dd/mm/yy"
                class="w-full"
                formControlName="manufacturingDate"
                name="manufacturingDate"
              ></p-datePicker>
            </div>
          </div>
        </div>


      </div>


    </p-card>
  </div>
  <div class="modal-footer">
    <p-button
      class="mr-2"
      (click)="cancel()"
      icon="pi pi-times"
      label="Annuler"
      raised="true"
      severity="secondary"
      type="button"
    ></p-button>
    <p-button
      [disabled]="editForm.invalid || isSaving || numLotAlreadyExist"
      icon="pi pi-check"
      label="Enregistrer"
      raised="true"
      severity="primary"
      type="submit"
    ></p-button>
  </div>
</form>
