<jhi-confirm-dialog #confirmDialog></jhi-confirm-dialog>
<jhi-toast-alert #alert></jhi-toast-alert>

<p-panel header="Menu groupe fournisseurs">
  <p-toolbar>
    <div class="p-toolbar-group-left p-md-7">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input (keyup.enter)="search($event)" pInputText placeholder="Taper pour rechercher"
               style="width: 98%" type="text" />
      </p-iconfield>
    </div>
    <div class="p-toolbar-group-right">
      <p-button
        (click)="showFileDialog()"
        class="p-mr-2"
        icon="pi pi-upload"
        label="Importer"
        raised="true"
        severity="help"
        type="button"
      ></p-button>
      <p-button (click)="addNewEntity()" icon="pi pi-check" label="Nouveau" raised="true"
                severity="success" type="button"></p-button>
    </div>
  </p-toolbar>
  @if (entites && entites?.length > 0) {
    <p-table
      (onLazyLoad)="lazyLoading($event)"
      [lazy]="true"
      [loading]="loading"
      [paginator]="true"
      [rows]="itemsPerPage"
      [totalRecords]="totalItems"
      [value]="entites"
      dataKey="id"
      selectionMode="single"
      stripedRows="true"
    >
      <ng-template #header>
        <tr>
          <th scope="col"><span>Libellé</span></th>
          <th scope="col"><span>Code postale</span></th>
          <!-- <th scope="col"><span >Email</span> </th> -->
          <th scope="col"><span>Téléphone</span></th>
          <th scope="col"><span>Numéro Faxe</span></th>
          <th scope="col"><span>Ordre d'affichage</span></th>
          <th scope="col"><span>Url PharmaMl</span></th>
          <th scope="col"><span>Code officine PharmaMl</span></th>
          <th scope="col"><span>Code Recepteur PharmaMl</span></th>
          <th scope="col"></th>
        </tr>
      </ng-template>
      <ng-template let-columns="columns" let-elRow #body>
        <tr [pEditableRow]="elRow" [pSelectableRow]="elRow">
          <td>{{ elRow.libelle }}</td>
          <td>{{ elRow.addresspostale }}</td>
          <!-- <td>{{ elRow.email }}</td> -->
          <td>{{ elRow.tel }}</td>
          <td>{{ elRow.numFaxe }}</td>
          <td>{{ elRow.odre }}</td>
          <td>{{ elRow.urlPharmaMl }}</td>
          <td>{{ elRow.codeOfficePharmaMl }}</td>
          <td>{{ elRow.codeRecepteurPharmaMl }}</td>

          <td style="text-align: center">
            <p-button
              (click)="onEdit(elRow)"
              class="mr-1"
              icon="pi pi-pencil"
              rounded="true"
              severity="success"
              pTooltip="Editer"
              [text]="true"
            ></p-button>
            <p-button
              (click)="delete(elRow)"
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true"
              pTooltip="Supprimer"
              [text]="true"
              type="button"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  } @else {
    <div class="alert alert-warning" id="no-result">
      <span>Aucune donnée trouvée</span>
    </div>
  }
</p-panel>

<jhi-spinner #spinner ></jhi-spinner>
