flyway:
  enabled: true
  schemas: pharma_smart
  table: pharma_smart_history


spring:
  application:
    name: pharma-smart
  profiles:
    active: '@spring.profiles.active@'

  jmx:
    enabled: false
  jackson:
    deserialization:
      fail-on-null-for-primitives: false
      fail-on-unknown-properties: false



  cache:
    type: jcache
    jcache:
      provider: com.github.benmanes.caffeine.jcache.spi.CaffeineCachingProvider
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect

    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        generate_statistics: false
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: pharma_smart
        cache:
          region.factory_class: org.hibernate.cache.jcache.JCacheRegionFactory
        use_sql_comments: true
      hibernate.jdbc.time_zone: UTC
      hibernate.timezone.default_storage: NORMALIZE
      hibernate.id.new_generator_mappings: true
      hibernate.connection.provider_disables_autocommit: true
      hibernate.cache.use_second_level_cache: true
      hibernate.cache.use_query_cache: true
      hibernate.jdbc.batch_size: 50
      hibernate.order_inserts: true
      hibernate.order_updates: true
      hibernate.query.fail_on_pagination_over_collection_fetch: true
      hibernate.query.in_clause_parameter_padding: true
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl


  messages:
    basename: i18n/messages


  task:
    execution:
      thread-name-prefix: pharma-smart-task-
      pool:
        core-size: 2
        max-size: 50
        queue-capacity: 10000
    scheduling:
      thread-name-prefix: pharma-smart-scheduling-
      pool:
        size: 2
  thymeleaf:
    mode: HTML



  mail:
    host: smtp.gmail.com
    port: 587
    username: "easyshopws@gmail.com"
    password:
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true


  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  config:
    activate:
      on-profile: '!api-docs'
springdoc:
  api-docs:
    enabled: false
---
management:
  health:
    mail:
      enabled: false

  endpoints:
    web:
      base-path: /management
      exposure:
        include:
          - health

  endpoint:
    health:

      show-details: when_authorized
      roles: 'ROLE_ADMIN'
      probes:
        enabled: true
      group:
        liveness:
          include: livenessState
        readiness:
          include: readinessState,db

server:
  servlet:
    session:
      cookie:
        http-only: true

springdoc:
  show-actuator: false


info:
  display-ribbon-on-profiles: 'dev'


pharma-smart:
  clientApp:
    name: 'pharma-smart'
  # OAuth2 Authorization Server settings
  oauth2:
    issuer-uri: http://localhost:8080
    # Access token expiration times (in seconds)
    access-token-validity:
      web: 7200      # 2 hours
      mobile: 28800  # 8 hours
      desktop: 43200 # 12 hours
      service: 3600  # 1 hour
    # Refresh token expiration times (in seconds)
    refresh-token-validity:
      web: 2592000      # 30 days
      mobile: 7776000   # 90 days
      desktop: 31536000 # 365 days



# application:
port-com:
legacy-url: http://localhost:9090/laborex
mail:
  email: badoukobena@gmail.com


