<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-xl-2 col-xxl-2 col-md-3 col-sm-4">
      <!-- Modern Navigation Sidebar -->
      <div class="pharma-nav-sidebar">
        <div class="pharma-nav-sidebar-card">
          <div class="pharma-nav-sidebar-header">
            <i class="pi pi-clock"></i>
            <span>Gestion des différés</span>
          </div>

          <div class="pharma-nav-sidebar-content">
            <div #nav="ngbNav" [(activeId)]="active" class="nav flex-column nav-pills" ngbNav orientation="vertical">
              <ng-container ngbNavItem="liste">
                <a class="pharma-nav-vertical-link" ngbNavLink>
                  <i class="pi pi-calendar-times"></i>
                  <span>Les différés</span>
                  <span class="link-arrow">›</span>
                </a>
                <ng-template ngbNavContent>
                  <jhi-list-differes></jhi-list-differes>
                </ng-template>
              </ng-container>

              <ng-container ngbNavItem="faire-reglement">
                <a class="pharma-nav-vertical-link" ngbNavLink>
                  <i class="pi pi-check-circle"></i>
                  <span>Liste des règlements</span>
                  <span class="link-arrow">›</span>
                </a>
                <ng-template ngbNavContent>
                  <jhi-reglement-differes></jhi-reglement-differes>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-10 col-lg-10 col-md-9 col-sm-8 row">
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
