<div class="container">

  <div class="justify-content-center ">
    <p-panel>
      <ng-template #header>
        <h3>Liste des familles de produit</h3>
      </ng-template>
      <ng-template #content>
        <p-toolbar>
          <ng-template #start>
            <p-iconfield>
              <p-inputicon styleClass="pi pi-search" />
              <input (keyup.enter)="search($event)" pInputText placeholder="Taper pour rechercher"
                     style="width: 98%" type="text" />
            </p-iconfield>
          </ng-template>
          <ng-template #end>
            <p-button (click)="addNewEntity()" [raised]="true" class="mr-2" icon="pi pi-check"
                      label="Nouveau"
                      severity="primary" type="button"></p-button>
            <p-button
              (click)="showFileDialog()"
              [raised]="true"
              icon="pi pi-upload"
              label="Importer"
              severity="help"
              type="button"
            ></p-button>

          </ng-template>
        </p-toolbar>
        @if (entites && entites.length > 0) {
          <p-table
            (onLazyLoad)="lazyLoading($event)"
            [lazy]="true"
            [loading]="loading"
            [paginator]="true"
            [rows]="itemsPerPage"
            [totalRecords]="totalItems"
            [value]="entites"
            dataKey="id"
            selectionMode="single"
          >
            <ng-template #header>
              <tr>
                <th scope="col"><span>Code</span></th>
                <th scope="col"><span>Libellé</span></th>
                <th scope="col"><span>Catégorie article</span></th>
                <th scope="col"></th>
              </tr>
            </ng-template>
            <ng-template let-columns="columns" let-elRow #body>
              <tr [pEditableRow]="elRow" [pSelectableRow]="elRow">
                <td>{{ elRow.code }}</td>
                <td>{{ elRow.libelle }}</td>
                <td>{{ elRow.categorieLibelle }}</td>
                <td style="text-align: right">
                  <p-button (click)="onEdit(elRow)" [rounded]="true" severity="success"
                            pTooltip="Modifier" [text]="true" icon="pi pi-pencil">
                  </p-button>
                  <p-button (click)="delete(elRow)" [rounded]="true" severity="danger"
                            icon="pi pi-trash" [text]="true" pTooltip="Supprimer">
                  </p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        } @else {
          <div class="alert alert-warning" id="no-result">
            <span>Aucune donnée trouvée</span>
          </div>
        }
      </ng-template>
    </p-panel>


  </div>

</div>
<jhi-confirm-dialog #confirmDialog></jhi-confirm-dialog>
<jhi-toast-alert #alert></jhi-toast-alert>
