@import 'app/shared/scss/pharma-toolbar';
@import 'app/shared/scss/table-common';
@import 'app/shared/scss/dashboard-common';

.cursor-pointer {
  cursor: pointer;
}

.table-danger {
  background-color: rgba(255, 235, 238, 0.3) !important;
  &:hover {
    background-color: rgba(255, 235, 238, 0.5) !important;
  }
}

.table-warning {
  background-color: rgba(255, 243, 224, 0.3) !important;
  &:hover {
    background-color: rgba(255, 243, 224, 0.5) !important;
  }
}

:host ::ng-deep {
  .p-progressbar {
    height: 10px;
    border-radius: 5px;
  }
}

