<div class="reception-hub">
  <!-- Sous-navigation compacte -->
  <div class="reception-hub-tabs">
    <ul
      #nav="ngbNav"
      [(activeId)]="activeTab"
      class="nav nav-tabs pharma-sub-tabs"
      ngbNav
    >
      <li ngbNavItem="en-cours">
        <a ngbNavLink>
          <i class="pi pi-truck me-1"></i>
          Bons en cours
        </a>
        <ng-template ngbNavContent>
          <app-bon-en-cours />
        </ng-template>
      </li>

      <li ngbNavItem="historique">
        <a ngbNavLink>
          <i class="pi pi-list me-1"></i>
          Historique
        </a>
        <ng-template ngbNavContent>
          <app-list-bons />
        </ng-template>
      </li>
    </ul>
  </div>

  <div [ngbNavOutlet]="nav" class="mt-0"></div>
</div>

