
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-xl-2 col-xxl-2  col-md-3 col-sm-4">
      <p-card>
        <div #nav="ngbNav" [(activeId)]="active" class="nav flex-column nav-pills" ngbNav
             orientation="vertical">
          <ng-container ngbNavItem="factures">
            <a class="flex-sm-fill nav-link" ngbNavLink>Les factures</a>
            <ng-template ngbNavContent>
              <jhi-factures></jhi-factures>
            </ng-template>
          </ng-container>
          <p-divider layout="horizontal"></p-divider>
          <ng-container ngbNavItem="edition-facture">
            <a class="flex-sm-fill nav-link" ngbNavLink>Edition de facture</a>
            <ng-template ngbNavContent>
              <jhi-edition></jhi-edition>
            </ng-template>
          </ng-container>
        </div>
      </p-card>
    </div>
    <div class="col-xl-10 col-lg-10 col-md-9 col-sm-8  row">
        <div [ngbNavOutlet]="nav"></div>

    </div>

  </div>
</div>
