<jhi-confirm-dialog #confirmDialog></jhi-confirm-dialog>
<jhi-toast-alert #alert></jhi-toast-alert>

<div class="pharma-smart-content p-2">
  <div class="pharma-toolbar">
    <div class="pharma-toolbar-header">
      <i class="pi pi-truck"></i>
      <span class="pharma-toolbar-title">Menu fournisseurs</span>
    </div>

    <p-toolbar>
      <ng-template #start>
        <div class="pharma-toolbar-filters">
          <div class="pharma-search-input">
            <p-iconfield>
              <p-inputicon class="pi pi-search" />
              <input (keyup.enter)="search($event)" pInputText placeholder="Taper pour rechercher"
                     type="text" />
            </p-iconfield>
          </div>
        </div>
      </ng-template>

      <ng-template #end>
        <div class="pharma-toolbar-actions">
          <div class="pharma-button-group">
            <p-button (click)="showFileDialog()"
                      [raised]="true"
                      icon="pi pi-upload"
                      label="Importer"
                      severity="help"
                      type="button"
            ></p-button>
            <p-button (click)="addNewEntity()" [raised]="true" icon="pi pi-check" label="Nouveau"
                      severity="success" type="button"></p-button>
          </div>
        </div>
      </ng-template>
    </p-toolbar>
  </div>

  @if (entites && entites?.length > 0) {
    <p-table
      (onLazyLoad)="lazyLoading($event)"
      [lazy]="true"
      [loading]="loading"
      [paginator]="true"
      [resizableColumns]="true"
      [rows]="itemsPerPage"
      [totalRecords]="totalItems"
      [value]="entites"
      dataKey="id"
      selectionMode="single"
      class="pharma-table"
    >
      <ng-template #header>
        <tr class="pharma-table-head">
          <th scope="col" style="width: 5%"><span>Code</span></th>
          <th scope="col" style="width: 28%"><span>Libellé</span></th>
          <th scope="col" style="width: 10%"><span>Code postale</span></th>
          <th scope="col" style="width: 15%"><span>Mobile</span></th>
          <th scope="col" style="width: 14%"><span>Téléphone</span></th>
          <!--   <th scope="col" style="width:10%"><span >Numéro Faxe</span> </th> -->
          <th scope="col" style="width: 20%"><span>Groupe</span></th>
          <th scope="col" style="width: 8%"></th>
        </tr>
      </ng-template>
      <ng-template let-columns="columns" let-elRow #body>
        <tr [pEditableRow]="elRow" [pSelectableRow]="elRow">
          <td>
            <span class="pharma-code">{{ elRow.code }}</span>
          </td>
          <td>
            <div class="pharma-entity-name">{{ elRow.libelle }}</div>
          </td>
          <td>{{ elRow.addressePostal }}</td>
          <td>{{ elRow.mobile }}</td>
          <td>{{ elRow.phone }}</td>
          <!-- <td>{{ elRow.numFaxe }}</td> -->
          <td>{{ elRow.groupeFournisseurLibelle }}</td>
          <td style="text-align: center">
            <p-button
              (click)="onEdit(elRow)"
              class="p-mr-2"
              icon="pi pi-pencil"
              pTooltip="Editer"
              severity="success"
              [text]="true"
              [rounded]="true"
              type="button"
            ></p-button>
            <p-button
              (click)="delete(elRow)"
              icon="pi pi-trash"
              pTooltip="Supprimer"
              severity="danger"
              [rounded]="true"
              [text]="true"
              type="button"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  } @else {
    <div class="alert alert-warning" id="no-result">
      <span>Aucune donnée trouvée</span>
    </div>
  }
</div>

<jhi-spinner #spinner ></jhi-spinner>
