<p-toast position="center"></p-toast>
<p-confirmDialog #cd [baseZIndex]="10000" [style]="{width: '40vw'}">
  <p-footer>
    <button (click)="cd.accept()" icon="pi pi-check" label="Oui" pButton type="button"></button>
    <button (click)="cd.reject()" class="p-button-danger" icon="pi pi-times" label="Non" pButton
            type="button"></button>
  </p-footer>
</p-confirmDialog>
<p-dialog [(visible)]="fileDialog" [focusOnShow]="false" [modal]="true"
          [responsive]="true"
          [style]="{width: '50vw'}" header="Importer un fichier" showEffect="fade">
  <div class="ui-g form-group">
    <p-fileUpload (uploadHandler)="onUpload($event)" [customUpload]="true"
                  accept=".txt,.csv,.xls,.xlsx"
                  cancelLabel="Annuler"
                  chooseLabel="Importer un fichier" name="importcsv"
                  uploadLabel="Enrégistrer">
    </p-fileUpload>
  </div>
  <p-footer>
    <button (click)="cancel()" class="p-button-danger p-mr-2 p-button-raised" icon="pi pi-times"
            label="Annuler"
            pButton
            pRipple type="button"></button>

  </p-footer>
</p-dialog>

<div>
  <h3>Liste des grossistes</h3>
  <p-toolbar>
    <div class="p-toolbar-group-left p-md-7">
                    <span class="p-input-icon-left" style="width: 90%;">
                        <i class="pi pi-search"></i>
                        <input (keyup.enter)="search($event)" pInputText
                               placeholder="Taper pour rechercher"
                               style="width:98%;"
                               type="text">
                    </span>
    </div>
    <div class="p-toolbar-group-right">
      <button (click)="showFileDialog()" class="p-button-raised p-button-help mr-2"
              icon="pi pi-upload" label="Importer" pButton
              pRipple type="button"></button>
      <button (click)="addNewEntity()" class="p-button-raised p-button-success" icon="pi pi-check"
              iconPos="left" label="Nouveau" pButton
              pRipple type="button"></button>
    </div>
  </p-toolbar>

  <div *ngIf="entites?.length === 0" class="alert alert-warning" id="no-result">
    <span>Aucune donnée trouvée</span>
  </div>
  <p-table (onLazyLoad)="lazyLoading($event)" *ngIf="entites && entites.length > 0"
           [(selection)]="selectedEl"
           [lazy]="true" [loading]="loading" [paginator]="true" [resizableColumns]="true"
           [rows]="itemsPerPage"
           [totalRecords]="totalItems" [value]="entites" dataKey="id"
           selectionMode="single"
           styleClass="ui-table-cars">

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width:5%"><span>Code</span></th>
        <th scope="col" style="width:28%"><span>Libellé</span></th>
        <th scope="col" style="width:10%"><span>Code postale</span></th>
        <th scope="col" style="width:15%"><span>Mobile</span></th>
        <th scope="col" style="width:14%"><span>Téléphone</span></th>
        <!--   <th scope="col" style="width:10%"><span >Numéro Faxe</span> </th> -->
        <th scope="col" style="width:20%"><span>Groupe</span></th>
        <th scope="col" style="width:8%"></th>
      </tr>
    </ng-template>
    <ng-template let-columns="columns" let-elRow pTemplate="body">
      <tr [pEditableRow]="elRow" [pSelectableRow]="elRow">
        <td>{{ elRow.code }}</td>
        <td>{{ elRow.libelle }}</td>
        <td>{{ elRow.addressePostal }}</td>
        <td>{{ elRow.mobile }}</td>
        <td>{{ elRow.phone }}</td>
        <!-- <td>{{ elRow.numFaxe }}</td> -->
        <td>{{ elRow.groupeFournisseurLibelle }}</td>
        <td style="text-align: center;">
          <button (click)="onEdit(elRow)" class="p-button-rounded p-button-success p-mr-2"
                  icon="pi pi-pencil" pButton pRipple
                  pTooltip="Supprimer" pTooltip="Editer"
                  type="submit"></button>
          <button (click)="delete(elRow)" class="p-button-rounded p-button-warning"
                  icon="pi pi-trash" pButton
                  pRipple type="submit"></button>
        </td>
      </tr>
    </ng-template>

  </p-table>

  <!-- formulaire de creation et d edition-->
  <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
    <p-dialog [(visible)]="displayDialog" [focusOnShow]="false"
              [modal]="true"
              [style]="{width: '650px'}" header="Créer ou éditer un grossiste">
      <p-toast [style]="{marginTop: '30px'}" position="top-center"></p-toast>
      <ngx-spinner [fullScreen]="false" bdColor="rgba(255,255,255,0.5)" color="#f13151"
                   size="medium"
                   type="timer">
      </ngx-spinner>

      <ng-template pTemplate="content">
        <div [hidden]="!editForm.get('id')!.value" class="form-group">

          <input class="form-control" formControlName="id" id="id" name="id" readonly
                 type="hidden" />
        </div>
        <div class="ui-g form-group">
          <label for="field_libelle">Libellé</label>
          <div class="ui-g-12">
            <input autocomplete="off" class="form-control" formControlName="libelle"
                   id="field_libelle"
                   name="libelle"
                   pInputText style="width: 100%;" />
          </div>
          <div
            *ngIf="editForm.get('libelle')!.invalid && (editForm.get('libelle')!.dirty || editForm.get('libelle')!.touched)">
            <small *ngIf="editForm.get('libelle')?.errors?.required" class="form-text text-danger"
                   style="color: red;">
              Ce champ est obligatoire.
            </small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="field_code">Code</label>
            <div class="ui-g-12">
              <input autocomplete="off" class="form-control" formControlName="code" id="field_code"
                     name="code"
                     pInputText style="width: 100%;" type="text" />
            </div>
            <div
              *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
              <small *ngIf="editForm.get('code')?.errors?.required" class="form-text text-danger"
                     style="color: red;">
                Ce champ est obligatoire.
              </small>
            </div>
          </div>
          <div class="form-group col-md-7">
            <label for="field_groupeFournisseur">Groupe</label>
            <div class="ui-g-12" style="margin-bottom:10px">
              <p-dropdown [filter]="true" [options]="groupes" [style]="{'width':'100%'}"
                          [virtualScrollItemSize]="30"
                          [virtualScroll]="true" appendTo="body"
                          formControlName="groupeFournisseurId" id="field_groupeFournisseur"
                          name="groupeFournisseurId" placeholder="Séléctionner un groupe "
                          styleClass="form-control">
              </p-dropdown>

            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="field_mobile">Mobile</label>
            <div class="ui-g-12" style="margin-bottom:10px">

              <input autocomplete="off" formControlName="mobile" id="field_mobile" name="mobile"
                     pInputText
                     pKeyFilter="int" style="width: 100%;" styleClass="form-control" type="text">
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="field_tel">Téléphone</label>
            <div class="ui-g-12" style="margin-bottom:10px">

              <input autocomplete="off" formControlName="phone" id="field_tel" name="phone"
                     pInputText
                     pKeyFilter="int" style="width: 100%;" styleClass="form-control"
                     type="text">
            </div>
          </div>
        </div>
        <div class="ui-g form-group">
          <label for="field_addresspostale">Adresse postale</label>
          <div class="ui-g-12" style="margin-bottom:10px">
            <input autocomplete="off" formControlName="addresspostale" id="field_addresspostale"
                   name="addresspostale"
                   pInputText
                   style="width: 100%;" styleClass="form-control"
                   type="text" />

          </div>
        </div>
      </ng-template>
      <p-footer>

        <button [disabled]="editForm.invalid || isSaving" class="p-button-success p-mr-2"
                icon="pi pi-check" label="Enregistrer"
                pButton
                pRipple type="submit"></button>
        <button (click)="cancel()" class="p-button-danger p-mr-2" icon="pi pi-times" label="Annuler"
                pButton
                pRipple type="button"></button>

      </p-footer>
    </p-dialog>
  </form>
</div>
