
<div class="modal-header">
  <h4 class="modal-title">{{ header }}</h4>
  <button (click)="cancel()" aria-hidden="true" class="btn-close" data-dismiss="modal"
          type="button"></button>
</div>



<form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
  <div class="modal-body">
    <p-card>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label class="col-auto col-form-label">Commentaire<span
            style="font-weight: 900; color: red">*</span></label>
          <input pInputText type="text"  #commentaire class="form-control" formControlName="commentaire"
                    name="commentaire"/>
          @if (editForm.get('commentaire')!.invalid && (editForm.get('commentaire')!.dirty
            || editForm.get('commentaire')!.touched)) {
            <div>
              @if (editForm.get('commentaire')?.errors?.required) {
                <small class="form-text text-danger" style="color: red"> Ce champ est
                  obligatoire. </small>
              }
            </div>
          }
        </div>
      </div>
    </p-card>
  </div>

  <div class="modal-footer">
    <p-button   class="mr-2" (click)="cancel()" icon="pi pi-times" label="Annuler" raised="true" severity="secondary"
              type="button"></p-button>
    <p-button
      [disabled]="editForm.invalid || isSaving"

      icon="pi pi-check"
      label="Valider"
      raised="true"
      severity="success"
      type="submit"
    ></p-button>

  </div>
</form>
<jhi-toast-alert #alert></jhi-toast-alert>
<jhi-spinner #spinner ></jhi-spinner>
