<p-toast position="center"></p-toast>
<form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label class="col-auto col-form-label">Commentaire<span
        style="font-weight: 900;color: red;">*</span></label>
      <textarea #commentaire class="form-control"
                formControlName="commentaire" name="commentaire"
      ></textarea>
      @if (editForm.get('commentaire')!.invalid && (editForm.get('commentaire')!.dirty
        || editForm.get('commentaire')!.touched)) {
        <div>
          @if (editForm.get('commentaire')?.errors?.required) {
            <small class="form-text text-danger"
                   style="color: red;">
              Ce champ est obligatoire.
            </small>
          }


        </div>
      }

    </div>
  </div>
  <div class="mt-2" style="float: right;">
    <p-button [disabled]="editForm.invalid || isSaving"
              class=" mr-2 "
              icon="pi pi-check"
              label="Valider"
              raised="true"
              severity="success"
              type="submit"></p-button>
    <p-button (click)="cancel()"
              icon="pi pi-times"
              label="Annuler"
              raised="true"
              severity="danger"
              type="button"></p-button>
  </div>
</form>
