<p-toast position="center"></p-toast>
<form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label class="col-auto col-form-label">Commentaire<span
        style="font-weight: 900;color: red;">*</span></label>
      <textarea #commentaire
                formControlName="commentaire" name="commentaire" pTextarea
      ></textarea>
      @if (editForm.get('commentaire')!.invalid && (editForm.get('commentaire')!.dirty
        || editForm.get('commentaire')!.touched)) {
        <div>
          @if (editForm.get('commentaire')?.errors?.required) {
            <small class="form-text text-danger"
                   style="color: red;">
              Ce champ est obligatoire.
            </small>
          }


        </div>
      }

    </div>
  </div>
  <div class="mt-2" style="float: right;">
    <button [disabled]="editForm.invalid || isSaving"
            class="p-button-success mr-2 p-button-raised" pButton
            pButtonIcon="pi pi-check"
            pButtonLabel="Valider"
            type="submit"></button>
    <button (click)="cancel()" class="p-button-danger p-mr-2 p-button-raised"
            pButton
            pButtonIcon="pi pi-times"
            pButtonLabel="Annuler"
            type="button"></button>
  </div>
</form>
