<jhi-confirm-dialog #confirmDialog></jhi-confirm-dialog>
<jhi-toast-alert #alert></jhi-toast-alert>

<div class="pharma-smart-content p-2">
  <div class="pharma-toolbar">
    <div class="pharma-toolbar-header">
      <i class="pi pi-users"></i>
      <span class="pharma-toolbar-title">Liste des remises client</span>
    </div>

    <p-toolbar>
      <ng-template #start>
        <div class="pharma-toolbar-filters">
        </div>
      </ng-template>

      <ng-template #end>
        <div class="pharma-toolbar-actions">
          <div class="pharma-button-group">
            <p-button
              (click)="onOpenRemiseClientForm()"
              [raised]="true"
              icon="pi pi-plus"
              label="Nouveau"
              severity="success"
              type="button"
            ></p-button>
          </div>
        </div>
      </ng-template>
    </p-toolbar>
  </div>

  @if (entites && entites?.length > 0) {
    <p-table
      class="pharma-table"
      [loading]="loading"
      [paginator]="false"
      [value]="entites"
      dataKey="id"
      showGridlines="true"
    >
      <ng-template #header>
        <tr class="pharma-table-head">
          <th scope="col" style="width: 30px">#</th>

          <th scope="col"><span>Libellé</span></th>
          <th scope="col"><span>Taux</span></th>
          <th scope="col" class="text-right">Activation/Désactivation</th>
          <th scope="col"></th>
        </tr>
      </ng-template>
      <ng-template let-columns="columns" let-elRow let-rowIndex="rowIndex" #body>
        <tr [pSelectableRow]="elRow">
          <td><span class="pharma-row-number">{{ rowIndex + 1 }}</span></td>

          <td><span class="pharma-entity-name">{{ elRow.valeur }}</span></td>
          <td style="text-align: right"><span class="pharma-qty-value">{{ elRow.remiseValue }}</span></td>

          <td class="text-right">
            <p-toggleswitch (onChange)="onStatusChange(elRow)" [(ngModel)]="elRow.enable" />
          </td>

          <td class="text-right">
            @if (elRow.enable) {
              <p-button
                [text]="true"
                (click)="onOpenRemiseClientForm(elRow)"
                severity="success"
                icon="pi pi-pencil"
                [rounded]="true"
                pTooltip="Editer"
                size="small"
              ></p-button>
            }

            <p-button
              (click)="delete(elRow)"
              [rounded]="true"
              severity="danger"
              [text]="true"
              icon="pi pi-trash"
              size="small"
              pTooltip="Supprimer"
              type="button"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  } @else {
    <div class="alert alert-warning" id="no-result">
      <span>Aucune donnée trouvée</span>
    </div>
  }
</div>
