<jhi-toast-alert #alert></jhi-toast-alert>
<div class="modal-header">
  <h4 class="modal-title">{{ header }}</h4>
  <button (click)="cancel()" aria-label="Close" class="btn-close" type="button"></button>
</div>

<form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
  <div class="modal-body">
    <p-card>
      <div class="form-grid-compact">
        <div [hidden]="!editForm.get('id')!.value" class="form-group">
          <input class="form-control" formControlName="id" id="id" name="id" readonly type="hidden" />
        </div>

        <div class="form-field form-field-full">
          <label class="col-auto col-form-label">Libellé<span class="required">*</span></label>
          <input #libelle autocomplete="off" formControlName="libelle" name="libelle" pInputText type="text" />
          @if (editForm.get('libelle')!.invalid && (editForm.get('libelle')!.dirty || editForm.get('libelle')!.touched)) {
            <div>
              @if (editForm.get('libelle')?.errors?.required) {
                <small class="form-text text-danger" style="color: red"> Ce champ est obligatoire. </small>
              }
            </div>
          }
        </div>
      </div>
    </p-card>
  </div>
  <div class="modal-footer">
    <p-button (click)="cancel()" class="mr-2" icon="pi pi-times" label="Annuler" severity="secondary" type="button"></p-button>
    <p-button
      [disabled]="editForm.invalid || isSaving"
      icon="pi pi-check"
      label="Enregistrer"
      raised="true"
      severity="primary"
      type="submit"
    ></p-button>
  </div>
</form>
