<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <!-- Patterns based on https://github.com/spring-projects/spring-boot/blob/v3.0.0/spring-boot-project/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <conversionRule conversionWord="crlf"
        converterClass="com.kobe.warehouse.config.CRLFLogConverter"/>
    <!-- The FILE and ASYNC appenders are here as examples for a production configuration -->
    <!--
    <property name="FILE_LOG_PATTERN" value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } &#45;&#45;&#45; [%t] %-40.40logger{39} : %crlf(%m) %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    -->

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- The FILE and ASYNC appenders are here as examples for a production configuration -->
    <!--
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
    </appender>

    <root level="${logging.level.root}">
        <appender-ref ref="ASYNC"/>
    </root>
    -->

    <logger level="DEBUG" name="com.kobe.warehouse"/>

    <logger level="WARN" name="angus.activation"/>
    <logger level="WARN" name="jakarta.activation"/>
    <logger level="WARN" name="jakarta.mail"/>
    <logger level="OFF" name="jakarta.management.remote"/>
    <logger level="WARN" name="jakarta.xml.bind"/>
    <logger level="INFO" name="jdk.event.security"/>
    <logger level="WARN" name="com.ryantenney"/>
    <logger level="WARN" name="com.sun"/>
    <logger level="WARN" name="com.zaxxer"/>
    <logger level="WARN" name="io.undertow"/>
    <logger level="ERROR" name="io.undertow.websockets.jsr"/>
    <logger level="WARN" name="org.apache"/>
    <logger level="OFF" name="org.apache.catalina.startup.DigesterFactory"/>
    <logger level="WARN" name="org.bson"/>
    <logger level="WARN" name="org.hibernate.validator"/>
    <logger level="WARN" name="org.hibernate"/>
    <logger level="OFF" name="org.hibernate.ejb.HibernatePersistence"/>
    <logger level="WARN" name="org.springframework"/>
    <logger level="WARN" name="org.springframework.web"/>
    <logger level="WARN" name="org.springframework.security"/>
    <logger level="INFO" name="org.springframework.boot.autoconfigure.logging"/>
    <logger level="WARN" name="org.springframework.cache"/>
    <logger level="WARN" name="org.thymeleaf"/>
    <logger level="WARN" name="org.xnio"/>
    <logger level="INFO" name="io.swagger.v3"/>
    <logger level="WARN" name="sun.rmi"/>
    <logger level="WARN" name="sun.rmi.transport"/>
    <!-- See https://github.com/jhipster/generator-jhipster/issues/13835 -->
    <logger level="INFO" name="Validator"/>
    <!-- See https://github.com/jhipster/generator-jhipster/issues/14444 -->
    <logger level="INFO" name="_org.springframework.web.servlet.HandlerMapping.Mappings"/>
    <logger level="WARN" name="liquibase"/>
    <logger level="INFO" name="LiquibaseSchemaResolver"/>
    <!-- jhipster-needle-logback-add-log - JHipster will add a new log with level -->

    <property name="CONSOLE_LOG_PATTERN"
        value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %crlf(%m){red} %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <property name="CONSOLE_LOG_PATTERN"
        value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %crlf(%m){red} %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <root>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
