.prevente-modal tr {

  cursor: pointer !important;
}

.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  padding: 0.1rem 0.1rem !important;
}

.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  padding: 0.1rem 0.1rem;
}

.prevente-modal .active {
  background-color: #95caf9 !important;
}
