.prevente-modal tr {

  cursor: pointer !important;
}

.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  padding: 0.1rem 0.1rem !important;
}

.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  padding: 0.1rem 0.1rem;
}

.prevente-modal .active {
  background-color: #95caf9 !important;
}

.text-xl {
  font-size: 1.25rem !important;
}

.font-semibold {
  font-weight: 600 !important;
}

.p-sidebar-header {
  display: flex !important;
  justify-content: space-between !important;
  padding: 0.5rem 1rem;
}
