<p-toast position="center"></p-toast>
<p-dialog [(visible)]="onErrorOccur" [focusOnShow]="false" [modal]="true" [responsive]="true"
          [style]="{width: '50vw'}" header="Message" showEffect="fade">
  <p>
    <jhi-alert-error></jhi-alert-error>
  </p>
  <p-footer>
    <button (click)="cancel()" class="p-button-danger mr-2 p-button-raised" icon="pi pi-times"
            label="Annuler" pButton
            pRipple type="button"></button>

  </p-footer>
</p-dialog>

<p-confirmDialog #cd [baseZIndex]="10000" [style]="{width: '40vw'}">
  <p-footer>
    <button (click)="cd.accept()" icon="pi pi-check" label="Oui" pButton type="button"></button>
    <button (click)="cd.reject()" class="p-button-danger" icon="pi pi-times" label="Non" pButton
            type="button"></button>
  </p-footer>
</p-confirmDialog>
<p-confirmDialog #deleteFournisseur [baseZIndex]="10000" [style]="{width: '50vw'}"
                 key="deleteFournisseur">
  <p-footer>
    <button (click)="deleteFournisseur.reject()" class="p-button-danger" icon="pi pi-times"
            label="Non" pButton
            type="button"></button>
    <button (click)="deleteFournisseur.accept()" icon="pi pi-check" label="Oui" pButton
            type="button"></button>
  </p-footer>

</p-confirmDialog>


<p-dialog [(visible)]="fileDialog" [focusOnShow]="false" [modal]="true" [responsive]="true"
          [style]="{width: '50vw'}" header="Importer un fichier" showEffect="fade">
  <div class="ui-g form-group">
    <p-fileUpload (uploadHandler)="onUpload($event)" [customUpload]="true"
                  accept=".txt,.csv,.xls,.xlsx"
                  cancelLabel="Annuler"
                  chooseLabel="Importer un fichier" name="importcsv" uploadLabel="Enrégistrer">
    </p-fileUpload>
  </div>
  <p-footer>
    <button (click)="cancel()" class="p-button-danger mr-2 p-button-raised" icon="pi pi-times"
            label="Annuler" pButton
            pRipple type="button"></button>

  </p-footer>
</p-dialog>

<p-dialog [(visible)]="fileDialog" [focusOnShow]="false" [modal]="true" [responsive]="true"
          [style]="{width: '50vw'}" header="Importer un fichier csv" showEffect="fade">
  <div class="ui-g form-group">
    <p-fileUpload (uploadHandler)="onUpload($event)" [customUpload]="true"
                  accept=".txt,.csv,.xls,.xlsx"
                  cancelLabel="Annuler"
                  chooseLabel="Importer un fichier" name="importcsv" uploadLabel="Enrégistrer">
    </p-fileUpload>
  </div>
  <p-footer>
    <button (click)="cancel()" class="p-button-danger mr-2 p-button-raised" icon="pi pi-times"
            label="Annuler" pButton
            pRipple type="button"></button>

  </p-footer>
</p-dialog>

<p-dialog [(visible)]="jsonDialog" [focusOnShow]="false" [modal]="true" [responsive]="true"
          [style]="{width: '50vw'}" header="Importer un fichier json" showEffect="fade">
  <div class="ui-g form-group">
    <p-fileUpload (uploadHandler)="onUploadJson($event)" [customUpload]="true" accept=".json"
                  cancelLabel="Annuler"
                  chooseLabel="Importer un fichier" name="importjson" uploadLabel="Enrégistrer">
    </p-fileUpload>
  </div>
  <p-footer>
    <button (click)="cancel()" class="p-button-danger mr-2 p-button-raised" icon="pi pi-times"
            label="Annuler" pButton
            pRipple type="button"></button>
  </p-footer>
</p-dialog>
<p-dialog [(visible)]="stockFileJsonDialog" [focusOnShow]="false" [modal]="true"
          [responsive]="true"
          [style]="{width: '50vw'}" header="Mise du stock à partir d'un fichier json"
          showEffect="fade">
  <div class="ui-g form-group">
    <p-fileUpload (uploadHandler)="onUpload($event)" [customUpload]="true"
                  accept=".txt,.csv,.xls,.xlsx"
                  cancelLabel="Annuler"
                  chooseLabel="Importer un fichier" name="stockjson" uploadLabel="Enrégistrer">
    </p-fileUpload>
  </div>
  <p-footer>
    <button (click)="cancel()" class="p-button-danger mr-2 p-button-raised" icon="pi pi-times"
            label="Annuler" pButton
            pRipple type="button"></button>

  </p-footer>
</p-dialog>


<p-dialog [(visible)]="responseDialog" [focusOnShow]="false" [modal]="true" [responsive]="true"
          [style]="{width: '500px'}"
          header="Message" showEffect="fade">
  <div class="ui-g form-group">
    <p>Le nombre de lignes insérées <span
      style="font-weight: 900; margin-left: 10px;"> {{responsedto?.size}}
      /{{responsedto?.totalSize}}</span>
    </p>
  </div>
</p-dialog>
<div>
  <h4 id="page-heading">
    <span jhiTranslate="warehouseApp.produit.home.title">Produits</span>
  </h4>
  <p-toolbar>
    <div class="p-toolbar-group-left p-md-8">
      <div class="row">
        <div class="col">
          <p-dropdown (onChange)="filtreClik()" [(ngModel)]="selectedCriteria" [filter]="false"
                      [options]="filtesProduits" placeholder="Filtrer par critère"
                      styleClass="dropdown-width">
          </p-dropdown>
        </div>

        <div class="col">
          <p-dropdown (onChange)="filtreRayon($event)" [(ngModel)]="selectedRayon" [filter]="true"
                      [options]="rayons" placeholder="Séléctionner un rayon "
                      styleClass="dropdown-width">
          </p-dropdown>

        </div>
        <div class="col">
          <p-dropdown (onChange)="filtreFamilleProduit($event)" [(ngModel)]="selectedFamille"
                      [filter]="true" [options]="familles" placeholder="Séléctionner une famille"
                      styleClass="dropdown-width">
          </p-dropdown>
        </div>
        <div class="col">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input (keyup.enter)="onSearch($event)" pInputText
                                       placeholder="Taper pour rechercher"
                                       type="text">
                            </span>
        </div>

      </div>

    </div>
    <div class="p-toolbar-group-right">
      <p-splitButton [model]="splitbuttons" icon="pi pi-upload" label="Importation"
                     styleClass="p-button-raised p-button-help mr-2 mb-2"></p-splitButton>
      <button [routerLink]="['/produit/new']" class="p-button-raised  mb-2 p-button-success "
              pButton
              pRipple type="button">
        <i class="pi pi-plus"></i>
        <span jhiTranslate="warehouseApp.produit.home.createLabel">
                Create a new Produit
            </span>
      </button>
    </div>
  </p-toolbar>
  <div *ngIf="produits?.length === 0" class="alert alert-warning" id="no-result">
    <span jhiTranslate="warehouseApp.produit.home.notFound">No produits found</span>
  </div>
  <hr>
  <p-table [rowExpandMode]="rowExpandMode" [value]="produits" dataKey="id"
           styleClass="p-datatable-gridlines ">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:3%"></th>
        <th style="width:8%">Cip</th>
        <th style="width:11%">Code EAN</th>
        <th style="width:24%"><span jhiTranslate="warehouseApp.produit.libelle">Libelle</span>
        </th>
        <th style="text-align:right;width:6%"><span
          jhiTranslate="warehouseApp.produit.quantity">Quantity</span>
        </th>

        <th style="text-align:right;width:8%"><span
          jhiTranslate="warehouseApp.produit.costAmount">Prix achat </span>
        </th>
        <th style="text-align:right;width:8%"><span
          jhiTranslate="warehouseApp.produit.regularUnitPrice">Regular Unit Price</span>

        </th>
        <th style="text-align:right;width:6%">Qté.Reap</th>
        <th style="text-align:right;width:6%">Qté Mini</th>
        <th style="width:7%;text-align: center;">Status</th>
        <th style="width:13%"></th>
      </tr>
    </ng-template>
    <ng-template let-expanded="expanded" let-produit pTemplate="body">
      <tr>
        <td>
          <button [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                  [pRowToggler]="produit"
                  class="p-button-text p-button-rounded p-button-plain" pButton
                  pRipple
                  type="button"></button>
        </td>
        <td>{{ produit.codeCip }}</td>
        <td>{{ produit.codeEan }}</td>
        <td>{{ produit.libelle }}</td>
        <td style="text-align:right;">{{ produit.totalQuantity |number }}</td>
        <td style="text-align:right;">{{ produit.costAmount |number }}</td>
        <td style="text-align:right;">{{ produit.regularUnitPrice |number }}</td>
        <td style="text-align:right;">{{ produit.qtyAppro |number }}</td>
        <td style="text-align:right;">{{ produit.qtySeuilMini |number }}</td>
        <td></td>
        <td class="text-right">
          <div class="btn-group">
            <button [routerLink]="['/produit', produit.id, 'view']" class="btn btn-info btn-sm"
                    type="submit">
              <fa-icon icon="eye"></fa-icon>

            </button>

            <button *ngIf="produit.typeProduit==='PACKAGE'"
                    [routerLink]="['/produit', produit.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-placement="left" data-toggle="tooltip" title="Tooltip on bottom"
                    type="submit">
              <fa-icon icon="pencil-alt"></fa-icon>

            </button>
            <button (click)="editDetail(produit)" *ngIf="produit.typeProduit==='DETAIL'"
                    class="btn btn-primary btn-sm"
                    data-placement="left" data-toggle="tooltip" title="Tooltip on bottom"
                    type="submit">
              <fa-icon icon="pencil-alt"></fa-icon>

            </button>
            <button (click)="addDetail(produit)"
                    *ngIf="produit.deconditionnable && produit.produits?.length==0"
                    class="btn btn-warning btn-sm"
                    type="submit">
              <fa-icon [icon]="faPlusCircle"></fa-icon>
            </button>
            <button (click)="decondition(produit)" *ngIf="produit.deconditionnable"
                    class="btn btn-secondary btn-sm"
                    type="button">
              <fa-icon [icon]="faCut"></fa-icon>
            </button>
            <button [routerLink]="['/produit', produit.id, 'detail']" class="btn btn-success btn-sm"
                    type="submit">
              <i class="pi pi-list"></i>
              <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.addimage">Add image</span>-->
            </button>
            <button (click)="delete(produit)" class="btn btn-danger btn-sm" type="submit">
              <fa-icon icon="times"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template let-elRow pTemplate="rowexpansion">
      <tr>
        <td colspan="11">
          <div class="row">
            <div class="row col-md-6">
              <div class="card col-md-12">
                <div class="card-header bg-info text-white">INFORMATIONS GENERALES</div>
                <div class="card-body">
                  <table class="invoice-table table table-striped">
                    <tbody>
                    <tr>
                      <td class="firstColumn">
                        PMP
                      </td>
                      <td class="secondColumn">{{elRow?.prixMnp |number}}
                      </td>

                      <td class="firstColumn">
                        Etiquette
                      </td>
                      <td class="secondColumn">{{elRow?.typeEtyquetteLibelle
                        }}
                      </td>

                    </tr>

                    <tr>
                      <td class="firstColumn">
                        Date dernière vente
                      </td>
                      <td class="secondColumn">{{elRow?.lastDateOfSale |date:'dd/MM/yyyy HH:mm' }}
                      </td>
                      <td class="firstColumn">
                        Date dernière entrée en stock
                      </td>
                      <td class="secondColumn">{{elRow?.lastOrderDate | date:'dd/MM/yyyy HH:mm' }}
                      </td>

                    </tr>

                    <tr>
                      <td class="firstColumn">
                        Date de création
                      </td>
                      <td class="secondColumn">{{elRow?.createdAt |date:'dd/MM/yyyy HH:mm' }}
                      </td>
                      <td class="firstColumn">
                        Date dernière inventaire
                      </td>
                      <td
                        class="secondColumn">{{elRow?.lastInventoryDate |date:'dd/MM/yyyy HH:mm' }}
                      </td>

                    </tr>
                    <tr>
                      <td class="firstColumn">
                        Date péremption
                      </td>
                      <td class="secondColumn">{{elRow?.perimeAt |date:'dd/MM/yyyy HH:mm' }}
                      </td>
                      <td class="firstColumn">
                        Tva
                      </td>
                      <td class="secondColumn">{{elRow?.tvaTaux }}

                      </td>
                    </tr>
                    <tr>
                      <td class="firstColumn">
                        Quantité détail
                      </td>
                      <td class="secondColumn">{{elRow?.itemQty
                        }}
                      </td>

                      <td class="firstColumn">
                        Forme
                      </td>
                      <td class="secondColumn">{{elRow?.formeLibelle }}
                      </td>

                    </tr>
                    <tr>
                      <td class="firstColumn">
                        Famille
                      </td>
                      <td class="secondColumn">{{elRow?.familleLibelle }}

                      </td>
                      <td class="firstColumn">
                        Laboratoire
                      </td>
                      <td class="secondColumn">{{elRow?.laboratoireLibelle }}
                      </td>

                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card col-md-12 mt-1">
                <div class="card-header bg-warning text-white">GESTION DES RAYONS</div>
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th style="width: 15%;">Code rayon</th>
                      <th style="width: 45%;">Libelle rayon</th>
                      <th *ngIf="!isMono" style="width:30%;">Stockage</th>
                      <th *ngIf="!isMono" style="width:10%; text-align:right;">
                        <button class="p-button-rounded p-button-primary"
                                icon="pi pi-plus" pButton
                                pTooltip="Ajouter un rayon"></button>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                      *ngFor="let rayon of elRow?.rayonProduits; let i = index">
                      <td>{{rayon.codeRayon}}</td>
                      <td>{{rayon.libelleRayon}}</td>
                      <td *ngIf="!isMono">{{rayon.libelleStorage}}</td>
                      <td *ngIf="!isMono">
                        <button class="p-button-rounded p-button-danger p-button-sm  p-mb-3"
                                icon="pi pi-trash" pButton
                                pRipple
                                pTooltip="Supprimer"></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>


            <div class="card col-md-6 ml-1">
              <div class="card-header bg-success text-white">INFORMATIONS COMPLEMENTAIRES</div>
              <div class="card-body">
                <div *ngIf="!isMono">
                  <h5 class="card-title">Repartition du stock</h5>
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th style="width:60%;">Stockage</th>
                      <th style="width:10%;">Stock</th>
                      <th pTooltip="Repartir le stock" style="text-align:right;width:30%;">
                        <button class="p-button-rounded p-button-primary" icon="pi pi-plus"
                                pButton></button>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let stock of elRow?.stockProduits; let i = index">
                      <td>{{stock.storageName}}</td>
                      <td>{{stock.qtyStock | number}}</td>
                      <td style="text-align: right;">
                        <button class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil"
                                pButton
                                pRipple
                        ></button>
                        <button class="p-button-rounded p-button-danger" icon="pi pi-trash" pButton
                                pRipple
                        ></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <hr>
                <div class="mt-1">
                  <h5 class="card-title bg-info text-white">Gestion des grossistes du produit</h5>
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th style="width:30%">Grossiste</th>
                      <th style="width:15%">Cip</th>
                      <th style="width:12%">Prix.A</th>
                      <th style="width:12%">Prix.U</th>
                      <th style="width: 31%;text-align:right;">
                        <button (click)="addFournisseur(elRow)"
                                class="p-button-rounded p-button-sm  p-button-primary"
                                icon="pi pi-plus" pButton
                                pTooltip="Ajouter un fournisseur"></button>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                      *ngFor="let four of elRow?.fournisseurProduits; let i = index">
                      <td>{{four.fournisseurLibelle}}</td>
                      <td>{{four.codeCip}}</td>
                      <td>{{four.prixAchat | number}}</td>
                      <td>{{four.prixUni | number}}</td>
                      <td style="text-align: right;">
                        <p-inputSwitch (onChange)="onChangeDefaultProduitFournisseur($event,four)"
                                       [(ngModel)]="four.principal"

                                       pTooltip="Changer en fournisseur principal">
                        </p-inputSwitch>
                        <button (click)="editFournisseur(elRow,four)"
                                class="p-button-rounded p-button-success p-button-sm p-mr-2 p-ml-2 p-mb-3"
                                icon="pi pi-pencil"
                                pButton pRipple
                                pTooltip="Editer"></button>

                        <button (click)="confirmDeleteProduitFournisseur(four,elRow)"
                                class="p-button-rounded p-button-danger p-button-sm  p-mb-3"
                                icon="pi pi-trash"
                                pButton
                                pRipple
                                pTooltip="Supprimer"></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </div>


            </div>
          </div>
        </td>
      </tr>

    </ng-template>
  </p-table>

  <div *ngIf="produits && produits.length > 0" class="mt-2">


    <div class="d-flex justify-content-center">
      <ngb-pagination (pageChange)="loadPage($event)" [(page)]="ngbPaginationPage"
                      [boundaryLinks]="true"
                      [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage"
                      [rotate]="true"></ngb-pagination>
    </div>


  </div>
</div>
