<p-panel header="Menu remises" styleClass="main-panel">
  <div class="row entree-stock-gestion">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">

      <p-card>
        <div #nav="ngbNav" [(activeId)]="active" class="nav flex-column nav-pills " ngbNav
             orientation="vertical">
          <ng-container ngbNavItem="remise-produit">
            <a class="flex-sm-fill nav-link " ngbNavLink>Remises produit</a>
            <ng-template ngbNavContent>
              <jhi-remise-produits></jhi-remise-produits>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem="remise-client">
            <a class="flex-sm-fill nav-link " ngbNavLink>Remises client</a>
            <ng-template ngbNavContent>
              <jhi-remise>

              </jhi-remise>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem="code-remise-produit">
            <a class="flex-sm-fill nav-link " ngbNavLink>Codes remise</a>
            <ng-template ngbNavContent>
              <jhi-code-remise-produit>

              </jhi-code-remise-produit>
            </ng-template>
          </ng-container>
        </div>
      </p-card>
    </div>
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 row ">
      <div [ngbNavOutlet]="nav">

      </div>
    </div>
  </div>
</p-panel>





