<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-xl-2 col-xxl-2 col-md-3 col-sm-4">
      <!-- Modern Navigation Sidebar -->
      <div class="pharma-nav-sidebar">
        <div class="pharma-nav-sidebar-card">
          <div class="pharma-nav-sidebar-header">
            <i class="pi pi-percentage"></i>
            <span>Gestion remises</span>
          </div>

          <div class="pharma-nav-sidebar-content">
            <div
              #nav="ngbNav"
              [(activeId)]="active"
              class="nav flex-column nav-pills"
              ngbNav
              orientation="vertical"
            >
              <ng-container ngbNavItem="remise-produit">
                <a class="pharma-nav-vertical-link" ngbNavLink>
                  <i class="pi pi-box"></i>
                  <span>Remises produit</span>
                  <span class="link-arrow">›</span>
                </a>
                <ng-template ngbNavContent>
                  <jhi-remise-produits></jhi-remise-produits>
                </ng-template>
              </ng-container>

              <ng-container ngbNavItem="remise-client">
                <a class="pharma-nav-vertical-link" ngbNavLink>
                  <i class="pi pi-users"></i>
                  <span>Remises client</span>
                  <span class="link-arrow">›</span>
                </a>
                <ng-template ngbNavContent>
                  <jhi-remise></jhi-remise>
                </ng-template>
              </ng-container>

              <ng-container ngbNavItem="code-remise-produit">
                <a class="pharma-nav-vertical-link" ngbNavLink>
                  <i class="pi pi-tag"></i>
                  <span>Codes remise</span>
                  <span class="link-arrow">›</span>
                </a>
                <ng-template ngbNavContent>
                  <jhi-code-remise-produit></jhi-code-remise-produit>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-10 col-xl-10 col-xxl-10 col-md-9 col-sm-8">
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
