<div class="modal-header">
  <h6 class="modal-title">Code facture <span
    class="badge rounded-pill text-bg-light"> {{ reglement.codeFacture }}</span></h6>

  <button (click)="cancel()" aria-hidden="true" class="close" data-dismiss="modal"
          type="button">&times;
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="d-flex flex-row">
      <div class="p-2">Date règlement: <span
        class="badge rounded-pill text-bg-light">{{ reglement.created }}</span>
      </div>
      <div class="p-2">Montant attendu: <span
        class="badge rounded-pill text-bg-light">{{ reglement.montantAttendu }}</span>
      </div>

      <div class="p-2">Montant règlé: <span
        class="badge rounded-pill text-bg-light">{{ reglement.paidAmount }}</span>
      </div>
      <div class="p-2">Montant restant: <span
        class="badge rounded-pill text-bg-light">{{ reglement.montantRestant }}</span>
      </div>
      <div class="p-2">Mode règlement: <span
        class="badge rounded-pill text-bg-light">{{ reglement.paymentMode }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5 col-md-5 col-lg-5 col-sm-12">

      <p-panel header="Factures règlées">

        <p-table #fact [(selection)]="selectedItem"
                 [globalFilterFields]="['organisme', 'codeFacture']"
                 [scrollHeight]="scrollHeight"
                 [value]="reglements" dataKey="id"
                 selectionMode="single"
                 styleClass="p-datatable-striped">
          <ng-template pTemplate="caption">
            <div class="d-flex">

              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input (input)="fact.filterGlobal($event.target.value, 'contains')"
                       pInputText
                       placeholder="Filtrer"
                       type="text" />
            </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Organisme</th>
              <th>Code facture</th>
              <th>Montant attendu</th>
              <th>Montant règlé</th>
              <th>Montant restant</th>
            </tr>
          </ng-template>
          <ng-template let-reglement pTemplate="body">
            <tr (click)="onRowSelect(reglement)">
              <td>{{ reglement.organisme }}</td>
              <td>{{ reglement.codeFacture }}</td>
              <td class="text-right">{{ reglement.montantAttendu }}</td>
              <td class="text-right">{{ reglement.paidAmount }}</td>
              <td class="text-right">{{ reglement.montantRestant }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>

    </div>


    <div class="col-xl-7 col-md-7 col-lg-7 col-sm-12">
      @if (selectedItem) {
        <p-panel header="Dossiers">

          <p-table #fact
                   [globalFilterFields]="['numBon', 'customer', 'customerMatricule']"
                   [scrollHeight]="scrollHeight"
                   [scrollable]="true"
                   [value]="datas"
                   styleClass="p-datatable-striped">
            <ng-template pTemplate="caption">
              <div class="d-flex">

                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input (input)="fact.filterGlobal($event.target.value, 'contains')"
                         pInputText
                         placeholder="Filtrer"
                         type="text" />
              </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Num.Bon</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Assuré</th>
                <th>Matricule assuré</th>
                <th>Montant dossier</th>
                <th>Montant attendu</th>
                <th>Montant règlé</th>
                <th>Montant restant</th>

              </tr>
            </ng-template>
            <ng-template let-factureDetail pTemplate="body">
              <tr>
                <td>{{ factureDetail.numBon }}</td>
                <td>{{ factureDetail.created }}</td>
                <td>{{ factureDetail.heure }}</td>
                <td>{{ factureDetail.customer }}</td>
                <td>{{ factureDetail.customerMatricule }}</td>
                <td class="text-right">{{ factureDetail.montantVente }}</td>
                <td class="text-right">{{ factureDetail.montantAttendu }}</td>
                <td class="text-right">{{ factureDetail.montant }}</td>
                <td class="text-right">{{ factureDetail.montantRestant }}</td>

              </tr>
            </ng-template>
          </p-table>
        </p-panel>
      }


    </div>
  </div>
</div>
