@import 'app/shared/scss/pharma-toolbar';
@import 'app/shared/scss/split-panel';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.split-container.panel-open .list-column {
  flex: 0 0 42%;
  max-width: 42%;
}

.detail-column {
  flex: 0 0 58%;
  max-width: 58%;
}
