<app-float-label inputId="produitbox" label="{{ 'warehouseApp.labels.produits' | translate }}">
  <app-select-search
    #produitbox
    (keydown)="onKeyDown($event)"
    (ngModelChange)="onNgModelChange($event)"
    (searched)="searchFn($event)"
    (selectionChange)="onSelect()"
    [(ngModel)]="produitSelected"
    [appendTo]="APPEND_TO"
    [clearable]="showClear()"
    [disabled]="disabled()"
    [items]="produits()"
    [minSearchLength]="PRODUIT_COMBO_MIN_LENGTH"
    [optionTemplate]="produitItem"
    [style]="style()"
    [typeahead]="typeaheadSink$"
    bindLabel="libelle"
    inputId="produitbox"
    placeholder=" "
  />
  <ng-template #produitItem let-item>
    <div class="product-item-row">
      <span [class.stockless]="item.totalQuantity <= 0" class="product-cip">
        {{ item.fournisseurProduit?.codeCip }}
      </span>
      <span [class.stockless]="item.totalQuantity <= 0" class="product-name">
        {{ item.libelle }}
      </span>
      <span class="product-item-right">
      <span
        [class.stock-low]="item.totalQuantity > 0 && item.totalQuantity <= 5"
        [class.stock-ok]="item.totalQuantity > 0 && item.totalQuantity > 5"
        [class.stock-out]="item.totalQuantity <= 0"
        [title]="item.totalQuantity <= 0 ? 'Rupture de stock' : 'Stock disponible : ' + item.totalQuantity"
        class="stock-badge">
          <i [class.pi-check-circle]="item.totalQuantity > 5"
             [class.pi-exclamation-circle]="item.totalQuantity > 0 && item.totalQuantity <= 5"
             [class.pi-times-circle]="item.totalQuantity <= 0"
             class="pi"></i>
        {{ item.totalQuantity | number }}
        </span>
        @if ((item.reserveQuantity || 0) > 0) {
          <span [title]="'Réserve : ' + item.reserveQuantity" class="reserve-badge">
            <i class="pi pi-box" style="font-size: 0.7rem"></i> {{ item.reserveQuantity | number }}
          </span>
        }
        <span [class.stockless]="item.totalQuantity <= 0" class="product-price">
          {{ item.fournisseurProduit?.prixUni | number }}
        </span>
      </span>
    </div>
  </ng-template>
</app-float-label>
