@if (dossierFactureProjection()) {
  <p-fieldset [toggleable]="true" legend="Infos facture">
    @if (dossierFactureProjection().categorie) {
      <div class="grid">
        <div class="col-12">
          <div class="field">
            <label>Type tiers payant</label>
            <span>{{ dossierFactureProjection().categorie }}</span>
          </div>
          <div class="field">
            <label>Tiers payant</label>
            <span>{{ dossierFactureProjection().name }}</span>
          </div>

          <div class="field">
            <label>Code facture</label>
            <span>{{ dossierFactureProjection().numFacture }}</span>
          </div>
          <div class="field">
            <label>Dossiers</label>
            <span class="text-danger">{{ dossierFactureProjection().itemCount | number }}</span>
          </div>
          <div class="field">
            <label>Montant total</label>
            <span class="text-primary">{{ dossierFactureProjection().montantTotal | number }}</span>
          </div>
          @if (dossierFactureProjection().montantDetailRegle > 0) {
            <div class="field">
              <label>Montant payé</label>
              <span
                class="text-success">{{ dossierFactureProjection().montantDetailRegle | number }}</span>
            </div>

          }
          <div class="field">
            <label>Montant restant</label>
            <span class="montant text-primary">{{
                dossierFactureProjection().montantTotal
                - dossierFactureProjection().montantDetailRegle | number
              }}</span>
          </div>

          <div class="field">
            <label>Montant à payer</label>
            <span class="montant-payer montant text-danger">{{ montantApayer | number }}</span>
          </div>

          <div class="field">
            <label>Monnaie</label>
            <span class="montant-payer montant text-danger">{{ monnaie() | number }}</span>
          </div>

        </div>
      </div>
    }
  </p-fieldset>
}
