<div class="container-fluid">
  <div class="pharma-smart-content p-2">

    <div class="pharma-toolbar">
      <div class="pharma-toolbar-header">
        <i class="pi pi-users"></i>
        <span class="pharma-toolbar-title">Utilisateurs</span>
      </div>
      <p-toolbar>
        <ng-template #start>
          <div class="pharma-toolbar-filters">
          </div>
        </ng-template>
        <ng-template #end>
          <p-button
            [routerLink]="['./new']"
            icon="pi pi-plus"
            label="Nouvel utilisateur"
            [raised]="true"
            severity="primary"
          />
        </ng-template>
      </p-toolbar>
    </div>

    @if (users() !== null) {
      <p-table
        [value]="filteredUsers()"
        [rowHover]="true"
        [paginator]="true"
        [rows]="itemsPerPage"
        class="mt-2 p-datatable-sm"
      >
        <ng-template #caption>
          <div class="d-flex justify-content-end">
            <p-iconfield>
              <p-inputicon class="pi pi-search" />
              <input
                pInputText
                type="text"
                placeholder="Rechercher…"
                (input)="onFilter($event)"
              />
            </p-iconfield>
          </div>
        </ng-template>

        <ng-template #header>
          <tr class="pharma-table-head">
            <th>Login</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Rôle</th>
            <th>Statut</th>
            <th class="text-end">Actions</th>
          </tr>
        </ng-template>

        <ng-template #body let-user>
          <tr>
            <td>
              <a [routerLink]="['./', user.login, 'view']" class="fw-semibold">{{ user.login }}</a>
            </td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.firstName }}</td>
            <td>

                <span class="pharma-badge pharma-badge-info me-1">{{ user.authority?.libelle }}</span>

            </td>
            <td>
              <div class="d-flex align-items-center gap-2">
                <!-- Badge statut (indicateur, non-cliquable) -->
                @if (user.activated) {
                  <span class="pharma-badge pharma-badge-success">Actif</span>
                } @else {
                  <span class="pharma-badge pharma-badge-secondary">Inactif</span>
                }
                <!-- Bouton action (label = ce qui va se passer) -->
                @if (!user.activated) {
                  <p-button
                    label="Activer"
                    icon="pi pi-power-off"
                    severity="success"
                    size="small"
                    [outlined]="true"
                    (onClick)="setActive(user, true)"
                  />
                } @else {
                  @if (user.id !== 3) {
                    <p-button
                      label="Désactiver"
                      icon="pi pi-ban"
                      severity="danger"
                      size="small"
                      [outlined]="true"
                      [disabled]="currentAccount()?.login === user.login"
                      (onClick)="setActive(user, false)"
                    />

                  }

                }
              </div>
            </td>
            <td class="text-end">
              <p-button
                [rounded]="true"
                [text]="true"
                [routerLink]="['./', user.login, 'view']"
                icon="pi pi-eye"
                severity="info"
                pTooltip="Voir"
              />
              <p-button
                [rounded]="true"
                [text]="true"
                [routerLink]="['./', user.login, 'edit']"
                icon="pi pi-pencil"
                severity="primary"
                pTooltip="Modifier"
              />
              @if (user.id !== 3) {
                <p-button
                  [rounded]="true"
                  [text]="true"
                  icon="pi pi-trash"
                  severity="danger"
                  pTooltip="Supprimer"
                  [disabled]="currentAccount()?.login === user.login"
                  (onClick)="deleteUser(user)"
                />
              }

            </td>
          </tr>
        </ng-template>

        <ng-template #emptymessage>
          <tr>
            <td colspan="6" class="text-center text-muted py-4">Aucun utilisateur trouvé.</td>
          </tr>
        </ng-template>
      </p-table>

    }

  </div>
</div>
