<div class="container-fluid">
  <div class="pharma-smart-content p-2">

    <app-toolbar icon="pi pi-users" title="Utilisateurs">
      <ng-container ngProjectAs="[toolbarActions]">
        <app-button
          [routerLink]="['./new']"
          icon="pi pi-plus"
          label="Nouvel utilisateur"
          [raised]="true"
          severity="primary"
        />
      </ng-container>
    </app-toolbar>

    @if (users() !== null) {
      <app-data-table
        [value]="filteredUsers()"
        [paginator]="true"
        [rows]="itemsPerPage"
        class="mt-2 pharma-table"
      >
        <ng-template #caption>
          <div class="d-flex justify-content-end">
            <app-icon-field [overlay]="true" icon="pi pi-search">
              <input
                type="text"
                class="form-control"
                placeholder="Rechercher…"
                (input)="onFilter($event)"
              />
            </app-icon-field>
          </div>
        </ng-template>

        <ng-template #header>
          <tr class="pharma-table-head">
            <th>Login</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Rôle</th>
            <th>Statut</th>
            <th class="text-end">Actions</th>
          </tr>
        </ng-template>

        <ng-template #body let-user>
          <tr>
            <td>
              <a [routerLink]="['./', user.login, 'view']" class="fw-semibold">{{ user.login }}</a>
            </td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.firstName }}</td>
            <td>

                <span class="pharma-badge pharma-badge-info me-1">{{ user.authority?.libelle }}</span>

            </td>
            <td>
              <div class="d-flex align-items-center gap-2">
                <!-- Badge statut (indicateur, non-cliquable) -->
                @if (user.activated) {
                  <span class="pharma-badge pharma-badge-success">Actif</span>
                } @else {
                  <span class="pharma-badge pharma-badge-secondary">Inactif</span>
                }
                <!-- Bouton action (label = ce qui va se passer) -->
                @if (!user.activated) {
                  <app-button
                    label="Activer"
                    icon="pi pi-power-off"
                    severity="success"
                    size="small"
                    [outlined]="true"
                    (clicked)="setActive(user, true)"
                  />
                } @else {
                  @if (user.id !== 3) {
                    <app-button
                      label="Désactiver"
                      icon="pi pi-ban"
                      severity="danger"
                      size="small"
                      [outlined]="true"
                      [disabled]="currentAccount()?.login === user.login"
                      (clicked)="setActive(user, false)"
                    />

                  }

                }
              </div>
            </td>
            <td class="text-end">
              <app-button
                [rounded]="true"
                [text]="true"
                [routerLink]="['./', user.login, 'view']"
                icon="pi pi-eye"
                severity="info"
                ngbTooltip="Voir"
              />
              <app-button
                [rounded]="true"
                [text]="true"
                [routerLink]="['./', user.login, 'edit']"
                icon="pi pi-pencil"
                severity="primary"
                ngbTooltip="Modifier"
              />
              @if (user.id !== 3) {
                <app-button
                  [rounded]="true"
                  [text]="true"
                  icon="pi pi-trash"
                  severity="danger"
                  ngbTooltip="Supprimer"
                  [disabled]="currentAccount()?.login === user.login"
                  (clicked)="deleteUser(user)"
                />
              }

            </td>
          </tr>
        </ng-template>

        <ng-template #emptymessage>
          <tr>
            <td colspan="6" class="text-center text-muted py-4">Aucun utilisateur trouvé.</td>
          </tr>
        </ng-template>
      </app-data-table>

    }

  </div>
</div>
