<p-dialog [(visible)]="jsonDialog" [focusOnShow]="false" [modal]="true"
          [style]="{width: '50vw'}" header="Importer un fichier json">
  <div class="ui-g form-group">
    <p-fileupload (uploadHandler)="onUploadJson($event)" [customUpload]="true" accept=".json"
                  cancelLabel="Annuler"
                  chooseLabel="Importer un fichier" name="importjson" uploadLabel="Enrégistrer">
    </p-fileupload>
  </div>
  <p-footer>
    <button (click)="cancel()" [raised]="true" class="mr-2"
            pButton
            pButtonIcon="pi pi-times"
            pButtonLabel="Annuler"
            pRipple
            severity="danger" type="button"></button>
  </p-footer>
</p-dialog>


<p-confirmDialog [baseZIndex]="10000" [style]="{width: '40vw'}"
                 key="deleteCustomer">

</p-confirmDialog>
<p-confirmDialog [baseZIndex]="10000" [style]="{width: '40vw'}"
                 key="desactiverCustomer">

</p-confirmDialog>
<p-confirmDialog [baseZIndex]="10000" [style]="{width: '40vw'}"
                 key="deleteTiersPayant">

</p-confirmDialog>

<div>
  <h4 id="page-heading">
    <span>Liste des clients</span>
  </h4>
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <p-dropdown (onChange)="onTypeChange()" [(ngModel)]="typeSelected" [filter]="false"
                  [options]="types" placeholder="Filtrer par type"
                  styleClass="dropdown-width mr-1">
      </p-dropdown>
      <p-divider layout="vertical"></p-divider>
      <p-dropdown (onChange)="onTypeChange()" [(ngModel)]="statutSelected" [filter]="false"
                  [options]="statuts"
                  optionLabel="label"
                  optionValue="value"
                  styleClass="dropdown-width">
      </p-dropdown>

      <p-divider layout="vertical"></p-divider>
      <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input (keyup.enter)="onSearch()" [(ngModel)]="search" pInputText
                                       placeholder="Taper pour rechercher"
                                       type="text">
                            </span>
      <p-divider layout="vertical"></p-divider>
    </div>
    <div class="p-toolbar-group-right">
            <span class="p-buttonset">
        <p-button (click)="loadPage()" icon="pi pi-search" label="Rechercher"
                  styleClass="p-button-info"></p-button>

               <p-splitbutton [model]="newCustomerbuttons" icon="pi pi-user-plus"
                              label="Nouveau client" styleClass="p-button-raised p-button-secondary"
               ></p-splitbutton>


            </span>
    </div>
  </p-toolbar>

  <ngx-spinner [fullScreen]="false" bdColor="rgba(255,255,255,0.5)" color="#f13151"
               name="importation"
               size="medium"
               type="timer">
  </ngx-spinner>
  @if (customers && customers.length > 0) {
    <p-table (onLazyLoad)="lazyLoading($event)"
             [lazy]="true"
             [loading]="loading"
             [paginator]="true" [rowsPerPageOptions]="[5,10,15,20,30,50]"
             [rows]="itemsPerPage"
             [showCurrentPageReport]="true"
             [totalRecords]="totalItems"
             [value]="customers"
             currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} client"
             dataKey="id"
             selectionMode="single"
             styleClass="p-datatable-gridlines mt-2"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width:3%"></th>
          <th style="width:10%">Catégorie</th>
          <th style="width:30%">Nom et Prénom(s)</th>
          <th style="width:10%">Identifiant</th>
          <th style="width:12%">Numéro assuré</th>
          <th style="width:10%">Téléphone</th>
          <th style="width:10%">Encours</th>

          <th style="width:15%"></th>
        </tr>
      </ng-template>
      <ng-template let-customer let-expanded="expanded" pTemplate="body">
        <tr>
          <td>
            <p-button [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                      [pRowToggler]="customer" [rounded]="true" [text]="true" pRipple
                      type="button" />
          </td>
          <td>{{ customer.categorie }}</td>
          <td>{{ customer.fullName }}</td>
          <td>{{ customer.code }}</td>
          <td>{{ customer.num }}</td>
          <td>{{ customer.phone }}</td>
          <td class="text-right">{{ customer.encours |number }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button pButton [routerLink]="['/customer', customer.id, 'view']" severity="info"
                      [rounded]="true" size="small" pButtonIcon="pi pi-eye"
                      pTooltip="Voir détails" type="submit">


              </button>


              @if (customer.categorie === 'ASSURE') {
                <button (click)="editAssureCustomer(customer)" pButton [rounded]="true" size="small"
                        severity="primary" pButtonIcon="pi pi-pencil"
                        data-placement="left"
                        pTooltip="Editer" type="button">


                </button>
                @if (customer.typeTiersPayant === 'ASSURANCE') {
                  <button (click)="addAyantDroit(customer)" pButton [rounded]="true" size="small"
                          data-placement="left"
                          severity="success" pButtonIcon="pi pi-users"
                          pTooltip="Ajouter un ayant droit" type="button">

                  </button>
                }

              }

              <!--   <button *ngIf="customer.categorie==='ASSURE'" type="button"
                         class="btn btn-secondary btn-sm" data-placement="left"
                         pTooltip="Gerer les complémentaires" (click)="editAssureCustomer(customer)">
                     <fa-icon icon="hospital-user"></fa-icon>
                 </button>-->
              @if (customer.categorie === 'STANDARD') {
                <button (click)="editUninsuredCustomer(customer)" severity="primary"
                        pButtonIcon="pi pi-pencil"
                        pButton [rounded]="true" size="small"
                        data-placement="left" pTooltip="Editer" type="button"
                >

                </button>

              }

              <button (click)="confirmRemove(customer)" severity="danger" pButtonIcon="pi pi-times"
                      pTooltip="Supprimer" pButton [rounded]="true" size="small"
                      type="button">

              </button>
              <button (click)="confirmDesactivation(customer)"
                      pTooltip="Désativer" pButton [rounded]="true" size="small"
                      severity="warn" pButtonIcon="pi pi-lock"
                      type="button">

              </button>
            </div>
          </td>
        </tr>

      </ng-template>
      <ng-template let-customer pTemplate="rowexpansion">
        <tr>
          <td colspan="8">
            @if (customer.type === 'ASSURE') {
              <div class="row">

                <div class="card col-md-5 mr-2">
                  <div class="card-header bg-primary text-white">INFORMATIONS COMPLEMENTAIRES DU
                    CLIENTS
                  </div>
                  <div class="card-body">
                    <table class="invoice-table table table-striped">
                      <tbody>
                      <tr>
                        <td class="firstColumn">
                          Date de naissance
                        </td>
                        <td class="secondColumn">{{ customer?.datNaiss |date:'dd/MM/yyyy' }}
                        </td>
                        <td class="firstColumn">
                          Date de création
                        </td>
                        <td class="secondColumn">{{ customer?.createdAt |date:'dd/MM/yyyy HH:mm' }}
                        </td>

                      </tr>
                      <tr>
                        <td class="firstColumn">
                          Dernière modification
                        </td>
                        <td class="secondColumn">{{ customer?.updatedAt |date:'dd/MM/yyyy HH:mm' }}
                        </td>
                        <td class="firstColumn">
                          Sexe
                        </td>
                        <td class="secondColumn">{{ customer?.sexe }}
                        </td>

                      </tr>
                      </tbody>

                    </table>
                  </div>
                </div>

                <div class="row col-md-7">
                  @if (customer.typeTiersPayant === 'ASSURANCE') {
                    <div class="card col-12 mb-2">
                      <div class="card-header bg-primary text-white">AYANTS DROITS</div>
                      <div class="card-body">
                        <table class="table table-striped">
                          <thead>
                          <tr>
                            <th style="width:40%;">Nom et prenom(s)</th>
                            <th style="width: 20%;">N° Sécu</th>
                            <th style="width:17%;">Date de naissance</th>
                            <th style="width:8%;">Sexe</th>
                            <th style="width:15%; text-align:right;">
                              <button (click)="addAyantDroit(customer)"
                                      size="small"
                                      severity="primary"
                                      [rounded]="true"
                                      pButtonIcon="pi pi-plus"
                                      pButton
                                      pTooltip="Ajouter un ayant droit"></button>
                            </th>
                          </tr>
                          </thead>
                          <tbody>
                            @for (ayantDroit of customer.ayantDroits; track ayantDroit?.id) {
                              <tr>
                                <td>{{ ayantDroit?.fullName }}</td>
                                <td>{{ ayantDroit?.numAyantDroit }}</td>
                                <td>{{ ayantDroit?.datNaiss |date:'dd/MM/yyyy' }}</td>
                                <td>{{ ayantDroit?.sexe }}</td>
                                <td class="text-right">
                                  <div class="btn-group">
                                    <button (click)="editAyantDroit(customer,ayantDroit)"
                                            class="p-mb-3 mr-1"
                                            pButtonIcon="pi pi-pencil"
                                            size="small"
                                            severity="success"
                                            [rounded]="true"
                                            pButton
                                            pRipple
                                            pTooltip="Editer"></button>
                                    <button (click)="confirmRemoveAyantDroit(ayantDroit)"
                                            class="p-mb-3 "
                                            size="small"
                                            severity="danger"
                                            [rounded]="true"
                                            pButtonIcon="pi pi-trash"
                                            pButton
                                            pRipple
                                            pTooltip="Supprimer"></button>
                                  </div>
                                </td>
                              </tr>
                            }


                          </tbody>
                        </table>
                      </div>
                    </div>
                  }

                  <div class="card col-12">
                    <div class="card-header bg-primary text-white">TIERS-PAYANTS</div>
                    <div class="card-body">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th style="width:28%;">Tiers-payant</th>
                          <th style="width: 14%;">N° Sécu</th>
                          <th style="width: 7%;">Taux</th>
                          <th style="width:8%;">Catégorie</th>
                          <th style="width:13%;">Plafond encours</th>
                          <th style="width:13%;">Plafond vente</th>
                          <!--                                            <th style="width:8%;">Plafond absolu ?</th>-->
                          @if (displayTiersPayantAddBtn(customer)) {
                            <th style="width:11%; text-align:right;">
                              <button (click)="onAddNewTiersPayant(customer)"

                                      severity="primary"
                                      [rounded]="true"
                                      size="small"
                                      pButtonIcon="pi pi-plus"
                                      pButton pTooltip="Ajouter un tiers-payant"></button>
                            </th>
                          }

                        </tr>
                        </thead>
                        <tbody>
                          @for (tierspayant of customer.tiersPayants; track tierspayant?.id; let i = $index) {
                            <tr>
                              <td>{{ tierspayant?.tiersPayantFullName }}</td>
                              <td>{{ tierspayant?.num }}</td>
                              <td>{{ tierspayant?.taux }}</td>
                              <td>{{ tierspayant?.priorite }}</td>
                              <td>{{ tierspayant?.plafondConso |number }}</td>
                              <td>{{ tierspayant?.plafondJournalier |number }}</td>
                              <!--                                            <td>{{tierspayant?.plafondAbsolu }}</td>-->
                              @if (displayTiersPayantAction) {
                                <td class="text-right">
                                  <div class="btn-group">
                                    <button
                                      class=" p-mb-3 mr-1"
                                      (click)="onEditTiersPayant(customer,tierspayant)"
                                      pButtonIcon="pi pi-pencil" pButton
                                      pRipple
                                      severity="success"
                                      [rounded]="true"
                                      size="small"
                                      pTooltip="Editer les infos du tierspayant"></button>
                                    @if (customer.typeTiersPayant === 'ASSURANCE'
                                    && customer.tiersPayants.length > 1) {
                                      <button
                                        class="p-mb-3 "
                                        pButtonIcon="pi pi-trash" pButton
                                        severity="danger"
                                        [rounded]="true"
                                        size="small"
                                        pRipple
                                        pTooltip="Supprimer"
                                        (click)="onRemoveTiersPayant(tierspayant)"></button>
                                    }

                                  </div>
                                </td>
                              }

                            </tr>
                          }

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


              </div>
            } @else {
              <div class="card">
                <div class="card-header bg-primary text-white">INFORMATIONS COMPLEMENTAIRES DU
                  CLIENTS
                </div>
                <div class="card-body">
                  <table class="invoice-table table table-striped">
                    <tbody>
                    <tr>
                      <td class="firstColumn">
                        Date de naissance
                      </td>
                      <td class="secondColumn">{{ customer?.datNaiss |date:'dd/MM/yyyy' }}
                      </td>
                      <td class="firstColumn">
                        Date de création
                      </td>
                      <td class="secondColumn">{{ customer?.createdAt |date:'dd/MM/yyyy HH:mm' }}
                      </td>

                    </tr>
                    <tr>
                      <td class="firstColumn">
                        Dernière modification
                      </td>
                      <td class="secondColumn">{{ customer?.updatedAt |date:'dd/MM/yyyy HH:mm' }}
                      </td>
                      <td class="firstColumn">
                        Sexe
                      </td>
                      <td class="secondColumn">{{ customer?.sexe }}
                      </td>

                    </tr>
                    </tbody>

                  </table>
                </div>
              </div>


            }


          </td>
        </tr>
      </ng-template>

    </p-table>
  } @else {
    <div class="alert alert-warning mt-2">
      <span>Aucune donnée trouvée</span>
    </div>
  }

</div>
