<div class="pharma-smart-content">
  @if (isGroupeSignal()) {
    <jhi-faire-groupe-reglement
      [dossierFactureProjection]="dossierFactureProjection"
      [reglementFactureDossiers]="reglementFactureDossiersSignal()"
    ></jhi-faire-groupe-reglement>
  } @else {
    <jhi-regelement-facture-individuelle
      (selectedFacture)="onSelectFacture($event)"
      [dossierFactureProjection]="dossierFactureProjection"
      [reglementFactureDossiers]="reglementFactureDossiersSignal()"
    ></jhi-regelement-facture-individuelle>
  }
</div>
