<div class="row sale-bottom-card">
  @if (showModeReglementCard) {
    <div
      [ngClass]="currentSaleService.currentSale()?.amountToBePaid > 0?'card col-md-7':'card col-md-10'">
      <div class="card-header sale-card-header">
        Mode règlement
      </div>

      <div class="card-body sale-card">
        <div class="d-flex justify-content-between mode-reglement-label">
          @if (currentSaleService.currentSale()?.type === 'VO' && baseSaleService.hasSansBon()) {
            <span>
             <label>Vente sans bon?</label>
          <p-inputSwitch inputId="sansBon" (onChange)="onSansBonChange($event)">
          </p-inputSwitch></span>
          }


          <span>
  <label>Imprimer le ticket de caisse ?</label>
          <p-inputSwitch inputId="printTicket"
                         (onChange)="onPrintReceiptChange($event)">
          </p-inputSwitch>
</span>
          <span>
     <label>Imprimer la facture?</label>
          <p-inputSwitch (onChange)="onPrintInvoiceChange($event)" inputId="printInvoice"
          >
          </p-inputSwitch>
 </span>


        </div>
        @if (currentSaleService.currentSale()?.amountToBePaid > 0) {
          <div class="row" style="margin-top: 0.5rem;">
            @for (modePay of selectModeReglementService.modeReglements(); track modePay.code) {
              <div class="col-md-6">

                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon {{modePay.styleBtnClass}}"></span>
                  <input autofocus (input)="manageCashPaymentMode($event,modePay)"
                         (keydown.enter)="save()"
                         [(ngModel)]="modePay.amount" [id]="modePay.code"
                         [pKeyFilter]="'int'" [readOnly]="modePay.isReadonly"
                         class="payment-mode-input" pInputText />
                  @if (isShowAddBtn()) {
                    <button (click)="onAddPaymentModeToggle(modePay,$event)"
                            class="p-button-info add-mode-payment-btn"
                            icon="pi pi-plus" pButton
                            type="button"></button>
                  }


                  <button (click)="onRemovePaymentModeToggle(modePay,$event)"
                          class="p-button-danger"
                          icon="pi pi-times"
                          pButton type="button"></button>
                </div>

              </div>
            }


          </div>
        }


      </div>

    </div>

    @if (showInfosComplementaireReglementCard || isDiffere) {
      <div class="card col-md-5">
        <div class="card-header sale-card-header">Informations complementaires</div>
        <div class="card-body sale-card">
          @if (isDiffere) {
            <div class="p-inputgroup mt-1">
              <span class="p-inputgroup-addon">Commentaire</span>
              <input #commentaireInput [(ngModel)]="commentaire" pInputText type="text"
                     [autofocus]="true" (keydown.enter)="save()" />
            </div>
          }

          @if (showInfosBancaire) {
            <div class="row mt-1">
              <div class="p-inputgroup col-6">
                <span class="p-inputgroup-addon">Référence</span>
                <input #referenceInput [(ngModel)]="referenceBancaire" pInputText type="text" />
              </div>
              <div class="p-inputgroup  col-6">
                <span class="p-inputgroup-addon">Banque</span>
                <input #banqueInput [(ngModel)]="banque" pInputText type="text" />
              </div>
              <div class="p-inputgroup mt-1  col-8">
                <span class="p-inputgroup-addon">Lieux</span>
                <input #lieuxInput [(ngModel)]="lieux" pInputText type="text" />
              </div>
            </div>
          }
        </div>
      </div>
    }
  }
</div>
<p-overlayPanel #addOverlayPanel [showCloseIcon]="true" [style]="{'width': '450px'}">
  <ng-template pTemplate="content">
    <div class="d-flex flex-wrap">
      @for (modePay of reglementsModes; track modePay.code; let i = $index) {
        <ng-container>
          <div (click)="onAddPaymentMode(modePay)" class="p-2 mode-reglement-icon">
            <span class="{{modePay.styleImageClass}}"></span>
          </div>
        </ng-container>
      }


    </div>
  </ng-template>

</p-overlayPanel>

<p-overlayPanel #removeOverlayPanel [showCloseIcon]="true" [style]="{'width': '450px'}">
  <ng-template pTemplate="content">
    <div class="d-flex flex-wrap">
      @for (modePay of reglementsModes; track modePay.code; let i = $index) {
        <ng-container>
          <div (click)="onRemovePaymentMode(modePay)"

               class="p-2  mode-reglement-icon">
            <span class="{{modePay.styleImageClass}}"></span>
          </div>
        </ng-container>
      }


    </div>
  </ng-template>

</p-overlayPanel>

<p-overlayPanel #customerModal [showCloseIcon]="true" [style]="{ width: '650px' }">

  <ng-template pTemplate="content">
    <jhi-customer-data-table (closeModalEvent)="onClose(customerModal)"></jhi-customer-data-table>
  </ng-template>


</p-overlayPanel>

