
:host {
  display: block;
  padding-top: 0;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1020; // Bootstrap's z-index for navbars


  :host.tauri-mode & {
    top: 32px;
  }
}

.main-content {
  transition: margin-left 0.3s ease;
  padding-top: 0;


  :host.tauri-mode & {
    padding-top: 32px;
  }

  // With sidebar: add left margin to accommodate sidebar
  &.with-sidebar {
    margin-left: 280px;

    @media (max-width: 768px) {
      margin-left: 0;
    }

    // When sidebar is collapsed, reduce margin
    &.sidebar-collapsed {
      margin-left: 70px;

      @media (max-width: 768px) {
        margin-left: 0;
      }
    }
  }


  &.with-navbar {
    margin-left: 0;
  }
}
