<jhi-confirm-dialog #confirmDialog></jhi-confirm-dialog>
<div class="container">
  <div class="justify-content-center">
    <p-panel header="Liste des Tvas">
      <p-toolbar>
        <div class="p-toolbar-group-left"></div>
        <div class="p-toolbar-group-right">
          <p-button (click)="addNewEntity()" icon="pi pi-plus" label="Nouvelle Tva" raised="true"
                    severity="success" type="button"></p-button>
        </div>
      </p-toolbar>

      <div class="mt-2">
        @if (tvas && tvas.length > 0) {
          <p-table
            [(selection)]="selectedTva"
            [loading]="loading"
            [value]="tvas"
            dataKey="id"
            selectionMode="single"
            class="pharma-table"
          >
            <ng-template #header>
              <tr class="pharma-table-head">
                <th scope="col"><span>Taux</span></th>
                <th scope="col"></th>
              </tr>
            </ng-template>
            <ng-template let-columns="columns" let-tva #body>
              <tr [pSelectableRow]="tva">
                <td><span class="pharma-price">{{ tva.taux }}</span></td>
                <td style="text-align: center">
                  <p-button (click)="delete(tva)" severity="danger" icon="pi pi-trash"
                            [rounded]="true" [text]="true" pTooltip="Supprimer"
                            type="button"></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        } @else {
          <div class="alert alert-warning" id="no-result">
            <span>{{ 'global.messages.emptyData' | translate }}</span>
          </div>
        }
      </div>
    </p-panel>

  </div>
</div>
<div>


</div>
