@import 'app/shared/scss/table-common';
@import 'app/shared/scss/pharma-toolbar';
@import 'app/shared/scss/pharma-nav';
.p-floatlabel {
  min-width: 120px !important;
}
.p-floatlabel {
  max-width: 150px !important;
}
