<div class="modal-header">
  <h4 class="modal-title">{{ header }}</h4>
  <button (click)="cancel()" class="btn-close" data-dismiss="modal" type="button">&times;</button>
</div>

<div class="modal-body form-client-step" id="modal">

  <app-nav-tabs [nav]="stepNav">
    <div
      #stepNav="ngbNav"
      (activeIdChange)="activeStep = $event"
      [activeId]="activeStep"
      class="nav pharma-nav-tabs"
      ngbNav
    >
      <ng-container [ngbNavItem]="1">
        <a class="pharma-nav-tab-link" ngbNavLink>
          <i class="pi pi-user"></i>
          <span>Infos Assuré</span>
        </a>
        <ng-template ngbNavContent>
          <jhi-assure-step #assureStep></jhi-assure-step>
        </ng-template>
      </ng-container>

      @if (!assureFormStepService.isEdition() && typeAssure === 'ASSURANCE') {
        <ng-container [disabled]="!assureStepComponent()?.editForm?.valid" [ngbNavItem]="2">
          <a class="pharma-nav-tab-link" ngbNavLink>
            <i class="pi pi-users"></i>
            <span>Infos Ayant-droit</span>
          </a>
          <ng-template ngbNavContent>
            <jhi-ayant-droit-step #ayantDroitStep></jhi-ayant-droit-step>
          </ng-template>
        </ng-container>
      }
    </div>
  </app-nav-tabs>
</div>

<div class="form-actions-compact">
  @if (activeStep === 1) {
    <app-button (clicked)="cancel()" [text]="true" icon="pi pi-times" label="Annuler" severity="secondary"
                type="button"></app-button>
    @if (assureStepComponent()?.editForm.valid) {
      <app-button
        (clicked)="save()"
        [disabled]="isSaving"
        [loading]="isSaving"
        icon="pi pi-check"
        label="Enregistrer"
        severity="primary"
        type="button"
      >
      </app-button>
      @if (commonService.categorieTiersPayant() === 'ASSURANCE') {
        <app-button (clicked)="onGoAyantDroit(2)" icon="pi pi-arrow-right" iconPos="right" label="Suivant"
                    severity="info" type="button">
        </app-button>
      }
    }
  }
  @if (activeStep === 2) {
    <app-button
      (clicked)="onGoBackFromAyantDroit(1)"
      [text]="true"
      icon="pi pi-arrow-left"
      label="Précédent"
      severity="secondary"
      type="button"
    >
    </app-button>
    @if (ayantDroitStepComponent()?.isValidForm()) {
      <app-button
        (clicked)="save()"
        [disabled]="isSaving"
        [loading]="isSaving"
        icon="pi pi-check"
        label="Enregistrer"
        severity="primary"
        type="button"
      >
      </app-button>
    }
  }
</div>
