<div class="modal-header">
  <h4 class="modal-title">Liste des remises</h4>

  <button (click)="cancel()" aria-hidden="true" class="close" data-dismiss="modal"
          type="button">&times;
  </button>
</div>

<div class="modal-body">
  <div class="card">
    <div class="card-body">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Type remise</th>
          <th scope="col">Description</th>
          <th scope="col">Taux</th>
          <th scope="col"></th>

        </tr>
        </thead>
        <tbody class="table-group-divider">
          @for (remise of entites; track remise.id; let i = $index) {
            <tr (dblclick)="onDbleClick(remise)" style="cursor: pointer;">
              <td>{{ remise.type }}</td>
              <td>{{ remise.valeur }}</td>
              <td class="text-right text-900">{{ remise.remiseValue }}%</td>
              <td class="text-center">
                <button type="button" class="btn  btn-success btn-sm"
                        (click)="onSelect(remise)">
                  <fa-icon icon="check"></fa-icon>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-footer">

  <button (click)="cancel()" class="btn btn-secondary" data-dismiss="modal" type="button">
    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
  </button>


</div>





