<jhi-confirm-dialog #confirmDialog></jhi-confirm-dialog>
<jhi-toast-alert #alert></jhi-toast-alert>
<p-panel header="Liste des remises produits">
  <p-toolbar>
    <div class="p-toolbar-group-left"></div>
    <div class="p-toolbar-group-right">
      <p-button (click)="onOpenRemiseForm()" [raised]="true" icon="pi pi-plus" label="Nouveau"
                severity="success" type="button"></p-button>
    </div>

  </p-toolbar>
  @if (entites && entites?.length > 0) {
    <p-table
      class="pharma-table"
      (onLazyLoad)="lazyLoading()"
      [lazy]="true"
      [loading]="loading"
      [paginator]="false"
      [value]="entites"
      dataKey="id"
      [showGridlines]="true"
    >
      <ng-template #header>
        <tr class="pharma-table-head">
          <th scope="col" style="width: 30px">#</th>

          <th scope="col"><span>Libellé</span></th>
          <th scope="col"><span>Code remise associé</span></th>
          <th scope="col"><span>Taux VNO</span></th>
          <th scope="col"><span>Taux VO</span></th>
          <th scope="col" class="text-right">Activation/Désactivation</th>
          <th scope="col"></th>
        </tr>
      </ng-template>
      <ng-template let-columns="columns" let-elRow let-rowIndex="rowIndex" #body>
        <tr [pSelectableRow]="elRow">
          <td><span class="pharma-row-number">{{ rowIndex + 1 }}</span></td>

          <td><span class="pharma-entity-name">{{ elRow.valeur }}</span></td>
          <td class="text-right"><span class="pharma-code">{{ elRow.grilles[0]?.codeRemise?.value }}</span></td>
          <td class="text-right"><span class="pharma-qty-value">{{ getVnoTaux(elRow) }}</span></td>
          <td class="text-right"><span class="pharma-qty-value">{{ getVoTaux(elRow) }}</span></td>
          <td class="text-right">
            <p-toggleswitch (onChange)="onStatusChange(elRow)" [(ngModel)]="elRow.enable" />
          </td>

          <td class="text-right">
            @if (elRow.enable) {
              <p-button
                (click)="onOpenRemiseForm(elRow)"
                class="p-mr-1"
                [text]="true"
                icon="pi pi-pencil"
                severity="success"
                rounded="true"
                pTooltip="Editer"
                size="small"
                type="submit"
              ></p-button>
            }

            <p-button
              severity="danger"
              rounded="true"
              [text]="true"
              (click)="delete(elRow)"
              size="small"
              icon="pi pi-trash"
              pTooltip="Supprimer"
              type="button"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  } @else {
    <div class="alert alert-warning" id="no-result">
      <span>Aucune donnée trouvée</span>
    </div>
  }
</p-panel>

