<div class="modal-header">
  <h5 class="modal-title">{{ header }}</h5>
  <button (click)="cancel()" aria-label="Close" class="btn-close" type="button"></button>
</div>

<form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
  <div class="modal-body">
    <app-card [variant]="'form'">
      <div class="form-grid-compact">
        <div [hidden]="true" class="form-group">
          <input class="form-control" formControlName="id" id="id" name="id" readonly
                 type="hidden" />
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-field form-field-full">
              <label for="field_codeCip">Code cip<span class="required">*</span></label>
              <input
                [appKeyFilter]="'int'"
                autocomplete="off"
                class="form-control"
                formControlName="codeCip"
                id="field_codeCip"
                name="codeCip"
                type="text" />
              @let codeCip = editForm.get('codeCip');
              @if (codeCip!.invalid && (codeCip!.dirty || codeCip!.touched)) {
                <div>
                  @if (codeCip?.errors?.required) {
                    <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                      This field is required. </small>
                  }
                </div>
              }
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-field form-field-full">
              <label for="field_prixAchat">Prix achat<span class="required">*</span></label>
              <input
                (keyup)="handlePrixAchatInput($event)"
                [appKeyFilter]="'int'"
                autocomplete="off"
                class="form-control"
                formControlName="prixAchat"
                id="field_prixAchat"
                name="prixAchat"
                type="number" />
              @let prixAchat = editForm.get('prixAchat');
              @if (prixAchat!.invalid && (prixAchat!.dirty || prixAchat!.touched)) {
                <div>
                  @if (prixAchat?.errors?.required) {
                    <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                      This field is required. </small>
                  }
                </div>
              }
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-field form-field-full">
              <label for="field_prixUni">Prix unitaire<span class="required">*</span></label>
              <input
                (keyup)="handlePrixUnitaireInput($event)"
                [appKeyFilter]="'int'"
                autocomplete="off"
                class="form-control"
                formControlName="prixUni"
                id="field_prixUni"
                name="prixAchat"
                type="number" />
              @let prixUni = editForm.get('prixUni');
              @if (prixUni!.invalid && (prixUni!.dirty || prixUni!.touched)) {
                <div>
                  @if (prixUni?.errors?.required) {
                    <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                      This field is required. </small>
                  }
                </div>
              }
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-field form-field-full">
              <label for="tvaId">Tva<span class="required">*</span></label>
              <app-select
                [items]="tvas"
                bindLabel="tva"
                bindValue="id"
                formControlName="tvaId"
                inputId="tvaId"
                name="tvaId"
                placeholder="Sélectionner une Tva"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-field form-field-full">
              <label for="rayonId">Rayon</label>
              <app-select
                [items]="rayons"
                bindLabel="libelle"
                bindValue="id"
                formControlName="rayonId"
                inputId="rayonId"
                name="rayonId"
                placeholder="Sélectionner un rayon"
              />
            </div>
          </div>
        </div>

        <div class="form-field form-field-full">
          <label for="field_codeEan">Code Ean </label>
          <input [appKeyFilter]="'int'" autocomplete="off" class="form-control" formControlName="codeEan"
                 id="field_codeEan" name="codeEan" type="text" />
        </div>
      </div>
    </app-card>
  </div>

  <div class="modal-footer">
    <app-button
      (clicked)="cancel()"
      [raised]="true"
      class="mr-1"
      icon="pi pi-times"
      label="Annuler"
      severity="secondary"
      type="button"
    >
    </app-button>

    <app-button
      [disabled]="editForm.invalid || isSaving || !isValid"
      [raised]="true"
      icon="pi pi-check"
      label="Enregistrer"
      severity="primary"
      type="submit"
    >
    </app-button>
  </div>
</form>
