<jhi-confirm-dialog #confirmDialog></jhi-confirm-dialog>
<jhi-toast-alert #alert></jhi-toast-alert>
<div class="modal-header">
  <h4 class="modal-title">{{ header }}</h4>
  <button (click)="cancel()" aria-label="Close" class="btn-close" type="button">
  </button>
</div>
<div class="modal-body">
  <p-card> @if (showUgAddNewBtn) {
    <div class="mb-1" style="text-align: right">
      <p-button (click)="add()" severity="info" raised="true" icon="pi pi-check" label="Ajouter un nouveau lot"
                type="button"></p-button>
    </div>
  }

    @if (lots?.length > 0) {
      <p-table
        [(selection)]="selectedEl"
        [resizableColumns]="true"
        [value]="lots"
        dataKey="numLot"
        selectionMode="single"
        styleClass="ui-table-cars"
      >
        <ng-template pTemplate="header">
          <tr>
            <th scope="col"><span>Num</span></th>
            <th scope="col"><span>Quantité</span></th>
            <th scope="col"><span>Quantité ug</span></th>
            <th scope="col"><span>Date Fabrication</span></th>
            <th scope="col"><span>Date péremption</span></th>
            <th scope="col"></th>
          </tr>
        </ng-template>
        <ng-template let-columns="columns" let-elRow pTemplate="body">
          <tr [pEditableRow]="elRow" [pSelectableRow]="elRow">
            <td>{{ elRow.numLot }}</td>
            <td>{{ elRow.quantityReceived }}</td>
            <td>{{ elRow.ugQuantityReceived }}</td>
            <td>{{ elRow.manufacturingDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ elRow.expiryDate | date: 'dd/MM/yyyy' }}</td>

            <td style="text-align: center">
              <p-button
                (click)="edit(elRow)"
                class="p-mr-2"
                icon="pi pi-pencil"
                pTooltip="Editer"
                severity="success"
                [rounded]="true"
                type="submit"
              ></p-button>
              <p-button (click)="delete(elRow)" icon="pi pi-trash" severity="warn" [rounded]="true"
                        type="submit"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    } @else {
      <div class="alert alert-warning">
        <span>Aucune donnée trouvée</span>
      </div>
    }</p-card>
</div>
<div class="modal-footer">
  <p-button (click)="cancel()" icon="pi pi-times" label="Fermer" raised="true" severity="secondary"
            type="button"></p-button>
</div>
