<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2">
      <p-card>
        <div #nav="ngbNav" [(activeId)]="active" class="nav flex-column nav-pills" ngbNav
             orientation="vertical">
          <ng-container ngbNavItem="mvt-caisse">
            <a class="flex-sm-fill nav-link" ngbNavLink>Mouvements de caisse</a>
            <ng-template ngbNavContent>
              <jhi-visualisation-mvt-caisse></jhi-visualisation-mvt-caisse>
            </ng-template>
          </ng-container>
          <p-divider layout="horizontal"></p-divider>
          <ng-container ngbNavItem="balance">
            <a class="flex-sm-fill nav-link" ngbNavLink>Balance caisse</a>
            <ng-template ngbNavContent>
              <jhi-balance-mvt-caisse></jhi-balance-mvt-caisse>
            </ng-template>
          </ng-container>
          <p-divider layout="horizontal"></p-divider>
          <ng-container ngbNavItem="taxe-report">
            <a class="flex-sm-fill nav-link" ngbNavLink>Rapport Tva</a>
            <ng-template ngbNavContent>
              <jhi-taxe-report></jhi-taxe-report>
            </ng-template>
          </ng-container>
          <p-divider layout="horizontal"></p-divider>
          <ng-container ngbNavItem="tableau-pharmacien">
            <a class="flex-sm-fill nav-link" ngbNavLink>Tableau pharmacien</a>
            <ng-template ngbNavContent>
              <jhi-tableau-pharmacien></jhi-tableau-pharmacien>
            </ng-template>
          </ng-container>
          <p-divider layout="horizontal"></p-divider>
          <ng-container ngbNavItem="recapitulatif-caisse">
            <a class="flex-sm-fill nav-link" ngbNavLink>Recapitulatif de caisse</a>
            <ng-template ngbNavContent>
              <jhi-recapitualtif-caisse></jhi-recapitualtif-caisse>
            </ng-template>
          </ng-container>
          <p-divider layout="horizontal"></p-divider>
          <ng-container ngbNavItem="gestion-caisse">
            <a class="flex-sm-fill nav-link" ngbNavLink>Gestion de caisse</a>
            <ng-template ngbNavContent>
              <jhi-gestion-caisse></jhi-gestion-caisse>
            </ng-template>
          </ng-container>
          <p-divider layout="horizontal"></p-divider>
          <ng-container ngbNavItem="raport-activite">
            <a class="flex-sm-fill nav-link" ngbNavLink>Raport d'activité</a>
            <ng-template ngbNavContent>
              <jhi-activity-summary></jhi-activity-summary>
            </ng-template>
          </ng-container>
        </div>
      </p-card>
    </div>
    <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10 row">
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>


</div>
