<div class="container-fluid">

  <div class="pharma-smart-content p-2">
    <p-toolbar>
      <ng-template #start>
        <div class="d-flex justify-content-between">
          <p-floatlabel variant="on">
            <p-datePicker
              [(ngModel)]="fromDate"
              [iconDisplay]="'input'"
              [showButtonBar]="true"
              dateFormat="dd/mm/yy"
              id="dateDebut"
              inputId="dateDebut"
              selectOtherMonths="true"
              showIcon="true"
            ></p-datePicker
            >&nbsp;
            <label for="dateDebut">Date début</label>
          </p-floatlabel>
          <p-floatlabel variant="on">
            <p-datePicker
              [(ngModel)]="toDate"
              [iconDisplay]="'input'"
              [showButtonBar]="true"
              dateFormat="dd/mm/yy"
              id="dateFin"
              inputId="dateFin"
              selectOtherMonths="true"
              showIcon="true"
            ></p-datePicker
            >&nbsp;
            <label for="dateFin">Date fin</label>
          </p-floatlabel>

          <p-multiSelect
            [(ngModel)]="selectedTypes"
            [filter]="true"
            [options]="types"
            [showClear]="true"
            display="chip"
            id="typeMvr"
            placeholder="Type de mouvement"
          ></p-multiSelect
          >&nbsp;

          <p-multiSelect
            [(ngModel)]="selectedModes"
            [options]="paymentModes"
            [showClear]="true"
            display="chip"
            id="modeR"
            optionLabel="libelle"
            placeholder="Mode de règlement"
          ></p-multiSelect
          >&nbsp;

          <p-select
            [(ngModel)]="selectedUser"
            [options]="users"
            [showClear]="true"
            id="op"
            optionLabel="abbrName"
            placeholder="Opérateur"
          ></p-select>
        </div>
      </ng-template>
      <ng-template #end>
        <div class="input-group">
          <p-button
            (click)="onSearch()"
            [loading]="btnLoading"
            icon="pi pi-search"
            pTooltip="Rechercher"
            severity="info"
            tooltipPosition="top"
          ></p-button
          >&nbsp;
          <p-button (click)="addNew()" icon="pi pi-plus" pTooltip="Nouveau mouvement" severity="success"
                    tooltipPosition="top"></p-button
          >&nbsp;
          <p-button (click)="onPrint()" [loading]="btnLoading" icon="pi pi-print" pTooltip="Imprimer" severity="warn"
                    tooltipPosition="top" />
        </div>
      </ng-template>
    </p-toolbar>
    <div class=" row mt-3 mb-3 px-2">
      @if (mvtCaisses && mvtCaisses.length > 0) {
        <div class="col-md-12 col-lg-8 col-xl-9 col-xxl-9 col-sm-12 mb-2">
          <p-table
            (onLazyLoad)="lazyLoading($event)"
            [lazy]="true"
            [loading]="loading"
            [paginator]="true"
            [rowsPerPageOptions]="[10, 20, 30, 50]"
            [rows]="itemsPerPage"
            [showCurrentPageReport]="false"
            [totalRecords]="totalItems"
            [value]="mvtCaisses"
            dataKey="id"
            selectionMode="multiple"
            stripedRows="true"
          >
            <ng-template #header>
              <tr>
                <th>Type</th>
                <th>Référence</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Mode règlement</th>
                <th>Opérateur</th>
                <th>Client</th>

                <th [hidden]="true" style="width: 15px"></th>
              </tr>
            </ng-template>
            <ng-template let-mvtCaisse #body>
              <tr>
                <td>
                  {{ mvtCaisse.transactionType }}
                </td>
                <td>
                  {{ mvtCaisse.reference }}
                </td>
                <td>{{ mvtCaisse.date }}</td>
                @if (mvtCaisse.type === 'SORTIE_CAISSE') {
                  <td class="text-right text-danger amount-column">{{ mvtCaisse.montant | number }}</td>
                } @else {
                  <td class="text-right amount-column">{{ mvtCaisse.montant | number }}</td>
                }

                <td>{{ mvtCaisse.paymentModeLibelle }}</td>
                <td>{{ mvtCaisse.userFullName }}</td>
                <td>{{ mvtCaisse.organisme }}</td>

                <td [hidden]="true" class="text-right">
                  <div class="btn-group">
                    <p-button severity="info" size="small" [rounded]="true" icon="pi pi-eye" pTooltip="Voir"></p-button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        @if (mvtCaisseSum) {
          <div class="col-md-12 col-lg-4 col-xl-3 col-xxl-3 col-sm-12 pharma-smart">
            <p-card>
              <ng-template #title>
                <div class="card-title primary-title">
                  <i class="pi pi-money-bill mr-2"></i>
                  Totaux
                </div>
              </ng-template>
              <div class="grid">
                <div class="col-12">
                  @if (mvtCaisseSum.totalPaymentAmount > 0) {
                    <div class="field">
                      <label>Total ventes</label>
                      <span>{{ mvtCaisseSum.totalPaymentAmount | number }}</span>
                    </div>

                  }
                  @if (mvtCaisseSum.creditedAmount > 0) {
                    <div class="field">
                      <label >Total entrée</label>
                      <span class="text-success">{{ mvtCaisseSum.creditedAmount | number }}</span>
                    </div>
                  }
                  @if (mvtCaisseSum.debitedAmount > 0) {
                    <div class="field">
                      <label>Total sortiee</label>
                      <span class="text-danger">{{ mvtCaisseSum.debitedAmount * -1| number }}</span>
                    </div>
                  }
                  @if (mvtCaisseSum.debitedAmount > 0) {
                    <div class="field">
                      <label>Total Mobile</label>
                      <span>{{ mvtCaisseSum.totalMobileAmount | number }}</span>
                    </div>
                  }
                </div>
              </div>

            </p-card>
            @if (mvtCaisseSum.modesPaiementAmounts.length > 0) {
              <div class="mt-2">
                <p-card>
                  <ng-template #title>
                    <div class="card-title info-title">
                      <i class="pi pi-wallet mr-2"></i>
                      Modes règlements
                    </div>
                  </ng-template>
                  <div class="grid">
                    <div class="col-12">
                      @for (mode of mvtCaisseSum.modesPaiementAmounts; track mode.key) {
                        <div class="field">
                          <label> {{ mode.libelle }}</label>
                          <span>{{ mode.value | number }}</span>
                        </div>
                      }
                    </div>
                  </div>

                </p-card>
              </div>
            }
            @if (mvtCaisseSum.typeTransactionAmounts.length > 0) {
              <div class="mt-2">
                <p-card>

                  <ng-template #title>
                    <div class="card-title secondary-title">
                      <i class="pi pi-info-circle mr-2"></i>
                      Types mouvements
                    </div>
                  </ng-template>
                  <div class="grid">
                    <div class="col-12">
                      @for (mode of mvtCaisseSum.typeTransactionAmounts; track mode.key) {
                        <div class="field">
                          <label> {{ mode.libelle }}</label>
                          @if (mode.key === 'SORTIE_CAISSE') {
                            <span class="text-danger">{{  mode.value * -1 | number }}</span>
                          } @else {
                            <span>{{ mode.value | number }}</span>
                          }

                        </div>
                      }
                    </div>
                  </div>

                </p-card>
              </div>
            }
          </div>
        }
      } @else {
        <div class="alert alert-warning" role="alert">
          <span>Aucune donnée trouvée</span>
        </div>
      }
    </div>
  </div>



  </div>



<jhi-toast-alert #alert></jhi-toast-alert>
