<jhi-confirm-dialog #confirmDialog></jhi-confirm-dialog>
<jhi-toast-alert #alert></jhi-toast-alert>
<div class="container-fluid mt-1">
  <p-toolbar>
    <div class=" d-flex justify-content-between " style="width: 100%">
      <div class="flex-grow-1 d-flex justify-content-between">
        <div class="mr-1">
          <p-floatlabel variant="on">
            <p-select
              #motif
              (onChange)="onSelectMotif()"
              [(ngModel)]="motifSelected"
              [appendTo]="appendTo"
              [dataKey]="'id'"
              [options]="motifs"
              [style]="{'min-width': '180px'}"
              fluid="true"
              id="motifs"
              optionLabel="libelle"
              size="large"
            ></p-select>
            <label for="motifs">{{ 'warehouseApp.labels.motifsAjustement' | translate }}</label>
          </p-floatlabel>
        </div>
        <div class="mr-1 flex-grow-1">
          <jhi-produit-autocomplete #produitComponent
                                    (selectedProduit)="onSelectProduct($event)"
                                    [(ngModel)]="produitSelected"
                                    [autofocus]="false"
                                    [disabled]="!motifValue"
                                    [includeDetails]="includeDetails"
                                    [pageSize]="PRODUIT_COMBO_RESULT_SIZE">
          </jhi-produit-autocomplete>
        </div>
        <div class="mr-1">
          <jhi-quantite-produt-saisie #produitQteCmpt (addQuantite)="addQuantity($event)"
                                      [disabledButton]="disabledButton"
                                      [isValid]="canAddQuantity"
                                      [style]="{'max-width': '160px'}">
          </jhi-quantite-produt-saisie>

        </div>

        <div class="mr-1">
          @let bageSeverty = produitSelected?.totalQuantity > 0 ? 'success' : 'danger';
          <p-button [badgeSeverity]="bageSeverty" [badge]="produitSelected?.totalQuantity |number"
                    [text]="true" label="Stock:" severity="info"
          />
        </div>
        <div class="mr-1">
          <p-button [badge]="produitSelected?.rayonLibelle" [text]="true" label="Rayon:"
                    severity="info"
          />
        </div>

      </div>
      <div>
        <p-buttonGroup>
          <jhi-cta (click)="onSave()" [disabled]="!ajustement || isSaving"
                   [label]="'warehouseApp.buttons.closeAction'"
                   class="mr-1"
                   icon="pi pi-lock"
                   severity="info"
          ></jhi-cta>
          <jhi-remove-button (click)="confirmDeleteItems()"
                             [disabled]="!ajustement || !selectedEl.length ||  isSaving"
                             class="mr-1"></jhi-remove-button>

          <jhi-back-button></jhi-back-button>
        </p-buttonGroup>
      </div>
    </div>
  </p-toolbar>

  <div>
    <div>
      <p-table
        [(selection)]="selectedEl"
        [paginator]="true"
        [rowsPerPageOptions]="[10,20, 30, 40, 50]"
        [rows]="10"
        [showCurrentPageReport]="false"
        [value]="items"
        dataKey="id"
      >
        <ng-template #caption>
          <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input
              (keyup.enter)="onFilterItems()"
              [(ngModel)]="search"
              pInputText
              placeholder="Taper pour rechercher"
              type="text"
            />
          </p-iconfield>

        </ng-template>
        <ng-template #header>
          <tr>
            <th style="width: 2%">#</th>
            <th>Cip</th>
            <th>Libellé</th>
            <th>Sock init</th>
            <th>Qantité Ajustée</th>
            <th>Sock Après</th>
            <th style="width: 4%"></th>
            <th class="table-all-checkbos" style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-ajustement let-rowIndex="rowIndex">
          <tr>
            <td style="text-align: left">{{ rowIndex + 1 }}</td>
            <td>{{ ajustement.codeCip }}</td>
            <td>{{ ajustement.produitLibelle }}</td>
            <td style="text-align: right">{{ ajustement.stockBefore | number }}</td>
            <td pEditableColumn style="text-align: right">
              <p-cellEditor>
                <ng-template #input>
                  <input
                    (focus)="$event.target.select()"
                    (keydown.enter)="onUpdateQuantity(ajustement, $event)"
                    [fluid]="true"
                    [value]="ajustement.qtyMvt"
                    pInputText
                    required
                    style="width: 100%"
                    type="number"
                  />
                </ng-template>
                <ng-template #output>
                  {{ ajustement.qtyMvt | number }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td class="text-right">{{ ajustement.stockAfter | number }}</td>
            <td style="text-align: right">
              <p-button
                (click)="confirmDeleteItem(ajustement)"
                [text]="true"
                class="p-mb-3"
                icon="pi pi-trash"
                pTooltip="Supprimer"
                rounded="true"
                severity="danger"
              ></p-button>
            </td>
            <td class="text-center">
              <p-tableCheckbox [value]="ajustement"></p-tableCheckbox>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

