<p-confirmDialog #redirect [baseZIndex]="10000" [style]="{width: '40vw'}" key="redirect">
  <p-footer>
    <button (click)="redirect.reject()" class="p-button-danger" icon="pi pi-times" label="Non"
            pButton
            type="button"></button>
    <button (click)="redirect.accept()" icon="pi pi-check" label="Oui" pButton
            type="button"></button>
  </p-footer>

</p-confirmDialog>
<p-confirmDialog #deleteItem [baseZIndex]="10000" [style]="{width: '40vw'}" key="deleteItem">
  <p-footer>
    <button (click)="deleteItem.reject()" class="p-button-danger" icon="pi pi-times" label="Non"
            pButton
            type="button"></button>
    <button (click)="deleteItem.accept()" icon="pi pi-check" label="Oui" pButton
            type="button"></button>
  </p-footer>

</p-confirmDialog>

<p-confirmDialog #warningMessage [baseZIndex]="10000" [style]="{width: '40vw'}"
                 key="warningMessage">
  <p-footer>
    <button (click)="warningMessage.reject()" class="p-button-secondary" icon="pi pi-times"
            label="Fermer"
            pButton
            type="button"></button>

  </p-footer>

</p-confirmDialog>


<div class="ajustement">
  <div class=" master">
    <p-toolbar>
      <div class=" p-toolbar-group-start row" style="width: 100%;">

        <div class="col-md-4 ">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Motifs</span>
            <p-autoComplete #motif (completeMethod)="searchMotif($event)"
                            (onSelect)="onSelectMotif(motif)"
                            [(ngModel)]="motifSelected"
                            [dataKey]="'id'"
                            [dropdown]="true"
                            [inputStyle]="{'width':'100%'}"
                            [minLength]="PRODUIT_COMBO_MIN_LENGTH"
                            [showEmptyMessage]="true" [style]="{'width':'100%'}"
                            [suggestions]="motifs"
                            field="libelle"
                            placeholder="Sélectionner le motif">

            </p-autoComplete>

          </div>


        </div>
        <div class="col-md-6">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Produits</span>
            <p-autoComplete #produitbox (completeMethod)="searchFn($event)"
                            (onSelect)="onSelect()"
                            [(ngModel)]="produitSelected"
                            [appendTo]="APPEND_TO"
                            [dataKey]="'id'"
                            [dropdown]="true"
                            [emptyMessage]="PRODUIT_NOT_FOUND"
                            [inputStyle]="{'width':'100%'}"
                            [minLength]="PRODUIT_COMBO_MIN_LENGTH" [showEmptyMessage]="true"
                            [style]="{'width':'100%'}" [suggestions]="produits" field="libelle">

              <ng-template let-item pTemplate="item">

                <div *ngIf="item.totalQuantity>0">
            <span
              style="width:20%; display:inline-block">{{item.fournisseurProduit?.codeCip}}</span><span> {{item.libelle}}</span>
                  <span class="float-right">{{item.regularUnitPrice |number}}</span>
                </div>
                <div *ngIf="item.totalQuantity<=0">
                                            <span class="stockless"
                                                  style="width:20%; display:inline-block">{{item.fournisseurProduit?.codeCip}}</span><span
                  class="stockless"> {{item.libelle}}</span> <span
                  class="float-right stockless">{{item.regularUnitPrice |number}}</span>
                </div>
              </ng-template>

            </p-autoComplete>
          </div>

        </div>
        <div class="col-md-2">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Qté</span>
            <input #quantityBox (keyup.enter)="onQuantityBoxAction($event)"
                   pInputText
                   type="number">
          </div>

        </div>
      </div>

    </p-toolbar>

    <p-card>
      <ng-template pTemplate="header">
        <div *ngIf="produitSelected" class="row">
          <div class="col-4">
            <span> Stock actuel: &nbsp;&nbsp;<p-badge severity="danger"
                                                      value="{{produitSelected?.totalQuantity}}"> </p-badge></span>
          </div>
          <div *ngIf="produitSelected?.rayonLibelle" class="col-4"><span> Rayon:&nbsp;&nbsp;<p-badge
            severity="success"
            value="{{produitSelected?.rayonLibelle}}"> </p-badge></span>
          </div>

        </div>


      </ng-template>
      <div>

        <p-table [(selection)]="selectedEl" [paginator]="true"
                 [rowsPerPageOptions]="[20,30,40,50]" [rows]="20"
                 [showCurrentPageReport]="false" [value]="items" dataKey="id"
                 styleClass="commande-order-line-table"
        >
          <ng-template pTemplate="caption">

            <div class="row" style="margin: 0">
              <div class="col-md-3" style="margin: 0; padding-left: 3px;padding-right: 3px;">
                <input (keyup.enter)="onFilterItems()" [(ngModel)]="search"
                       [style]="{'width':'98%'}" pInputText
                       placeholder="Taper pour rechercher"
                       type="text">
              </div>

              <div class="col-md-9 text-right" style=" padding-left: 3px;padding-right: 3px;">
                <span class="p-buttonset">
    <button (click)="onSave()" *ngIf="ajustement" class="p-button-success p-button-raised" pButton
            pRipple
            type="button">  <fa-icon
      icon="lock"></fa-icon>&nbsp;<span>Cloturer</span></button>

                    <button (click)="confirmDeleteItems()" *ngIf="selectedEl!.length>0"
                            class="p-button-raised p-button-danger" pButton
                            pRipple
                            type="button">
                    <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Supprimer</span>
                </button>
                   <p-button (click)="confirmGoBack()" icon="pi pi-arrow-left" label="Retour"
                             styleClass="p-button-raised p-button-secondary"></p-button>
                </span>


              </div>

            </div>


          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width:2%">
                #
              </th>
              <th>Cip</th>
              <th>Libellé</th>
              <th>Sock init</th>
              <th>Qantité Ajustée</th>
              <th>Sock Après</th>
              <th style="width:4%"></th>
              <th class="table-all-checkbos" style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
            </tr>
          </ng-template>
          <ng-template let-ajustement let-rowIndex="rowIndex" pTemplate="body">
            <tr>
              <td style="text-align: left;">{{rowIndex + 1}}</td>
              <td>{{ajustement.codeCip}}</td>
              <td>{{ajustement.produitLibelle}}</td>
              <td style="text-align: right;">{{ajustement.stockBefore |number}}</td>
              <td pEditableColumn style="text-align: right;">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input (focus)="$event.target.select()"
                           (keydown.enter)="onUpdateQuantity(ajustement,$event)"
                           [value]="ajustement.qtyMvt" pInputText
                           required
                           style="width: 100%;"
                           type="number">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ajustement.qtyMvt |number}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="text-right">  {{ajustement.stockAfter |number}}</td>
              <td style="text-align: right;">

                <button (click)="confirmDeleteItem(ajustement)"
                        class="p-button-rounded p-button-danger p-button-sm  p-mb-3"
                        icon="pi pi-trash"
                        pButton pRipple
                        pTooltip="Supprimer"></button>
              </td>
              <td class="text-center">
                <p-tableCheckbox [value]="ajustement"></p-tableCheckbox>
              </td>
            </tr>
          </ng-template>

        </p-table>


      </div>

    </p-card>
  </div>

</div>
