<ngx-spinner [fullScreen]="false" bdColor="rgba(255,255,255,0.5)" color="#f13151" size="medium" type="timer"></ngx-spinner>
<p-confirmDialog [baseZIndex]="10000" [style]="{ width: '40vw' }"> </p-confirmDialog>

<div class="row">
  <div class="col-sm-12 col-sm-4 col-lg-3 col-xl-3 col-md-4">
    <div class="card">
      <div class="card-header">
        <h5>Suggestion</h5>
      </div>
      <div class="card-body">
        <ul class="list-group">
          @let sug = suggestion();
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Référence
            <span class="badge text-bg-secondary fw-bold">{{ sug.suggessionReference }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Fournisseur
            <span class="badge text-bg-secondary fw-bold">{{ sug.fournisseurLibelle }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Date
            <span class="badge text-bg-secondary fw-bold">{{ sug.updatedAt | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Type de suggestion
            <span class="badge text-bg-secondary fw-bold">{{ sug.typeSuggession }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-sm-8 col-lg-9 col-xl-9 col-md-8">
    <p-toolbar>
      <ng-template #start>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input (keyup.enter)="onSearch($event.target.value)" pInputText placeholder="Taper pour rechercher" type="text" />
        </p-iconfield>
      </ng-template>
      <ng-template #end>
        <div class="d-flex justify-content-end">
          <p-button [raised]="true" class="mr-1" icon="pi pi-upload" label="Commander" severity="primary" type="button"></p-button>
          <p-button
            (click)="sanitize()"
            class="mr-1"
            [raised]="true"
            icon="pi pi-objects-column"
            label="Purger"
            severity="info"
            type="button"
          ></p-button>
          @if (selections?.length) {
            <p-button [raised]="true" icon="pi pi-trash" label="Supprimer" severity="danger" type="button"></p-button>
          }
          <p-button (onClick)="previousState()" severity="secondary" icon="pi pi-arrow-left" label="Retour" />
        </div>
      </ng-template>
    </p-toolbar>
    @if (suggestions && suggestions.length > 0) {
      <p-table
        (onLazyLoad)="lazyLoading($event)"
        [(selection)]="selections"
        [lazy]="true"
        [loading]="loading"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 15, 20, 30, 50]"
        [rows]="itemsPerPage"
        [showCurrentPageReport]="false"
        [totalRecords]="totalItems"
        [value]="suggestions"
        dataKey="id"
        selectionMode="multiple"
        styleClass="p-datatable-striped mt-2"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 20%">Etat</th>
            <th>Code</th>
            <th>Libellé</th>
            <th>Stock</th>
            <th>Quantité</th>

            <th class="table-all-checkbos">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="width: 8%"></th>
          </tr>
        </ng-template>
        <ng-template let-suggestion pTemplate="body">
          <tr>
            <td><jhi-eta-produit [etatProduit]="suggestion.etatProduit"> </jhi-eta-produit></td>
            <td>{{ suggestion.fournisseurProduitCip }}</td>
            <td>{{ suggestion.fournisseurProduitLibelle }}</td>
            @if (suggestion.currentStock < 0) {
              <td style="text-align: right" class="amount-column red-400">{{ suggestion.currentStock | number }}</td>
            } @else if (suggestion.currentStock === 0) {
              <td style="text-align: right" class="amount-column orange-400">{{ suggestion.currentStock | number }}</td>
            } @else {
              <td style="text-align: right" class="amount-column">{{ suggestion.currentStock | number }}</td>
            }

            <td style="text-align: right" class="amount-column">{{ suggestion.quantity | number }}</td>
            <td class="text-center">
              <p-tableCheckbox [value]="suggestion"></p-tableCheckbox>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <p-button
                  [routerLink]="['/produit', suggestion.produitId, 'edit']"
                  severity="success"
                  icon="pi pi-pencil"
                  [rounded]="true"
                  pTooltip="Editer"
                  text
                >
                </p-button>

                <p-button (click)="delete(suggestion.id)" [rounded]="true" severity="danger" icon="pi pi-trash" pTooltip="Supprimer" text />
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    } @else {
      <div class="alert alert-warning" id="no-result">
        <span>Aucune donnée trouvée</span>
      </div>
    }
  </div>
</div>
