<app-data-table
  [value]="rayons()"
  [totalRecords]="totalItems()"
  [rows]="rows()"
  [first]="first()"
  [loading]="loading()"
  [lazy]="true"
  [paginator]="true"
  [rowsPerPageOptions]="[10, 15, 20, 30, 50]"
  (onLazyLoad)="onLazyLoad($event)"
  dataKey="id"
  class="p-datatable-sm"
>
  <ng-template #header>
    <tr class="pharma-table-head">
      <th style="width: 20%">Emplacement</th>
      <th style="width: 12%">Code</th>
      <th>Libellé</th>
      <th>Position</th>
      <th style="width: 12%">Type zone</th>
      <th style="width: 10rem; text-align: center">Actions</th>
    </tr>
  </ng-template>

  <ng-template #body let-rayon>
    <tr
      [class.selected-row]="isSelected(rayon)"
      (click)="onRowClick(rayon)"
      style="cursor: pointer"
    >
      <td><span class="pharma-entity-name">{{ rayon.storageType }}</span></td>
      <td><span class="pharma-code">{{ rayon.code }}</span></td>
      <td><span class="pharma-entity-name">{{ rayon.libelle }}</span></td>
      <td>{{ rayon.position }}</td>
      <td>
        @if (rayon.typeZone) {
          <app-badge [label]="rayon.typeZone" [severity]="typeZoneSev(rayon.typeZone)" />
        }
      </td>
      <td style="text-align: right">
        <div class="btn-group">
          <app-button
            size="small"
            icon="pi pi-eye"
            [rounded]="true" [text]="true" severity="info"
            ngbTooltip="Voir détail"
            (clicked)="onViewDetail(rayon, $event)"
          />
          <app-button
            size="small"
            icon="pi pi-list-check"
            [rounded]="true" [text]="true" severity="help"
            ngbTooltip="Lancer un inventaire"
            (clicked)="onLancerInventaire(rayon, $event)"
          />
          @if (rayon.code !== 'SANS') {
            <app-button
              icon="pi pi-copy"
              size="small"
              [rounded]="true" [text]="true" severity="info"
              ngbTooltip="Cloner vers d'autres stockages"
              (clicked)="onClone(rayon, $event)"
            />
            <app-button
              icon="pi pi-pencil"
              size="small"
              [rounded]="true" [text]="true" severity="success"
              ngbTooltip="Modifier"
              (clicked)="onEdit(rayon, $event)"
            />
            <app-button
              size="small"
              icon="pi pi-trash"
              [rounded]="true" [text]="true" severity="danger"
              ngbTooltip="Supprimer"
              (clicked)="onDelete(rayon, $event)"
            />
          }
        </div>

      </td>
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td colspan="5">Aucun rayon trouvé</td>
    </tr>
  </ng-template>
</app-data-table>
