<app-data-table
  (onLazyLoad)="onLazyLoad($event)"
  [first]="first()"
  [lazy]="true"
  [loading]="loading()"
  [paginator]="true"
  [rowsPerPageOptions]="[10, 15, 20, 30, 50]"
  [rows]="rows()"
  [totalRecords]="totalItems()"
  [value]="rayons()"
  class="p-datatable-sm"
  dataKey="id"
>
  <ng-template #header>
    <tr class="pharma-table-head">
      <th style="width: 20%">Emplacement</th>
      <th style="width: 12%">Code</th>
      <th>Libellé</th>
      <th>Position</th>
      <th style="width: 12%">Type zone</th>
      <th style="width: 10rem; text-align: center">Actions</th>
    </tr>
  </ng-template>

  <ng-template #body let-rayon>
    <tr
      (click)="onRowClick(rayon)"
      [class.ligne-selected]="isSelected(rayon)"
      style="cursor: pointer"
    >
      <td><span class="pharma-entity-name">{{ rayon.storageType }}</span></td>
      <td><span class="pharma-code">{{ rayon.code }}</span></td>
      <td><span class="pharma-entity-name">{{ rayon.libelle }}</span></td>
      <td>{{ rayon.position }}</td>
      <td>
        @if (rayon.typeZone) {
          <app-badge [label]="rayon.typeZone" [severity]="typeZoneSev(rayon.typeZone)" />
        }
      </td>
      <td style="text-align: right">
        <div class="btn-group">
          <app-button
            (clicked)="onViewDetail(rayon, $event)"
            [rounded]="true"
            [text]="true" icon="pi pi-eye" ngbTooltip="Voir détail"
            severity="info"
            size="small"
          />
          <app-button
            (clicked)="onLancerInventaire(rayon, $event)"
            [rounded]="true"
            [text]="true" icon="pi pi-list-check" ngbTooltip="Lancer un inventaire"
            severity="help"
            size="small"
          />
          @if (rayon.code !== 'SANS') {
            <app-button
              (clicked)="onClone(rayon, $event)"
              [rounded]="true"
              [text]="true" icon="pi pi-copy" ngbTooltip="Cloner vers d'autres stockages"
              severity="info"
              size="small"
            />
            <app-button
              (clicked)="onEdit(rayon, $event)"
              [rounded]="true"
              [text]="true" icon="pi pi-pencil" ngbTooltip="Modifier"
              severity="success"
              size="small"
            />
            <app-button
              (clicked)="onDelete(rayon, $event)"
              [rounded]="true"
              [text]="true" icon="pi pi-trash" ngbTooltip="Supprimer"
              severity="danger"
              size="small"
            />
          }
        </div>

      </td>
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td colspan="5">Aucun rayon trouvé</td>
    </tr>
  </ng-template>
</app-data-table>
