<div class="modal-header">
  <h5 class="modal-title">{{ header }}</h5>
  <button (click)="cancel()" aria-label="Close" class="btn-close" type="button"></button>
</div>
<div class="modal-body">
  <p-card>
    <div class="form-group mb-1">
      <label class="form-label fw-semibold" for="model-select">Format du fichier grossiste</label>
      <p-select
        [(ngModel)]="selectedModel"
        [options]="models"
        inputId="model-select"
        optionLabel="label"
        optionValue="value"
        placeholder="Sélectionner le format..."
        class="w-100"
        (onShow)="onDropdownShow($event)"
        (onHide)="onDropdownHide($event)"
      />
    </div>
    <div class="form-group">
      <p-fileupload
        #fileUploadRef
        (uploadHandler)="onImporterReponseCommande($event, fileUploadRef)"
        [customUpload]="true"
        [disabled]="!selectedModel"
        accept=".csv,.xls,.xlsx"
        cancelLabel="Annuler"
        chooseLabel="Importer un fichier"
        name="importcsv"
        uploadLabel="Enrégistrer"
      >
      </p-fileupload>
    </div>
  </p-card>
</div>

<div class="modal-footer">
  <p-button (click)="cancel()"  icon="pi pi-times" label="Fermer" raised="true" severity="secondary" type="button"/>
</div>
<jhi-spinner #spinner></jhi-spinner>
