.ca-data {
  font-size: 13px;

  .card {
    padding-left: 2px;
    padding-right: 2px;

    .card-body {
      padding: 2px;

      ul {
        li {
          padding-left: 3px;
          padding-right: 2px;
        }
      }
    }
  }
}
