<div class="row produit-audit-transaction">
  <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2">
    <!-- Modern Navigation Sidebar -->
    <div class="pharma-nav-sidebar">
      <div class="pharma-nav-sidebar-card">
        <div class="pharma-nav-sidebar-header">
          <i class="pi pi-history"></i>
          <span>Transactions</span>
        </div>

        <div class="pharma-nav-sidebar-content">
          <div #nav="ngbNav" [(activeId)]="active" class="nav flex-column nav-pills" ngbNav
               orientation="vertical">
            <ng-container ngbNavItem="auditing">
              <a class="pharma-nav-vertical-link" ngbNavLink>
                <i class="pi pi-arrows-alt"></i>
                <span>Mouvements de stock</span>
                <span class="link-arrow">›</span>
              </a>
              <ng-template ngbNavContent>
                <jhi-auditing></jhi-auditing>
              </ng-template>
            </ng-container>

            <ng-container ngbNavItem="sales">
              <a class="pharma-nav-vertical-link" ngbNavLink>
                <i class="pi pi-shopping-bag"></i>
                <span>Historique des ventes</span>
                <span class="link-arrow">›</span>
              </a>
              <ng-template ngbNavContent>
                <jhi-stat-sales></jhi-stat-sales>
              </ng-template>
            </ng-container>

            <ng-container ngbNavItem="commande">
              <a class="pharma-nav-vertical-link" ngbNavLink>
                <i class="pi pi-truck"></i>
                <span>Historique des commandes</span>
                <span class="link-arrow">›</span>
              </a>
              <ng-template ngbNavContent>
                <jhi-stat-delivery></jhi-stat-delivery>
              </ng-template>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10 row produit-audit-toolbar">
    <p-toolbar class="mb-2">
      <div class=" d-flex justify-content-between " style="width: 100%">
        <div class="flex-grow-1 d-flex justify-content-between">
          <div class="mr-1 flex-grow-1">
            <jhi-produit-autocomplete
              (selectedProduit)="onSelect($event)"
              [(ngModel)]="produit"
              [autofocus]="true"
              [includeDetails]="true"
              (onClear)="onClear($event)"
              [pageSize]="PRODUIT_COMBO_RESULT_SIZE">
            </jhi-produit-autocomplete>
          </div>

          <div class="mr-1">
            <jhi-date-picker #dateDebut
                             [disabled]="false"
                             [id]="'du'"
                             [label]="'warehouseApp.labels.du'"
                             [max]="toDate"
            ></jhi-date-picker>
          </div>

          <div class="mr-1">
            <jhi-date-picker #dateFin
                             (onSelect)="updateParam()"
                             [defaultDate]="defaultDate"
                             [disabled]="false"
                             [id]="'au'"
                             [label]="'warehouseApp.labels.au'"
                             [min]="fromDate"
            ></jhi-date-picker>
          </div>


        </div>
        <div>
          <p-buttonGroup>
            <!--      @if (produit) {
                  <div class="mr-1">
                    <p-button [badge]="produit?.totalQuantity | number" badgeSeverity="contrast"
                              label="Stock" [raised]="true" />
                  </div>
                } -->

            <p-button (click)="load()" class="mr-1" icon="pi pi-search" label="Rechercher"
                      raised="true" severity="info"></p-button>
            @if (produit) {
              <p-button (click)="exportPdf()" icon="pi pi-file-pdf" label="Imprimer"
                        raised="true" severity="warn" type="button">
              </p-button>
            }
            <!-- <jhi-back-button></jhi-back-button> -->
          </p-buttonGroup>
        </div>
      </div>
    </p-toolbar>

    <p-panel>
      <ng-template #header></ng-template>
      <div [ngbNavOutlet]="nav"></div>
    </p-panel>
  </div>
</div>
