<div class="row produit-audit-transaction">
  <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2">
    <!-- Modern Navigation Sidebar -->
    <div class="pharma-nav-sidebar">
      <div class="pharma-nav-sidebar-card">
        <div class="pharma-nav-sidebar-header">
          <i class="pi pi-history"></i>
          <span>Transactions</span>
        </div>

        <div class="pharma-nav-sidebar-content">
          <div #nav="ngbNav" [(activeId)]="active" class="nav flex-column nav-pills" ngbNav orientation="vertical">
            <ng-container ngbNavItem="auditing">
              <a class="pharma-nav-vertical-link" ngbNavLink>
                <i class="pi pi-arrows-alt"></i>
                <span>Mouvements de stock</span>
                <span class="link-arrow">›</span>
              </a>
              <ng-template ngbNavContent>
                <jhi-auditing></jhi-auditing>
              </ng-template>
            </ng-container>

            <ng-container ngbNavItem="sales">
              <a class="pharma-nav-vertical-link" ngbNavLink>
                <i class="pi pi-shopping-bag"></i>
                <span>Historique des ventes</span>
                <span class="link-arrow">›</span>
              </a>
              <ng-template ngbNavContent>
                <jhi-stat-sales></jhi-stat-sales>
              </ng-template>
            </ng-container>

            <ng-container ngbNavItem="commande">
              <a class="pharma-nav-vertical-link" ngbNavLink>
                <i class="pi pi-truck"></i>
                <span>Historique des commandes</span>
                <span class="link-arrow">›</span>
              </a>
              <ng-template ngbNavContent>
                <jhi-stat-delivery></jhi-stat-delivery>
              </ng-template>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10">
    <div class="pharma-smart-content p-2">
      <!-- Modern Pharma Toolbar -->
      <div class="pharma-toolbar">
        <div class="pharma-toolbar-header">
          <i class="pi pi-history"></i>
          <span class="pharma-toolbar-title">Transactions</span>
        </div>

        <p-toolbar>
          <ng-template #start>
            <div class="pharma-toolbar-filters">
              <div style="min-width: 300px; flex: 1 1 auto">
                <jhi-produit-autocomplete
                  (selectedProduit)="onSelect($event)"
                  [(ngModel)]="produit"
                  [autofocus]="true"
                  [includeDetails]="true"
                  (onClear)="onClear($event)"
                  [pageSize]="PRODUIT_COMBO_RESULT_SIZE"
                />
              </div>

              <jhi-date-picker
                [style]="{ 'max-width': '150px' }"
                #dateDebut
                [disabled]="false"
                [id]="'du'"
                [label]="'warehouseApp.labels.du'"
                [max]="toDate"
              />
              <jhi-date-picker
                [style]="{ 'max-width': '150px' }"
                #dateFin
                (onSelect)="updateParam()"
                [defaultDate]="defaultDate"
                [disabled]="false"
                [id]="'au'"
                [label]="'warehouseApp.labels.au'"
                [min]="fromDate"
              />
            </div>
          </ng-template>

          <ng-template #end>
            <div class="pharma-toolbar-actions">
              <div class="pharma-button-group">
                <p-button
                  (click)="load()"
                  [raised]="true"
                  icon="pi pi-search"
                  label="Rechercher"
                  pTooltip="Rechercher"
                  severity="info"
                  tooltipPosition="top"
                />

                @if (produit) {
                  <p-button
                    (click)="exportPdf()"
                    [raised]="true"
                    icon="pi pi-file-pdf"
                    label="Imprimer"
                    pTooltip="Imprimer"
                    severity="warn"
                    tooltipPosition="top"
                    type="button"
                  />
                }
              </div>
            </div>
          </ng-template>
        </p-toolbar>
      </div>

      <div class="mt-3">
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</div>
