<div class="container">
  <div class="justify-content-center">
    <div class="pharma-smart-content p-2">
      <div class="pharma-toolbar">
        <div class="pharma-toolbar-header">
          <i class="pi pi-percentage"></i>
          <span class="pharma-toolbar-title">Liste des Tvas</span>
        </div>

        <div class="pharma-toolbar-content">
          <div class="pharma-toolbar-filters"></div>

          <div class="pharma-toolbar-actions">
            <div class="pharma-button-group">
              <app-button (clicked)="addNewEntity()" [raised]="true" icon="pi pi-plus" label="Nouvelle Tva" severity="success" />
            </div>
          </div>
        </div>
      </div>

      <div class="mt-2">
        @if (tvas && tvas.length > 0) {
          <app-data-table
            [(selection)]="selectedTva"
            [loading]="loading"
            [selectionMode]="'single'"
            [size]="'small'"
            [value]="tvas"
            dataKey="id"
          >
            <ng-template #header>
              <tr class="pharma-table-head">
                <th scope="col"><span>Taux</span></th>
                <th scope="col"></th>
              </tr>
            </ng-template>
            <ng-template #body let-tva>
              <tr [appSelectableRow]="tva">
                <td>
                  <span class="pharma-price">{{ tva.taux }}</span>
                </td>
                <td style="text-align: center">
                  <app-button (clicked)="delete(tva)" [iconOnly]="true" [rounded]="true" [text]="true"
                              ariaLabel="Supprimer" icon="pi pi-trash" ngbTooltip="Supprimer" severity="danger" />
                </td>
              </tr>
            </ng-template>
          </app-data-table>
        } @else {
          <div class="alert alert-warning" id="no-result">
            <span>{{ 'global.messages.emptyData' | translate }}</span>
          </div>
        }
      </div>
    </div>
  </div>
</div>
