<p-toast position="center"></p-toast>
<form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
  <div class="modal-body form-client" id="modal">
    <div [hidden]="true" class="form-group">
      <input class="form-control" formControlName="id" id="id" name="id" readonly type="hidden" />

    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label class="form-control-label"
               for="field_firstName">Nom </label> <span
        style="font-weight: 900;color: red;">*</span>
        <input autocomplete="off" class="form-control" formControlName="firstName"
               id="field_firstName"
               name="firstName" type="text" />
        <div
          *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
          <small *ngIf="editForm.get('firstName')?.errors?.required" class="form-text text-danger"
                 jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label class="form-control-label"
               for="field_lastName">Prénom(s) <span style="font-weight: 900;color: red;">*</span>
        </label>
        <input autocomplete="off" class="form-control" formControlName="lastName"
               id="field_lastName"
               name="lastName"
               pInputText type="text" />
        <div
          *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
          <small *ngIf="editForm.get('lastName')?.errors?.required" class="form-text text-danger"
                 jhiTranslate="entity.validation.required">
            This field is required.
          </small>

        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="form-control-label"
               for="field_num">Numéro de sécurité <span
          style="font-weight: 900;color: red;">*</span>
        </label>
        <input autocomplete="off" class="form-control" formControlName="num" id="field_num"
               name="num"
               pInputText type="text" />
        <div
          *ngIf="editForm.get('num')!.invalid && (editForm.get('num')!.dirty || editForm.get('num')!.touched)">
          <small *ngIf="editForm.get('num')?.errors?.required" class="form-text text-danger"
                 jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>
      <div class="form-group col-md-2">
        <label class="form-control-label"
               for="tiersPayantId">Taux<span style="font-weight: 900;color: red;">*</span></label>
        <input autocomplete="off" class="form-control" formControlName="taux" id="field_taux"
               name="taux"
               pInputText
               pKeyFilter="int" type="text" />
        <div
          *ngIf="editForm.get('taux')!.invalid && (editForm.get('taux')!.dirty || editForm.get('taux')!.touched)">
          <small *ngIf="editForm.get('taux')?.errors?.required" class="form-text text-danger"
                 jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="form-control-label"
               for="tiersPayantId">Tiers-payant<span
          style="font-weight: 900;color: red;">*</span></label>
        <ng-select [(ngModel)]="selectedTiersPayant" [items]="tiersPayants"

                   bindLabel="fullName"
                   class="form-control" formControlName="tiersPayantId" id="tiersPayantId"
                   name="tiersPayantId"
                   placeholder="Sélectionner un Tiers-payant">
        </ng-select>
        <div
          *ngIf="editForm.get('tiersPayantId')!.invalid && (editForm.get('tiersPayantId')!.dirty || editForm.get('tiersPayantId')!.touched)">
          <small *ngIf="editForm.get('tiersPayantId')?.errors?.required"
                 class="form-text text-danger"
                 jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div class="form-group col-md-3">
        <label class="form-control-label"
               for="field_phone">Téléphone</label>
        <input autocomplete="off" class="form-control" formControlName="phone" id="field_phone"
               name="phone"
               pInputText
               pKeyFilter="int" type="text" />
      </div>

      <div class="form-group col-md-3">
        <label class="form-control-label">Date de naissance</label>
        <p-calendar [maxDate]="maxDate" [selectOtherMonths]="true"
                    [showButtonBar]="true"
                    appendTo="body" class="form-control form-date-input" formControlName="datNaiss"
                    inputId="datNaiss"></p-calendar>
      </div>

      <div class="form-group col-md-2">
        <label class="form-control-label"
               for="plafondJournalier">Plafond de vente</label>
        <input autocomplete="off" class="form-control" formControlName="plafondJournalier"
               id="plafondJournalier" name="plafondJournalier"
               pInputText
               pKeyFilter="int" type="text" />
      </div>


    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label class="form-control-label"
               for="plafondConso">Plafond consommation</label>
        <input autocomplete="off" class="form-control" formControlName="plafondConso"
               id="plafondConso" name="plafondConso"
               pInputText
               pKeyFilter="int" type="text" />
      </div>
      <div class="form-group col-md-3">
        <label class="form-control-label">Le plofond est-il absolu ?</label>
        <!--                <p-inputSwitch class="form-control" formControlName="plafondAbsolu"-->
        <!--                               ></p-inputSwitch>-->
        <p-selectButton [options]="plafonds" formControlName="plafondAbsolu" optionLabel="label"
                        optionValue="value"></p-selectButton>
      </div>

      <div class="form-group col-md-3">
        <label class="form-control-label">E-mail</label>
        <input autocomplete="off" class="form-control" formControlName="email" id="email"
               name="email"
               pInputText type="email" />
      </div>

      <div class="form-group col-md-3">
        <h5 class="form-control-label">Sexe</h5>
        <p-radioButton formControlName="sexe" label="Masculin" labelStyleClass="mr-3" name="sexe"
                       value="M"></p-radioButton>
        <p-radioButton formControlName="sexe" label="Feminin" name="sexe" value="F"></p-radioButton>
      </div>
    </div>
    <p-divider align="left">
      <span class="p-tag">Complementaires</span>

    </p-divider>
    <div *ngIf="validSize" style="text-align: right;">
      <button (click)="addTiersPayant()" class="p-button-rounded p-button-success p-button-sm"
              icon="pi pi-plus" pButton
              type="button"></button>
    </div>
    <div *ngFor="let tiersPayant of editFormGroups.controls; let i = index"
         formArrayName="tiersPayants">
      <ng-container [formGroupName]="i">
        <input class="form-control" formControlName="id" type="hidden" />
        <div class="form-row" style="border-bottom: 1px solid #ddd;">
          <div class="form-group col-md-4">
            <label class="form-control-label">Tiers-payant<span
              style="font-weight: 900;color: red;">*</span></label>
            <p-autoComplete (completeMethod)="searchTiersPayant($event)"
                            (onSelect)="onSelectTiersPayant($event)"
                            [forceSelection]="true"
                            [inputStyle]="{'width':'100%'}"
                            [minLength]="minLength" [style]="{'width':'100%'}"
                            [suggestions]="tiersPayants" appendTo="body"
                            formControlName="tiersPayantId" name="tiersPayantId"
                            optionLabel="fullName" placeholder="Taper pour rechercher">
            </p-autoComplete>
          </div>
          <div class="form-group col-md-3">
            <label class="form-control-label">Numéro de sécurité <span
              style="font-weight: 900;color: red;">*</span>
            </label>
            <input autocomplete="off" class="form-control" formControlName="num" name="num"
                   pInputText type="text" />
          </div>
          <div class="form-group col-md-2">
            <label class="form-control-label">Taux <span
              style="font-weight: 900;color: red;">*</span>
            </label>
            <input autocomplete="off" class="form-control" formControlName="taux" name="taux"
                   pInputText
                   pKeyFilter="int" type="text" />

          </div>
          <div class="form-group col-md-2">
            <label class="form-control-label">Ordre <span
              style="font-weight: 900;color: red;">*</span>
            </label>
            <p-dropdown [options]="catgories" appendTo="body"
                        class="form-control ngCombo"
                        formControlName="priorite" optionLabel="label"
                        optionValue="value"></p-dropdown>

          </div>
          <div class="form-group col-md-1 pt-4">
            <button (click)="removeTiersPayant(i)" class="p-button-rounded p-button-danger"
                    icon="pi pi-times" pButton
                    type="button"></button>
          </div>

        </div>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="cancel()" class="btn btn-secondary" data-dismiss="modal" type="button">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button [disabled]="editForm.invalid || isSaving || !isValid" class="btn btn-primary"
            id="save-entity"
            type="submit">
      <fa-icon icon="times"></fa-icon>&nbsp;<span>Enregistrer</span>
    </button>
  </div>
</form>
