@import 'app/shared/scss/table-common';
@import 'app/shared/scss/pharma-toolbar';

.pharma-toolbar-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

p-card {
  ::ng-deep .p-card-body {
    padding: 1rem;
  }

  ::ng-deep .p-card-content {
    padding: 0;
  }
}

::ng-deep .p-tabview {
  .p-tabview-nav {
    margin-bottom: 1rem;
  }
}
