<div class="sale-actions-container">
  <!-- Version Mobile : Icon-only avec tooltips -->
  @if (isSmallScreen()) {
    <p-buttonGroup >
      <p-button
        [icon]="getSaveButtonIcon()"
        [severity]="getSaveButtonSeverity()"
        [disabled]="!canSave() || isSaving()"
        [loading]="isSaving()"
        [pTooltip]="getSaveButtonLabel()"
        [raised]="true"
        size="large"
        (onClick)="onSave()"
       ></p-button>

        <p-button
          size="large"
          icon="pi pi-pause"
          severity="secondary"
          [disabled]="!canSaveAsPresale() || isSaving()"
          [raised]="true"
          pTooltip="Mettre en attente"
          (onClick)="onSaveAsPresale()"
          ></p-button>


      <p-button
        icon="pi pi-times"
        severity="danger"
        [disabled]="!canCancel() || isSaving()"
        [raised]="true"
        size="large"
        pTooltip="Annuler"
        (onClick)="onCancel()"
        ></p-button>
    </p-buttonGroup>
  } @else {
    <!-- Version Desktop : Boutons avec labels dans ButtonGroup -->
    <div>
      <p-buttonGroup>
        <p-button
          [label]="getSaveButtonLabel()"
          [icon]="getSaveButtonIcon()"
          [severity]="getSaveButtonSeverity()"
          [disabled]="!canSave() || isSaving()"
          [loading]="isSaving()"
          [raised]="true"
          (onClick)="onSave()"
          ></p-button>


          <p-button
            label="Mettre en attente"
            icon="pi pi-pause"
            severity="secondary"
            [disabled]="!canSaveAsPresale() || isSaving()"
            [raised]="true"
            (onClick)="onSaveAsPresale()"
            ></p-button>


        <p-button
          label="Annuler"
          icon="pi pi-times"
          severity="danger"
          [disabled]="!canCancel() || isSaving()"
          [raised]="true"
          (onClick)="onCancel()"
         ></p-button>
      </p-buttonGroup>

      @if (showPrintButton() && saleType() === 'COMPTANT') {
        <p-button
          label="Finaliser et Imprimer"
          icon="pi pi-print"
          severity="success"
          [outlined]="true"
          [disabled]="!canSave() || isSaving()"
          (onClick)="onSaveAndPrint()"
          size="small"></p-button>
      }

      @if (showPrintButton() && canPrint()) {
        <p-button
          label="Imprimer"
          icon="pi pi-print"
          severity="secondary"
          [disabled]="!canPrint()"
          (onClick)="onPrint()"
          size="small"></p-button>
      }
    </div>
  }
</div>
