<div class="sale-actions-container">
  <!-- Version Mobile : Icon-only avec tooltips -->
  @if (isSmallScreen()) {
    <p-buttongroup>
      @if (!isPresale() && !isDevis()) {
        <p-button
          (onClick)="onSave()"
          [disabled]="!canSave() || isSaving()"
          [icon]="getSaveButtonIcon()"
          [loading]="isSaving()"
          [pTooltip]="getSaveButtonLabel()"
          [raised]="true"
          [severity]="getSaveButtonSeverity()"
          size="large"
        />

        <p-button
          (onClick)="onPutOnHold()"
          [disabled]="isSaving()"
          [raised]="true"
          icon="pi pi-pause"
          pTooltip="Mettre en attente"
          severity="secondary"
          size="large"
        />
        <p-button
          (onClick)="onCancel()"
          [disabled]="!canCancel() || isSaving()"
          [raised]="true"
          icon="pi pi-times"
          pTooltip="Annuler"
          severity="danger"
          size="large"
        />
      } @else {

        <p-button
          (onClick)="onSaveAsPresale()"
          [disabled]=" isSaving()"
          [icon]="getSaveButtonIcon()"
          [loading]="isSaving()"
          [pTooltip]="getSaveButtonLabel()"
          [raised]="true"
          [severity]="getSaveButtonSeverity()"
          size="large"
        />
        @if (isPresale()) {
          <p-button
            (onClick)="onSavePresale()"
            [disabled]=" isSaving()"
            [icon]="getSavePresaleIcon()"
            [loading]="isSaving()"
            [pTooltip]="getSavePresaleButtonLabel()"
            [raised]="true"
            [severity]="getSavePresaleSeverity()"
            size="large"
          />
        } @else {
          <p-button
            (onClick)="onCancel()"
            [disabled]="!canCancel() || isSaving()"
            [raised]="true"
            icon="pi pi-times"
            pTooltip="Annuler"
            severity="danger"
            size="large"
          />
        }
      }

    </p-buttongroup>
  } @else {
    <!-- Version Desktop : Boutons avec labels dans ButtonGroup -->
    <div>
      <p-buttongroup>
        @if (!isPresale() && !isDevis()) {
          <p-button
            (onClick)="onSave()"
            [disabled]="!canSave() || isSaving()"
            [icon]="getSaveButtonIcon()"
            [label]="getSaveButtonLabel()"
            [loading]="isSaving()"
            [raised]="true"
            [severity]="getSaveButtonSeverity()"
          />

          @if (showButtonEnAttente()) {
            <p-button
              (onClick)="onPutOnHold()"
              [disabled]="isSaving()"
              [raised]="true"
              icon="pi pi-pause"
              label="En attente"
              severity="secondary"
            />
          }

          <p-button
            (onClick)="onCancel()"
            [disabled]="!canCancel() || isSaving()"
            [raised]="true"
            icon="pi pi-times"
            label="Annuler"
            severity="danger"
          />
        } @else {
          <p-button
            (onClick)="onSaveAsPresale()"
            [disabled]="isSaving()"
            [icon]="getSaveButtonIcon()"
            [label]="getSaveButtonLabel()"
            [loading]="isSaving()"
            [raised]="true"
            [severity]="getSaveButtonSeverity()"
          />

          @if (isPresale()) {
            <p-button
              (onClick)="onSavePresale()"
              [disabled]=" isSaving()"
              [icon]="getSavePresaleIcon()"
              [label]="getSavePresaleButtonLabel()"
              [loading]="isSaving()"
              [raised]="true"
              [severity]="getSavePresaleSeverity()"
            />
          } @else {
            <p-button
              (onClick)="onCancel()"
              [disabled]="!canCancel() || isSaving()"
              [raised]="true"
              icon="pi pi-times"
              label="Annuler"
              severity="danger"
            />
          }
        }


      </p-buttongroup>


    </div>

    @if (showPrintButton() && canPrint()) {
      <p-buttongroup>
        <p-button
          (onClick)="onPrint()"
          [disabled]="!canPrint()"
          icon="pi pi-print"
          label="Imprimer"
          severity="secondary"
        />
      </p-buttongroup>

    }


  }
</div>
