<div class="container-fluid">
  <div class="pharma-smart-content p-2">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <div class="input-group">
          <p-floatlabel>
            <p-datePicker
              [(ngModel)]="fromDate"
              [iconDisplay]="'input'"
              [showButtonBar]="true"
              dateFormat="dd/mm/yy"
              id="dateDebut"
              inputId="dateDebut"
              selectOtherMonths="true"
              showIcon="true"
            ></p-datePicker
            >&nbsp;
            <label for="dateDebut">Date début</label>
          </p-floatlabel>
          <p-floatlabel>
            <p-datePicker
              [(ngModel)]="toDate"
              [iconDisplay]="'input'"
              [showButtonBar]="true"
              dateFormat="dd/mm/yy"
              id="dateFin"
              inputId="dateFin"
              selectOtherMonths="true"
              showIcon="true"
            ></p-datePicker
            >&nbsp;
            <label for="dateFin">Date fin</label>
          </p-floatlabel>

          <p-select
            (onChange)="onSearch()"
            [(ngModel)]="selectedUser"
            [options]="users"
            [showClear]="true"
            optionLabel="abbrName"
            placeholder="Opérateur"
          ></p-select>
        </div>
      </div>
      <div class="p-toolbar-group-end">
        <div class="input-group">
          <p-button
            (click)="onSearch()"
            [loading]="btnLoading"
            icon="pi pi-search"
            label="Rechercher"
            pTooltip="Rechercher"
            severity="info"
            tooltipPosition="top"
          ></p-button
          >&nbsp;
          <p-button (click)="onPrint()"
                    [hidden]="true"
                    [loading]="btnLoading"
                    icon="pi pi-print"
                    label="Imprimer"
                    pTooltip="Imprimer"
                    severity="warn"
                    tooltipPosition="top"
          />
        </div>
      </div>
    </p-toolbar>

    <div class="mvt-caisse-data-section mt-3 mb-3">
      @if (datas && datas.length > 0) {
        <div>
          <p-table
            [lazy]="true"
            [loading]="loading"
            [paginator]="true"
            [rowsPerPageOptions]="[5, 10, 15, 20, 30, 50]"
            [rows]="itemsPerPage"
            [showCurrentPageReport]="false"
            [totalRecords]="totalItems"
            [value]="datas"
            dataKey="id"
            selectionMode="multiple"
           stripedRows="true"
           class="pharma-table"
          >
            <ng-template #header>
              <tr class="pharma-table-head">
                <th>Caissier</th>
                <th>Fond de caisse</th>
                <th>Recette</th>
                <th>Total caisse</th>
                <th>Montant mobile</th>
                <th>Billetage</th>
                <th>Ecart</th>
                <th>Total annulation</th>
                <th>Etat de la caisse</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template let-mvtCaisse #body>
              <tr>
                <td>
                  {{ mvtCaisse.user?.abbrName }}
                </td>
                <td class="text-right amount-column">
                  <span class="pharma-price">{{ mvtCaisse.cashFund | number }}</span>
                </td>
                <td>
                  <span class="pharma-total">{{ mvtCaisse.cashAmount | number }}</span>
                </td>
                <td>
                  <span class="pharma-price">{{ mvtCaisse.estimateAmount | number }}</span>
                </td>
                <td>
                  <span class="pharma-price">{{ mvtCaisse.mobileAmount | number }}</span>
                </td>
                <td>
                  <span class="pharma-total">{{ mvtCaisse.ticketing?.totalAmount | number }}</span>
                </td>
                @if (mvtCaisse.gap > 0) {
                  <td class="pharma-price ">{{ mvtCaisse.gap | number }}</td>
                } @else if (mvtCaisse.gap === 0) {
                  <td class=" pharma-price">{{ mvtCaisse.gap | number }}</td>
                } @else {
                  <td class=" text-danger pharma-price">{{ mvtCaisse.gap | number }}</td>
                }
                <td
                  class="text-danger pharma-price">{{ mvtCaisse.canceledAmount | number }}
                </td>
                <td class="text-center">
                  @if (mvtCaisse.statut === OPEN) {
                    <p-tag icon="pi pi-lock-open" severity="warn" value="Ouvert" />
                  } @else if (mvtCaisse.statut === CLOSED) {
                    <p-tag icon="pi pi-lock" severity="success" value="Fermé" />
                  } @else if (mvtCaisse.statut === VALIDATED) {
                    <p-tag icon="pi pi-check" severity="secondary" value="Validé" />
                  }
                </td>
                <td class="text-right">
                  <div [hidden]="true" class="btn-group">
                    @if (mvtCaisse.statut !== OPEN) {
                      <p-button [rounded]="true" severity="success" icon="pi pi-thumbs-up-fill"
                                pTooltip="Valider"></p-button>
                      <p-button [rounded]="true" severity="secondary" icon="pi pi-print"
                                pTooltip="Imprimer"></p-button>
                    }
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      } @else {
        <div class="alert alert-warning" role="alert">
          <span>Aucune donnée trouvée</span>
        </div>
      }
    </div>
  </div>


</div>
<jhi-toast-alert #alert></jhi-toast-alert>
