@let currentSale = currentSaleService.currentSale();

@if (currentSale) {
  @let tiersPayants = currentSale?.thirdPartySaleLines || [];
  <!-- Montant principal -->
  <div class="amount-row amount-total">
    <span class="amount-label">Total</span>
    <span class="amount-value">{{ currentSale.salesAmount | number }}</span>
  </div>

  <!-- TVA si applicable -->
  @if (currentSale.taxAmount! > 0) {
    <div class="amount-row">
      <span class="amount-label">TVA</span>
      <span class="amount-value">{{ currentSale.taxAmount | number }}</span>
    </div>
  }

  <!-- Remise si applicable -->
  @if (currentSale.discountAmount! > 0) {
    <div class="amount-row amount-discount">
      <span class="amount-label">Remise</span>
      <span class="amount-value">-{{ currentSale.discountAmount | number }}</span>
    </div>
  }

  <!-- Part assurance -->

  @if (currentSale?.natureVente !== 'COMPTANT') {
    @if (tiersPayants.length > 1) {
      @for (tp of tiersPayants; track tp.id) {
        <div class="amount-row">
          <span class="amount-label">{{ tp.name }}</span>
          <span class="amount-value">{{ tp.montant | number }}</span>
        </div>
      }
    }
    <div class="amount-row">
      <span class="amount-label">Total assurance</span>
      <span class="amount-value">{{ currentSale.partTiersPayant | number }}</span>
    </div>
  }

  <!-- Séparateur -->
  <div class="amount-divider"></div>

  <!-- Montant à payer (mis en évidence) -->
  <div class="amount-row amount-to-pay">
    <span class="amount-label">à payer</span>
    <span class="amount-value">{{ currentSale.amountToBePaid | number }}</span>
  </div>

  <!-- Monnaie si applicable -->
  @if (currentSale.amountToBePaid! > 0) {
    <div class="amount-row amount-change">
      <span class="amount-label">Monnaie</span>
      <span class="amount-value">{{ monnaie | number }}</span>
    </div>
  }

  <!-- Dernière monnaie -->
  @if (this.lastCurrencyGivenService.lastCurrency() > 0) {
    <div class="amount-row amount-last">
      <span class="amount-label">Dernière monnaie</span>
      <span class="amount-value">{{ lastCurrencyGivenService.lastCurrency() | number }}</span>
    </div>
  }
}
