<div>
  <div class="d-flex justify-content-center " style="padding-top: 2rem;">
    <div class="col-lg-4 col-md-5 col-sm-8">
      <p-card header="Authentification">
        <div *ngIf="authenticationError" class="alert alert-danger"
             data-cy="loginError" jhiTranslate="login.messages.error.authentication">
          <strong>Erreur d'authentification !</strong> Veuillez vérifier vos identifiants de
          connexion.
        </div>
        <form (ngSubmit)="login()" [formGroup]="loginForm" class="form" role="form">
          <div class="mb-3">
            <label class="username-label" for="username" jhiTranslate="global.form.username.label">Nom
              d'utilisateur</label>
            <input
              #username
              class="form-control"
              data-cy="username"
              formControlName="username"
              id="username"
              name="username"
              placeholder="{{ 'global.form.username.placeholder' | translate }}"
              type="text"
            />
          </div>

          <div class="mb-3">
            <label for="password" jhiTranslate="login.form.password">Mot de passe</label>
            <input
              class="form-control"
              data-cy="password"
              formControlName="password"
              id="password"
              name="password"
              placeholder="{{ 'login.form.password.placeholder' | translate }}"
              type="password"
            />
          </div>

          <div class="form-check">
            <label class="form-check-label" for="rememberMe">
              <input class="form-check-input" formControlName="rememberMe" id="rememberMe"
                     name="rememberMe"
                     type="checkbox" />
              <span jhiTranslate="login.form.rememberme">Garder la session ouverte</span>
            </label>
          </div>

          <button class="p-button-raised p-button-primary"
                  data-cy="submit" jhiTranslate="login.form.button" pButton
                  pRipple
                  type="submit">Connexion
          </button>
        </form>
      </p-card>


    </div>
  </div>
</div>
