<p-drawer [(visible)]="showSidebar" [style]="drawerWidth" position="right">
  <ng-template #header>
    <i class="pi pi-clock text-xl"></i>
    <span class="font-bold text-xl">Factures</span>
  </ng-template>
  <ng-template #content>
    <jhi-factues-modal (selectedFacture)="onSelectFacture($event)"
                       [factureGroup]="false"></jhi-factues-modal>
  </ng-template>
</p-drawer>

<div class="row reglement-dossier">
  <div class="reglement-dossier-table col-xl-8 col-sm-12 col-lg-9 col-md-9">
    <p-table
      #factureDossierTable
      (selectionChange)="onSelectChange($event)"
      [(selection)]="factureDossierSelectionnes"
      [globalFilterFields]="['bonNumber', 'customerFullName', 'matricule']"
      [paginator]="true"
      [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
      [rows]="20"
      [showCurrentPageReport]="true"
      [stripedRows]="true"
      [value]="reglementFactureDossiersSignal()"
      class="pharma-table"
      currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} dossisiers"
      dataKey="id"
      selectionMode="multiple"
    >
      <ng-template #caption>
        <div class="d-flex justify-content-between">
          <div class="p-2"><span class="text-xl font-bold">Dossiers</span></div>
          <div class="p-0">
            <p-iconfield>
              <p-inputicon class="pi pi-search" />
              <input
                (input)="factureDossierTable.filterGlobal($event.target.value, 'contains')"
                [style]="{ width: '300px' }"
                pInputText
                placeholder="Taper pour filter "
                type="text"
              />
            </p-iconfield>
          </div>
        </div>
      </ng-template>
      <ng-template #header>
        <tr class="pharma-table-head">
          <th>Réf.Bon</th>
          <th>Nom/Prénom(s)</th>
          <th>Matricule</th>
          <th>Date vente</th>
          <th>Montant</th>
          <th>Montant payé</th>
          <th>Montant Restant</th>

          @if (partialPayment) {
            <ng-container>
              <th class="table-all-checkbos">
                <p-tableHeaderCheckbox #checkbox></p-tableHeaderCheckbox>
              </th>
            </ng-container>
          }
        </tr>
      </ng-template>
      <ng-template #body let-item let-rowIndex="rowIndex">
        <tr [ngClass]="{ 'table-success0': item.montantPaye > 0 }">
          <td><span class="pharma-code">{{ item.bonNumber }}</span></td>
          <td><span class="pharma-entity-name">{{ item.customerFullName }}</span></td>
          <td><span class="pharma-badge pharma-badge-info">{{ item.matricule }}</span></td>
          <td>{{ item.saleDate | date: 'dd/MM/yy HH:mm' }}</td>
          <td class="amount-column">
            <span class="pharma-price">{{ item.montantTotal | number }}</span>
          </td>
          <td class="amount-column">
            <span class="pharma-price">{{ item.montantPaye | number }}</span>
          </td>
          <td class="amount-column">
            <span class="pharma-total">{{ item.montantTotal - item.montantPaye | number }}</span>
          </td>
          @if (partialPayment) {
            <td class="text-center">
              <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td>
          }
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="col-sm-12 col-lg-3 col-xl-4 col-md-3 formulaire">
    <div class="col-12 mb-2">
      <p-fieldset>
        <ng-template #header>
          <div class="d-flex d-flex justify-content-between form-reglement-toolbar">
            <span>Formulaire réglement</span>
            @if (!this.dossierFactureProjection()) {
              <p-button (click)="openSideBar()" icon="pi pi-search" label="Recherche"
                        severity="info"></p-button>
            }
          </div>
        </ng-template>

        <jhi-reglement-form
          (partialPayment)="onPartielReglement($event)"
          (reglementParams)="onSaveReglement($event)"
          [allSelection]="checkbox()?.checked"
          [dossierIds]="dossierIds()"
          [facture]="dossierFactureProjectionSignal()"
          [isSaving]="isSaving"
          [montantAPayer]="totalAmount"
          [typeFacture]="ModeEditionReglement.SINGLE"
        >
        </jhi-reglement-form>
      </p-fieldset>
    </div>
    <div class="col-12">
      <jhi-dossier-reglement-info [dossierFactureProjection]="dossierFactureProjectionSignal()"
                                  [totalApayer]="montantAPayer()">
      </jhi-dossier-reglement-info>
    </div>
  </div>
</div>

<p-confirmDialog />
