<app-nav-sidebar (collapsedChange)="menuReplie.set($event)" [collapsed]="menuReplie()"
                 [collapsible]="true" [nav]="nav"
                 icon="pi pi-book" title="Comptabilité">
  <div #nav="ngbNav" (activeIdChange)="active.set($event)" [activeId]="active()"
       class="nav flex-column nav-pills" ngbNav orientation="vertical">
    @if (showBalance()) {
      <ng-container ngbNavItem="balance">
        <a class="pharma-nav-vertical-link" ngbNavLink>
          <app-nav-section-link code="comptabilite.balance"
                                fallbackIcon="pi pi-calculator"
                                fallbackLabel="Balance caisse" />
        </a>
        <ng-template ngbNavContent>
          @defer (on immediate) {
            <app-balance-mvt-caisse navCode="comptabilite.balance" />
          } @loading {
            <app-skeleton height="240px" width="100%" />
          }
        </ng-template>
      </ng-container>
    }

    @if (showTaxeReport()) {
      <ng-container ngbNavItem="taxe-report">
        <a class="pharma-nav-vertical-link" ngbNavLink>
          <app-nav-section-link code="comptabilite.taxe-report"
                                fallbackIcon="pi pi-file-pdf"
                                fallbackLabel="Rapport TVA" />
        </a>
        <ng-template ngbNavContent>
          @defer (on immediate) {
            <app-taxe-report navCode="comptabilite.taxe-report" />
          } @loading {
            <app-skeleton height="240px" width="100%" />
          }
        </ng-template>
      </ng-container>
    }

    @if (showTableauPharmacien()) {
      <ng-container ngbNavItem="tableau-pharmacien">
        <a class="pharma-nav-vertical-link" ngbNavLink>
          <app-nav-section-link code="comptabilite.tableau-pharmacien"
                                fallbackIcon="pi pi-table"
                                fallbackLabel="Tableau pharmacien" />
        </a>
        <ng-template ngbNavContent>
          @defer (on immediate) {
            <app-tableau-pharmacien navCode="comptabilite.tableau-pharmacien" />
          } @loading {
            <app-skeleton height="240px" width="100%" />
          }
        </ng-template>
      </ng-container>
    }

    @if (showRecapCaisse()) {
      <ng-container ngbNavItem="recapitulatif-caisse">
        <a class="pharma-nav-vertical-link" ngbNavLink>
          <app-nav-section-link code="comptabilite.recapitulatif-caisse"
                                fallbackIcon="pi pi-chart-bar"
                                fallbackLabel="Récapitulatif de caisse" />
        </a>
        <ng-template ngbNavContent>
          @defer (on immediate) {
            <app-recapitualtif-caisse navCode="comptabilite.recapitulatif-caisse" />
          } @loading {
            <app-skeleton height="240px" width="100%" />
          }
        </ng-template>
      </ng-container>
    }

    @if (showRaportActivite()) {
      <ng-container ngbNavItem="raport-activite">
        <a class="pharma-nav-vertical-link" ngbNavLink>
          <app-nav-section-link code="comptabilite.raport-activite"
                                fallbackIcon="pi pi-chart-line"
                                fallbackLabel="Rapport d'activité" />
        </a>
        <ng-template ngbNavContent>
          @defer (on immediate) {
            <app-activity-summary navCode="comptabilite.raport-activite" />
          } @loading {
            <app-skeleton height="240px" width="100%" />
          }
        </ng-template>
      </ng-container>
    }
  </div>
</app-nav-sidebar>
