<div class="row inventory">
  <div class="col-2 col-md-2 col-sm-2">
    <p-card>
      <div #nav="ngbNav" [(activeId)]="active" class="nav flex-column nav-pills " ngbNav
           orientation="vertical">
        <ng-container ngbNavItem="CREATE">
          <a class="flex-sm-fill nav-link " ngbNavLink>En cours</a>
          <ng-template ngbNavContent>
            <jhi-en-cours [inventoryCategories]="inventoryCategories" [user]="user"></jhi-en-cours>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="CLOSED">
          <a class="flex-sm-fill nav-link " ngbNavLink>Cloturés</a>
          <ng-template ngbNavContent>
            <jhi-clotures></jhi-clotures>
          </ng-template>
        </ng-container>

      </div>
    </p-card>
  </div>

  <div class="col-10 col-md-10 col-sm-10 row">
    <div>
      <p-toolbar>
        <div class="p-toolbar-group-left" style="width: 80%;">
          <div class="row" style="width: 100%;">
            <div *ngIf="showUserCombo" class="col-md-6 row">
              <div class="col-md-3">Opérateurs</div>
              <div class="col-md-9">
                <p-dropdown (onChange)="onSelectUser()" [(ngModel)]="user" [options]="users"
                            [showClear]="true" [style]="{width: '100%'}"
                            optionLabel="fullName"></p-dropdown>
              </div>
            </div>
            <div class="col-md-6 row">
              <div class="col-md-2">Types</div>
              <div class="col-md-10">
                <p-multiSelect [(ngModel)]="inventoryCategories" [filter]="false"
                               [options]="categories" [showClear]="true" [style]="{width: '100%'}"
                               optionLabel="label" placeholder="Filter par type"></p-multiSelect>
              </div>
            </div>
          </div>
        </div>


        <div class="p-toolbar-group-right">

<span class="p-buttonset">
        <p-button (click)="onSearch()" icon="pi pi-search" label="Rechercher"
                  styleClass="p-button-info"></p-button>

        <p-button (click)="onCreateNew()"
                  icon="pi pi-plus"
                  label="Nouveau"
                  styleClass="p-button-raised p-button-success"
        >
        </p-button></span>

        </div>
      </p-toolbar>
    </div>

    <div [ngbNavOutlet]="nav">

    </div>
  </div>

</div>
