<div class="row justify-content-center">
  <div class="col-11">

    <h2 class="text-center" id="page-heading">
      <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button (click)="save()" class="btn btn-primary" id="save-entity" type="submit">
        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
      </button>
    </h2>
    <div>
      <div>
        <input (keyup)="onFilterTextBoxChanged($event)" class="form-control mr-sm-2" placeholder="Taper pour rechercher"
               type="text">
      </div>
      <hr>
      <ag-grid-angular #productGrid (cellValueChanged)="onCellValueChanged($event)" [columnDefs]="columnDefs" [enterMovesDownAfterEdit]="true"
                       [enterMovesDown]="true" [quickFilterText]="searchValue"
                       [rowData]="rowData" [suppressRowClickSelection]="true"
                       class="ag-theme-alpine" style="height:500px;">
      </ag-grid-angular>

    </div>

  </div>
</div>
