<div class="container-fluid mt-1">
  <div class="pharma-smart-content p-2">
    <app-toolbar icon="pi pi-plus-circle" title="Ajout de lots périmés" [compact]="true">
        <ng-container ngProjectAs="[toolbarFilters]">
          <div class="pharma-toolbar-filters">
            <div class="pharma-product-search mr-1">
              <jhi-produit-autocomplete
                #produitComponent
                (selectedProduit)="onSelect($event)"
                [(ngModel)]="produitSelected"
                [includeDetails]="includeDetail"
                [pageSize]="PRODUIT_COMBO_RESULT_SIZE"
              >
              </jhi-produit-autocomplete>
            </div>
            <app-float-label label="{{ 'warehouseApp.gestionPerimes.labels.numLot' | translate }}" inputId="numLot" class="mr-1">
              <input
                #numLot
                (keyup.enter)="onNumLot($event)"
                [disabled]="!produitSelected"
                [appKeyFilter]="'alphanum'"
                autocomplete="off"
                class="form-control"
                id="numLot"
                type="text"
              />
            </app-float-label>
            <div class="mr-1">
              <pharma-date-picker
                #datePeremention
                [(ngModel)]="dateValue"
                (selectionChange)="onDatePerementionChange($event)"
                [disabled]="numLotIsEmpty"
                id="datePeremtion"
                label="{{ 'warehouseApp.gestionPerimes.labels.datePeremption' | translate }}"
              ></pharma-date-picker>
            </div>
            <div>
              <jhi-quantite-produt-saisie
                #produitQteCmpt
                (addQuantite)="addQuantity($event)"
                [disabledButton]="disableButton"
                [isValid]="canAddQuantity"
              >
              </jhi-quantite-produt-saisie>
            </div>
          </div>
        </ng-container>

        <ng-container ngProjectAs="[toolbarActions]">
          <div class="pharma-toolbar-actions">
            <div class="pharma-button-group">
              <app-button
                (clicked)="onClose()"
                [disabled]="data.length == 0 || isSaving"
                [label]="'warehouseApp.buttons.closeAction' | translate"
                icon="pi pi-lock"
                severity="info"
                [raised]="true"
              ></app-button>
              <app-button
                (clicked)="goBack()"
                [label]="'warehouseApp.buttons.back' | translate"
                icon="pi pi-arrow-left"
                severity="secondary"
                [raised]="true"
              ></app-button>
            </div>
          </div>
        </ng-container>
      </app-toolbar>

    <app-data-table
      class="pharma-table"
      (onLazyLoad)="lazyLoading($event)"
      [lazy]="true"
      [loading]="loading"
      [paginator]="true"
      [rowsPerPageOptions]="[10, 15, 20, 30, 50]"
      [rows]="itemsPerPage"
      [showCurrentPageReport]="false"
      [showGridlines]="true"
      [totalRecords]="totalItems"
      [value]="data"
      dataKey="id"
    >
      <ng-template #caption>
        <app-icon-field [overlay]="true" icon="pi pi-search">
          <input (input)="onSearch()" [(ngModel)]="searchTerm" class="form-control" placeholder="Rechercher..." type="text" />
        </app-icon-field>
      </ng-template>
      <ng-template #header>
        <tr class="pharma-table-head">
          <th>Libellé produit</th>
          <th>Code produit</th>
          <th>Numéro lot</th>
          <th>Date de péremption</th>
          <th>Quantité</th>
          <th>Prix.Achat</th>
          <th>Prix.vente</th>
          <th>Statut</th>
          <th>Fournisseur</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template #body let-data>
        <tr>
          <td class="pharma-product-name">
            {{ data.produitName }}
          </td>

          <td class="pharma-code">
            {{ data.produitCodeCip }}
          </td>
          <td class="pharma-code">
            {{ data.numLot }}
          </td>
          <td>
            {{ data.datePeremption }}
          </td>
          <td class="amount-column text-right">
            <app-editable-cell>
              <ng-template #input>
                <input
                  #quantityInput
                  (keydown.enter)="modifyProductQuantity(data, quantityInput.value)"
                  [(ngModel)]="data.quantity"
                  autocomplete="off"
                  class="form-control form-control-sm text-end"
                  required
                  type="number"
                />
              </ng-template>
              <ng-template #output>
                <span class="pharma-qty-value">{{ data.quantity | number }}</span>
              </ng-template>
            </app-editable-cell>
          </td>

          <td class="text-right amount-column">
            <span class="pharma-price">{{ data.prixAchat | number }}</span>
          </td>
          <td class="text-right amount-column">
            <span class="pharma-price">{{ data.prixUni | number }}</span>
          </td>
          <td class="text-center">
            <app-badge [severity]="getSeverity(data.peremptionStatut)" [label]="data.peremptionStatut.libelle" />
          </td>

          <td class="pharma-entity-name">
            {{ data.fournisseur }}
          </td>

          <td class="text-right">
            <app-button
              (clicked)="onRemoveItem(data)"
              [rounded]="true"
              [text]="true"
              icon="pi pi-trash"
              severity="danger"
              [ngbTooltip]="'warehouseApp.buttons.delete' | translate"
            ></app-button>
          </td>
        </tr>
      </ng-template>
    </app-data-table>
  </div>
</div>

<jhi-spinner #spinner></jhi-spinner>
