@use 'app/shared/scss/pharma-toolbar' as *;
@use 'app/shared/scss/table-common' as *;

.ajust-count-in {
  font-weight: 700;
  color: #15803d;
}

.ajust-count-out {
  font-weight: 700;
  color: #b91c1c;
}

.ajust-qty-in {
  font-weight: 600;
  color: #15803d;
}

.ajust-qty-out {
  font-weight: 600;
  color: #b91c1c;
}
