<p-toast position="center"></p-toast>
<form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
  <div class="modal-body">
    <div [hidden]="true" class="form-group">
      <input class="form-control" formControlName="id" id="id" name="id" readonly type="hidden" />

    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <span class="badge bg-info" style="width: 90%;margin-top: 2rem;">
          {{ delivery.fournisseurLibelle }}
        </span>
      </div>
      <div class="form-group col-md-4">
        <label class="form-control-label"
               for="field_codeCip">Code cip</label>
        <input [pKeyFilter]="'int'" autocomplete="off" class="form-control"
               formControlName="codeCip"
               id="field_codeCip"
               name="codeCip"
               pInputText type="text" />
        @let codeCip = editForm.get('codeCip');
        @if (codeCip!.invalid && (codeCip!.dirty || codeCip!.touched)) {
          <div>
            @if (codeCip?.errors?.required) {
              <small class="form-text text-danger"
                     jhiTranslate="entity.validation.required">
                This field is required.
              </small>
            }
          </div>
        }

      </div>
      <div class="form-group col-md-5" style="padding-left: 1rem;padding-top: 2rem;">
        <div class="form-check form-switch ">
          <input class="form-check-input" formControlName="principal" id="principal"
                 type="checkbox" />
          <label class="form-check-label" for="principal" style="margin-left: 5px;">Est-il le
            fournisseur principal?</label>
        </div>


      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="form-control-label"
               for="field_prixAchat">Prix achat</label>
        <input (keyup)="handlePrixAchatInput($event)" autocomplete="off" class="form-control"
               formControlName="prixAchat" id="field_prixAchat"
               name="prixAchat" pKeyFilter="int"
               type="number" />
        @let prixAchat = editForm.get('prixAchat');
        @if (prixAchat!.invalid && (prixAchat!.dirty || prixAchat!.touched)) {
          <div>
            @if (prixAchat?.errors?.required) {
              <small class="form-text text-danger"
                     jhiTranslate="entity.validation.required">
                This field is required.
              </small>
            }
          </div>
        }
      </div>
      <div class="form-group col-md-4">
        <label class="form-control-label"
               for="field_prixUni">Prix unitaire</label>
        <input (keyup)="handlePrixUnitaireInput($event)" autocomplete="off" class="form-control"
               formControlName="prixUni"
               id="field_prixUni" name="prixAchat" pKeyFilter="int"
               type="number" />
        @let prixUni = editForm.get('prixUni');
        @if (prixUni!.invalid && (prixUni!.dirty || prixUni!.touched)) {
          <div>
            @if (prixUni?.errors?.required) {
              <small class="form-text text-danger"
                     jhiTranslate="entity.validation.required">
                This field is required.
              </small>
            }
          </div>

        }
      </div>
      <div class="form-group col-md-4">
        <label class="form-control-label" for="tvaId">Tva</label>
        <p-dropdown [filter]="false"
                    [options]="tvas" [style]="{'width':'100%'}"
                    appendTo="body"
                    formControlName="tvaId"
                    id="tvaId"
                    name="tvaId" optionLabel="tva"
                    optionValue="id"
                    placeholder="Sélectionner une Tva"
        >
        </p-dropdown>

      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label class="form-control-label"
               for="field_codeEan">Code Ean
        </label>
        <input autocomplete="off" class="form-control" formControlName="codeEan"
               id="field_codeEan" name="codeEan"
               pInputText
               pKeyFilter="int" type="text" />
      </div>
      <div class="form-group col-md-3">
        <label class="form-control-label" for="cmuAmount">Montant cmu</label>
        <input autocomplete="off" class="form-control" formControlName="cmuAmount"
               id="cmuAmount"
               name="cmuAmount"
               pInputText
               pKeyFilter="int"
               type="text" />

      </div>
      <div class="form-group col-md-4">
        <label class="form-control-label" for="field_perimeAt">Date de péremption</label>
        <p-inputmask autocomplete="off" formControlName="expirationDate" id="field_perimeAt"
                     mask="99/99/9999"
                     name="expirationDate" placeholder="01/11/2020"
                     slotChar="dd/mm/yyyy" styleClass="form-control">
        </p-inputmask>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="form-control-label" for="rayonId">Rayon</label>
        <p-dropdown [filter]="true"
                    [options]="rayons" [style]="{'width':'100%'}"
                    [virtualScroll]="false" appendTo="body"
                    filterBy="libelle"
                    formControlName="rayonId"
                    id="rayonId"
                    name="rayonId" optionLabel="libelle"
                    optionValue="id"
                    placeholder="Sélectionner un rayon"
        >
        </p-dropdown>

      </div>
      <div class="form-group col-md-6">
        <label class="form-control-label" for="typeEtiquetteId">Type etiquette</label>
        <p-dropdown
          [options]="etiquettes" [style]="{'width':'100%'}"
          appendTo="body"
          formControlName="typeEtiquetteId"
          id="typeEtiquetteId"
          name="typeEtiquetteId" optionLabel="libelle"
          optionValue="id"
          placeholder="Sélectionner une etiquette"
        >
        </p-dropdown>


      </div>
    </div>


  </div>

  <div class="modal-footer">
    <button (click)="cancel()"
            [raised]="true" class=" p-mr-2 "
            pButton
            pButtonIcon="pi pi-times"
            pRipple severity="danger" type="button">
      <span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button [disabled]="editForm.invalid || isSaving || !isValid"
            [raised]="true" class=" mr-2" pButton
            pButtonIcon="pi pi-check" pButtonLabel="Enregistrer"
            pRipple
            severity="success"
            type="submit">

    </button>
  </div>
</form>

