::ng-deep .p-togglebutton {
  background: #ffffff;
  border: 1px solid #ced4da;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .p-togglebutton-label {
    color: #1a6ce3;
    font-weight: 600;
  }

  .p-togglebutton-icon {
    color: #1a6ce3;
    font-weight: 600;
  }
}
