<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-xl-2 col-md-3 col-sm-4">
      <div class="pharma-nav-sidebar">
        <div class="pharma-nav-sidebar-card">
          <div class="pharma-nav-sidebar-header">
            <i class="pi pi-wallet"></i>
            <span>Gestion de caisse</span>
          </div>

          <div class="pharma-nav-sidebar-content">
            <div #nav="ngbNav" [(activeId)]="active" class="nav flex-column nav-pills" ngbNav
                 orientation="vertical">

              @if (showMvtCaisse()) {
                <ng-container ngbNavItem="mvt-caisse">
                  <a class="pharma-nav-vertical-link" ngbNavLink>
                    <i class="pi pi-arrows-h"></i>
                    <span>Mouvements de caisse</span>
                    <span class="link-arrow">›</span>
                  </a>
                  <ng-template ngbNavContent>
                    <app-visualisation-mvt-caisse></app-visualisation-mvt-caisse>
                  </ng-template>
                </ng-container>
              }


              @if (showGestionCaisse()) {
                <ng-container ngbNavItem="gestion-caisse">
                  <a class="pharma-nav-vertical-link" ngbNavLink>
                    <i class="pi pi-cog"></i>
                    <span>Gestion de caisse</span>
                    <span class="link-arrow">›</span>
                  </a>
                  <ng-template ngbNavContent>
                    <app-gestion-caisse></app-gestion-caisse>
                  </ng-template>
                </ng-container>
              }

              @if (false) {
                <!-- À SUPPRIMER après validation TNR — migré vers /comptabilite -->
                <ng-container ngbNavItem="raport-activite">
                  <a class="pharma-nav-vertical-link" ngbNavLink>
                    <i class="pi pi-chart-line"></i>
                    <span>Rapport d'activité</span>
                    <span class="link-arrow">›</span>
                  </a>
                  <ng-template ngbNavContent>
                    <jhi-activity-summary></jhi-activity-summary>
                  </ng-template>
                </ng-container>
              }

              @if (false) {
                <!-- À SUPPRIMER après validation TNR — déjà disponible dans /finances -->
                <ng-container ngbNavItem="declaration-tva">
                  <a class="pharma-nav-vertical-link" ngbNavLink>
                    <i class="pi pi-percentage"></i>
                    <span>Déclaration TVA</span>
                    <span class="link-arrow">›</span>
                  </a>
                  <ng-template ngbNavContent>
                    <app-declaration-tva />
                  </ng-template>
                </ng-container>
              }

              @if (false) {
                <!-- À SUPPRIMER après validation TNR — déjà disponible dans /finances -->
                <ng-container ngbNavItem="export-comptable">
                  <a class="pharma-nav-vertical-link" ngbNavLink>
                    <i class="pi pi-download"></i>
                    <span>Export comptable</span>
                    <span class="link-arrow">›</span>
                  </a>
                  <ng-template ngbNavContent>
                    <app-export-comptable />
                  </ng-template>
                </ng-container>
              }

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-10 col-xl-10 col-md-9 col-sm-8">
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
