<jhi-confirm-dialog #confirmDialog></jhi-confirm-dialog>

@if (commandes && commandes.length > 0) {
  <p-table
    class="pharma-table"
    (onLazyLoad)="lazyLoading($event)"
    (onRowExpand)="onRowExpand($event)"
    (onRowSelect)="onRowSelected()"
    (onRowUnselect)="onRowUnselect()"
    [(selection)]="selections"
    [lazy]="true"
    [loading]="loading"
    [paginator]="true"
    [rowExpandMode]="rowExpandMode"
    [rowsPerPageOptions]="[5, 10, 15, 20, 30, 50]"
    [rows]="itemsPerPage"
    [showCurrentPageReport]="false"
    [totalRecords]="totalItems"
    [value]="commandes"
    dataKey="id"
    selectionMode="multiple"
    [stripedRows]="true"
  >
    <ng-template #header>
      <tr class="pharma-table-head">
        <th style="width: 3%"></th>
        <th style="width: 12%">Date</th>
        <th style="width: 8%">Référence</th>
        <th style="width: 8%">Nbre d'articles</th>
        <th style="width: 8%">Montant Achat</th>
        <th style="width: 8%">Montant Vente</th>
        <th style="width: 15%">Fournisseur</th>
        <th style="width: 15%">Opérateur</th>
        <th class="table-all-checkbos">
          <p-tableHeaderCheckbox (click)="selectAllClik()"></p-tableHeaderCheckbox>
        </th>
        <th style="width: 20%"></th>
      </tr>
    </ng-template>
    <ng-template let-commande let-expanded="expanded" #body>
      <tr>
        <td>
          <p-button
            type="button"
            [pRowToggler]="commande"
            [text]="true"
            [rounded]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td>{{ commande.updatedAt | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        <td class="pharma-code">{{ commande.orderReference }}</td>
        <td class="text-right"><span class="pharma-qty-value">{{ commande.itemSize | number }}</span></td>
        <td class="text-right"><span class="pharma-total">{{ commande.grossAmount | number }}</span></td>
        <td class="text-right"><span class="pharma-total">{{ commande.orderAmount | number }}</span></td>
        <td class="pharma-entity-name">{{ commande.fournisseur?.libelle }}</td>
        <td>{{ commande.lastUserEdit?.abbrName }}</td>
        <td class="text-center">
          <p-tableCheckbox [value]="commande"></p-tableCheckbox>
        </td>
        <td class="text-right">
          <div class="btn-group">
            <p-button
              [routerLink]="['/commande', commande.commandeId.id,commande.commandeId.orderDate, 'edit']"
              severity="success"
              icon="pi pi-pencil"
              [rounded]="true"
              pTooltip="Editer"
              [text]="true"
            >
            </p-button>

            <p-button
              [text]="true"
              (click)="onShowFileDialog(commande)"
              [hidden]="true"
              [rounded]="true"
              icon="pi pi-upload"
              severity="help"
              pTooltip="Importer la reponse "
            ></p-button>
            <!--   <button *ngIf="commande.orderStatus!=='CLOSED'"
                       class="p-button-rounded p-button-primary p-button-sm ml-sm-1"
                       icon="pi pi-shopping-cart" pButton

                       pTooltip="Envoi par Pharma-ML"></button>-->

            <p-button
              [text]="true"
              (click)="exportCSV(commande)"
              icon="pi pi-file-excel"
              [rounded]="true"
              severity="warn"
              pTooltip="Exporter en CSV"
            />

            <p-button [text]="true" (click)="exportPdf(commande)" icon="pi pi-print"
                      severity="secondary" [rounded]="true" pTooltip="Imprimer" />
            @if (commande.orderStatus === REQUESTED) {
              <p-button (click)="confirmDelete(commande)" [rounded]="true" severity="danger"
                        icon="pi pi-trash" pTooltip="Supprimer" [text]="true" />
            }
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template let-elRow #expandedrow>
      <tr class="pharma-expanded-row">
        <td colspan="10">
          <div class="pharma-sub-table-card">
          <p-table
            [paginator]="true"
            [rowsPerPageOptions]="[10, 20, 30, 40, 50]"
            [rows]="30"
            [showCurrentPageReport]="false"
            [value]="elRow.orderLines"
            dataKey="id"
            [stripedRows]="true"

          >
            <ng-template #header>
              <tr class="pharma-table-head">
                <th style="width: 3%">#</th>
                <th style="width: 8%">CODE</th>
                <th style="width: 30%">LIBELLE</th>
                <th style="width: 6%">STOCK.INIT</th>
                <th style="width: 7%">P.ACHAT</th>
                <th style="width: 9%">P.ACHAT.MACHINE</th>
                <th style="width: 6%">P.U</th>
                <th style="width: 6%">P.U.MACHINE</th>
                <th style="width: 7%">QUANTITE</th>
                <th style="width: 7%">TOTAL.ACHAT</th>
              </tr>
            </ng-template>
            <ng-template let-orderLine let-rowIndex="rowIndex" #body>
              <tr [ngClass]="orderLineTableColor(orderLine)">
                <td class="pharma-row-number">{{ rowIndex + 1 }}</td>
                <td class="pharma-code">{{ orderLine.produitCip }}</td>

                <td class="pharma-product-name">{{ orderLine.produitLibelle }}</td>
                <td style="text-align: right"><span class="pharma-qty-value">{{ orderLine.initStock | number }}</span></td>

                <td style="text-align: right">
                  <span class="pharma-price">{{ orderLine.orderCostAmount | number }}</span>
                </td>
                <td style="text-align: right"><span class="pharma-price">{{ orderLine.costAmount | number }}</span></td>

                <td style="text-align: right">
                  <span class="pharma-price">{{ orderLine.orderUnitPrice | number }}</span>
                </td>
                <td style="text-align: right"><span class="pharma-price">{{ orderLine.regularUnitPrice | number }}</span></td>
                <td style="text-align: right">
                  <span class="pharma-qty-value">{{ orderLine.quantityRequested | number }}</span>
                </td>
                <td style="text-align: right"><span class="pharma-total">{{
                    orderLine.quantityRequested * orderLine.orderCostAmount | number
                  }}</span>
                </td>
              </tr>
            </ng-template>
          </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
}
<jhi-spinner #spinner ></jhi-spinner>
