@if (deliveries && deliveries.length > 0) {
  <p-table
    [lazy]="true"
    (onRowExpand)="onRowExpand($event)"
    [loading]="loading"
    [paginator]="true"
    [rowExpandMode]="rowExpandMode"
    [rowsPerPageOptions]="[5, 10, 15, 20, 30, 50]"
    [rows]="itemsPerPage"
    [showCurrentPageReport]="true"
    [totalRecords]="totalItems"
    [value]="deliveries"
    currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} elements"
    dataKey="id"
    selectionMode="multiple"
    styleClass="p-datatable-gridlines mt-2"
  >
    <ng-template #header>
      <tr>
        <th style="width: 1%"></th>
        <th style="width: 6%">#</th>
        <th style="width: 13%">Date</th>
        <th style="width: 8%">Date reception</th>
        <th style="width: 9%">Num.Bl</th>

        <th style="width: 8%">Montant HT</th>
        <th style="width: 8%">Taxe</th>
        <th style="width: 7%">Nbre d'articles</th>

        <th style="width: 13%">Fournisseur</th>
        <th style="width: 12%">Opérateur</th>

        <th style="width: 7%"></th>
      </tr>
    </ng-template>
    <ng-template let-expanded="expanded" let-row #body>
      <tr>
        <td>
          <p-button
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            [pRowToggler]="row"
            [rounded]="true"
            [text]="true"
            type="button"
          />
        </td>
        <td>{{ row.orderReference }}</td>
        <td>{{ row.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ row.receiptDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ row.receiptReference }}</td>

        <td class="text-right">{{ row.receiptAmount | number }}</td>
        <td class="text-right">{{ row.taxAmount | number }}</td>
        <td class="text-right">{{ row.itemSize | number }}</td>
        <td>{{ row.fournisseur.libelle }}</td>
        <td>{{ row.lastUserEdit?.abbrName }}</td>

        <td class="text-right">
          <div class="btn-group">
            <p-button
              [routerLink]="['/commande', row.id, 'edit']"
              severity="help"
              [rounded]="true"
              [text]="true"
              tooltipPosition="left"
              icon="pi pi-upload"
              pTooltip="Faire l'entréé en  stock"
            ></p-button>

            <p-button
              text
              (click)="exportPdf(row)"
              [rounded]="true"
              icon="pi pi-file-pdf"
              tooltipPosition="left"
              pTooltip="Imprimer"
              severity="warn"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #expandedrow let-item>
      <tr>
        <td colspan="12">
          <div class="p-3">
            <p-table
              [paginator]="true"
              [rowsPerPageOptions]="[10, 25, 50]"
              [rows]="10"
              [showCurrentPageReport]="true"
              [value]="item.orderLines"
              currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} elements"
            >
              <ng-template #header>
                <tr>
                  <th>#</th>
                  <th>Code</th>
                  <th>Libellé</th>
                  <th>Stock.Init</th>
                  <th>Stock.final</th>
                  <th>Qté.Livrée</th>
                  <th>Prix.Achat</th>
                  <th>Prix.Vente</th>
                </tr>
              </ng-template>
              <ng-template let-receiptItem let-rowIndex="rowIndex" #body>
                <tr>
                  <td style="text-align: left">{{ rowIndex + 1 }}</td>
                  <td>{{ receiptItem.produitCodeEan || receiptItem.produitCip }}</td>
                  <td>{{ receiptItem.produitLibelle }}</td>
                  <td class="text-right">{{ receiptItem.initStock | number }}</td>
                  <td class="text-right">{{ receiptItem.afterStock | number }}</td>
                  <td class="text-right">{{ receiptItem.quantityReceived | number }}</td>
                  <td class="text-right">{{ receiptItem.orderCostAmount | number }}</td>
                  <td class="text-right">{{ receiptItem.orderUnitPrice | number }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
}
<jhi-spinner #spinner ></jhi-spinner>
