<div class="container">
  <div class="justify-content-center">
    <div class="pharma-smart-content p-2">
      <div class="pharma-toolbar">
        <div class="pharma-toolbar-header">
          <i class="pi pi-sitemap"></i>
          <span class="pharma-toolbar-title">Liste des familles de produit</span>
        </div>

        <div class="pharma-toolbar-content">
          <div class="pharma-toolbar-filters">
            <div class="pharma-search-input">
              <app-icon-field [overlay]="true" icon="pi pi-search">
                <input (keyup.enter)="search($event)" class="form-control" placeholder="Taper pour rechercher" type="text" />
              </app-icon-field>
            </div>
          </div>

          <div class="pharma-toolbar-actions">
            <div class="pharma-button-group">
              <app-button (clicked)="addNewEntity()" [raised]="true" icon="pi pi-check" label="Nouveau" severity="primary" />
              <app-button (clicked)="showFileDialog()" [raised]="true" icon="pi pi-upload" label="Importer" severity="help" />
            </div>
          </div>
        </div>
      </div>

      @if (entites && entites.length > 0) {
        <app-data-table
          (onLazyLoad)="lazyLoading($event)"
          [lazy]="true"
          [loading]="loading"
          [paginator]="true"
          [rows]="itemsPerPage"
          [selectionMode]="'single'"
          [size]="'small'"
          [stripedRows]="true"
          [totalRecords]="totalItems"
          [value]="entites"
          dataKey="id"
        >
          <ng-template #header>
            <tr class="pharma-table-head">
              <th scope="col"><span>Code</span></th>
              <th scope="col"><span>Libellé</span></th>
              <th scope="col"><span>Catégorie article</span></th>
              <th scope="col"></th>
            </tr>
          </ng-template>
          <ng-template #body let-elRow>
            <tr [appSelectableRow]="elRow">
              <td>
                <span class="pharma-code">{{ elRow.code }}</span>
              </td>
              <td>
                <div class="pharma-entity-name">{{ elRow.libelle }}</div>
              </td>
              <td>{{ elRow.categorieLibelle }}</td>
              <td style="text-align: right">
                <app-button (clicked)="onEdit(elRow)" [iconOnly]="true" [rounded]="true" [text]="true"
                            ariaLabel="Modifier" icon="pi pi-pencil" ngbTooltip="Modifier" severity="success" />
                <app-button (clicked)="delete(elRow)" [iconOnly]="true" [rounded]="true" [text]="true"
                            ariaLabel="Supprimer" icon="pi pi-trash" ngbTooltip="Supprimer" severity="danger" />
              </td>
            </tr>
          </ng-template>
        </app-data-table>
      } @else {
        <div class="alert alert-warning" id="no-result">
          <span>Aucune donnée trouvée</span>
        </div>
      }
    </div>
  </div>
</div>

<jhi-spinner #spinner></jhi-spinner>
