@import '../../shared/scss/modal-theme';
@import '../../shared/scss/form-styles';
:host {
  @include modal-theme;
}
.modal-body.overflow-visible {
  overflow-y: visible !important;
  overflow-x: visible !important;
}


::ng-deep .p-select-overlay,
::ng-deep .p-select-list-container {
  z-index: 10000 !important;
}
