

<div class="container">
  <div class="h-100 w-75 pharma-smart mx-auto mt-5">
    <p-card>
      <ng-template #title>
        <div class="card-title primary-title">
          <i class="pi pi-money-bill mr-2"></i>
          Billetage de la caisse du {{ selectedCashRegister?.created | date: 'dd/MM/yyyy HH:mm' }}
        </div>
      </ng-template>

      <form (ngSubmit)="save()" [formGroup]="editForm" novalidate>
        <!-- Header -->
        <div class="row fw-semibold mb-2 form-header">
          <div class="col-md-3">Type de billet</div>
          <div class="col-md-3 text-center">Valeur</div>
          <div class="col-md-3 text-center">Quantité</div>
          <div class="col-md-3 text-right">Sous-total</div>
        </div>

        <!-- 10000 -->
        <div class="form-group row align-items-center mb-3">
          <div class="col-md-3">
            <span class="fw-semibold pharma-smart-primary-text">Billets</span>
          </div>
          <div class="col-md-3 text-center">
            <p-tag severity="info" value="10 000"></p-tag>
          </div>
          <div class="col-md-3">
            <p-inputNumber autocomplete="off" #numberOf10Thousand
                           inputId="numberOf10Thousand"
                           [autofocus]="true"
                           formControlName="numberOf10Thousand"
                           (onInput)="onInputChange()">
            </p-inputNumber>
          </div>
          <div class="col-md-3 text-right">
            <p-tag class="fw-semibold fs-5" severity="secondary" [value]=" ((editForm.get('numberOf10Thousand')!.value || 0) * 10000) | currency:'XOF':'symbol':'1.0-0' " ></p-tag>
          </div>
        </div>

        <!-- 5000 -->
        <div class="form-group row align-items-center mb-3">
          <div class="col-md-3">
            <span class="fw-semibold pharma-smart-primary-text">Billets</span>
          </div>
          <div class="col-md-3 text-center">
            <p-tag severity="info" value="5 000"></p-tag>
          </div>
          <div class="col-md-3">
            <p-inputNumber autocomplete="off" inputId="numberOf5Thousand"
                           formControlName="numberOf5Thousand"
                           (onInput)="onInputChange()">
            </p-inputNumber>
          </div>
          <div class="col-md-3 text-right">

            <p-tag class="fw-semibold fs-5" severity="secondary" [value]=" ((editForm.get('numberOf5Thousand')!.value || 0) * 5000) | currency:'XOF':'symbol':'1.0-0' " ></p-tag>

          </div>
        </div>

        <!-- 2000 -->
        <div class="form-group row align-items-center mb-3">
          <div class="col-md-3">
            <span class="fw-semibold pharma-smart-primary-text">Billets</span>
          </div>
          <div class="col-md-3 text-center">
            <p-tag severity="info" value="2 000"></p-tag>
          </div>
          <div class="col-md-3">
            <p-inputNumber autocomplete="off" inputId="numberOf2Thousand"
                           formControlName="numberOf2Thousand"
                           (onInput)="onInputChange()">
            </p-inputNumber>
          </div>
          <div class="col-md-3 text-right">

            <p-tag class="fw-semibold fs-5" severity="secondary" [value]=" ((editForm.get('numberOf2Thousand')!.value || 0) * 2000) | currency:'XOF':'symbol':'1.0-0' " ></p-tag>
          </div>
        </div>

        <!-- 1000 -->
        <div class="form-group row align-items-center mb-3">
          <div class="col-md-3">
            <span class="fw-semibold pharma-smart-primary-text">Billets</span>
          </div>
          <div class="col-md-3 text-center">
            <p-tag severity="info" value="1 000"></p-tag>
          </div>
          <div class="col-md-3">
            <p-inputNumber autocomplete="off" inputId="numberOf1Thousand"
                           formControlName="numberOf1Thousand"
                           (onInput)="onInputChange()">
            </p-inputNumber>
          </div>
          <div class="col-md-3 text-right">

            <p-tag class="fw-semibold fs-5" severity="secondary" [value]=" ((editForm.get('numberOf1Thousand')!.value || 0) * 1000) | currency:'XOF':'symbol':'1.0-0' " ></p-tag>

          </div>
        </div>

        <!-- 500 -->
        <div class="form-group row align-items-center mb-3">
          <div class="col-md-3">
            <span class="fw-semibold pharma-smart-primary-text">Billets/Pièces</span>
          </div>
          <div class="col-md-3 text-center">
            <p-tag severity="info" value="500"></p-tag>
          </div>
          <div class="col-md-3">
            <p-inputNumber autocomplete="off" inputId="numberOf500Hundred"
                           formControlName="numberOf500Hundred"
                           (onInput)="onInputChange()">
            </p-inputNumber>
          </div>
          <div class="col-md-3 text-right">
            <p-tag class="fw-semibold fs-5" severity="secondary" [value]=" ((editForm.get('numberOf500Hundred')!.value || 0) * 500) | currency:'XOF':'symbol':'1.0-0' " ></p-tag>
          </div>
        </div>

        <!-- Other Amount -->
        <div class="form-group row align-items-center mb-3">
          <div class="col-md-6">
            <span class="fw-semibold pharma-smart-primary-text">Autre montant</span>
          </div>
          <div class="col-md-3">
            <p-inputNumber autocomplete="off" inputId="otherAmount"
                           formControlName="otherAmount"
                           (onInput)="onInputChange()">
            </p-inputNumber>
          </div>
          <div class="col-md-3 text-right">
            <p-tag class="fw-semibold fs-5" severity="secondary" [value]=" (editForm.get('otherAmount')!.value || 0) | currency:'XOF':'symbol':'1.0-0' " ></p-tag>

          </div>
        </div>

        <hr>

        <div class="row justify-content-end mt-3 mb-2">
          <div class="col-auto">
            <div class="d-flex align-items-center">
              <span class="h4 fw-semibold mr-2">Total:</span>
             <p-tag class="fs-2 fw-semibold"  [value]="totalAmount | currency:'XOF':'symbol':'1.0-0'" severity="secondary"></p-tag>
            </div>
          </div>
        </div>
      </form>

      <ng-template #footer>
        <div class="gap-2 mt-1 d-flex justify-content-end">
          <p-button (click)="previousState()" icon="pi pi-times" label="Annuler" raised="true"
                     severity="secondary" type="button"></p-button>
          <p-button
            (click)="save()"
            [disabled]="editForm.invalid || isSaving"
            icon="pi pi-check"
            id="save-entity"
            label="Enregistrer"
            raised="true"
            severity="primary"
            type="submit"
          >
          </p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>

<jhi-confirm-dialog #confirmDialog></jhi-confirm-dialog>
<jhi-toast-alert #alert></jhi-toast-alert>
