<div class="row pharma-smart-content p-2 ">
  <div>
    <p-toolbar>
      <ng-template #start>
        <div class="d-flex justify-content-start">
          <div class="pt-1"><label class="input-label">Groupées</label></div>
          <div class="p-1">
            <p-toggleswitch (onChange)="onSearch()" [(ngModel)]="factureGroup" />
          </div>
          <div class="pt-1"><label class="input-label">Provisoires</label></div>
          <div class="p-1">
            <p-toggleswitch (onChange)="onSearch()" [(ngModel)]="factureProvisoire" />
          </div>

          <div class="pt-1">
            <p-floatlabel variant="on">
              <p-datePicker
                [(ngModel)]="modelStartDate"
                [selectOtherMonths]="true"
                [showButtonBar]="true"
                dateFormat="dd/mm/yy"
                id="input-label"
                inputId="input-label"
              />
              <label for="input-label">Du</label>
            </p-floatlabel>
          </div>

          <div class="pt-1">
            <p-floatlabel variant="on">
              <p-datePicker
                [(ngModel)]="modelEndDate"
                [selectOtherMonths]="true"
                [showButtonBar]="true"
                dateFormat="dd/mm/yy"
                id="au"
                inputId="au"
              />
              <label for="au">Au</label>
            </p-floatlabel>
          </div>

          <div class="p-1">
            <p-floatlabel>
              <input [(ngModel)]="search" [style]="{ width: '150px' }" id="search" pInputText
                     type="text" />
              <label for="search">Rechercher par numéro</label>
            </p-floatlabel>
          </div>
          <div class="p-1">

            <p-select (onChange)="onSearch()" [(ngModel)]="statut" [fluid]="true"
                      [options]="statuts"
                      dataKey="code" optionLabel="value" optionValue="code" size="large"
            >

            </p-select>
          </div>
          @if (factureGroup) {
            <div class="p-1">
              <p-floatlabel>
                <p-autoComplete
                  (completeMethod)="searchGroupTiersPayant($event)"
                  [(ngModel)]="selectedGroupeTiersPayants"
                  [forceSelection]="true"
                  [multiple]="true"
                  [suggestions]="groupeTiersPayants"
                  appendTo="body"
                  id="groupeTiersPayants"
                  inputId="groupeTiersPayants"
                  optionLabel="name"
                >
                </p-autoComplete>
                <label for="groupeTiersPayants">Rechercher un groupe</label>
              </p-floatlabel>
            </div>
          } @else {
            <div class="p-1">
              <p-floatlabel>
                <p-autoComplete
                  (completeMethod)="searchTiersPayant($event)"
                  [(ngModel)]="selectedTiersPayants"
                  [forceSelection]="true"
                  [minQueryLength]="minLength"
                  [multiple]="true"
                  [suggestions]="tiersPayants"
                  id="tiersPayantId"
                  inputId="tiersPayantId"
                  optionLabel="fullName"
                >
                </p-autoComplete>
                <label for="tiersPayantId">Rechercher tiers-payants</label>
              </p-floatlabel>
            </div>
          }
        </div>
        <div class="p-1">
          <p-button
            (click)="onSearch()"
            [loading]="loadingBtn"
            [raised]="true"
            icon="pi pi-search"
            label="Rechercher"
            pTooltip="Rechercher"
            severity="info"
          />
        </div>
        <div [hidden]="true" class="p-1">
          <p-splitbutton [model]="btnExports" [raised]="true" icon="pi pi-file-export"
                         label="Exporter"
                         pTooltip="Exporter" severity="help" />
        </div>
      </ng-template>
    </p-toolbar>
  </div>

  <div class="row mt-2">
    @if (datas && datas.length > 0) {
      <p-table
        (onLazyLoad)="lazyLoading($event)"
        [lazy]="true"
        [loading]="loading"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 15, 20, 30, 50]"
        [rows]="itemsPerPage"
        [stripedRows]="true"
        [totalRecords]="totalItems"
        [value]="datas"
        class="pharma-table"
        dataKey="factureId"
        selectionMode="single"
      >
        <ng-template #header>
          <tr class="pharma-table-head">
            <th scope="col"><span>Num</span></th>
            <th scope="col"><span>Tiers payant</span></th>
            <th scope="col"><span>Période</span></th>
            <th scope="col">Nbre Dossiers</th>
            <th scope="col">Montant Brut</th>
            <th scope="col">Remise</th>
            <th scope="col">Remise forfaitaire</th>
            <th scope="col">Montant Net</th>
            <th scope="col">Montant payé</th>
            <th scope="col">Montant restant</th>
            <th scope="col">Date édition</th>
            <th scope="col"></th>
          </tr>
        </ng-template>
        <ng-template #body let-elRow>
          <tr [pEditableRow]="elRow" [pSelectableRow]="elRow">
            <td><span class="pharma-code">{{ elRow.numFacture }}</span></td>
            <td class="pharma-entity-name">{{ elRow.tiersPayantName }}</td>
            <td>{{ elRow.periode }}</td>
            <td class="text-right">{{ elRow.itemsCount | number }}</td>
            <td class="pharma-total">{{ elRow.montant | number }}</td>
            <td class="pharma-total">{{ elRow.montantRemiseVente | number }}</td>
            <td class="pharma-total">{{ elRow.remiseForfetaire | number }}</td>
            <td class="pharma-total">{{ elRow.montantNet | number }}</td>
            <td class="pharma-total">{{ elRow.montantRegle | number }}</td>
            <td class="pharma-total">{{ elRow.montantRestant | number }}</td>
            <td>{{ elRow.created | date: 'dd/MM/yy HH:mm' }}</td>
            <td style="text-align: right">
              <div class="btn-group" role="group">
                @if (factureGroup) {
                  <p-button
                    (click)="onOpenGroupeDetail(elRow)"
                    [rounded]="true"
                    [text]="true"
                    icon="pi pi-eye"
                    pTooltip="Voir détail"
                    severity="info"
                  />
                } @else {
                  <p-button
                    (click)="onOpenDetail(elRow)"
                    [rounded]="true"
                    [text]="true"
                    icon="pi pi-eye"
                    pTooltip="Voir détail"
                    severity="info"
                  />
                }

                @if (!elRow.factureProvisoire && elRow.statut !== 'PAID') {
                  @if (factureGroup) {
                    <p-button
                      [rounded]="true"
                      [routerLink]="['/reglement-facture', elRow.factureItemId.id,elRow.factureItemId.invoiceDate, 'groupes', 'faire-reglement']"
                      [text]="true"
                      icon="pi pi-credit-card"
                      pTooltip="Régler"
                      severity="success"
                    />
                  } @else {
                    <p-button
                      [rounded]="true"
                      [routerLink]="['/reglement-facture',elRow.factureItemId.id,elRow.factureItemId.invoiceDate, 'individuelle', 'faire-reglement']"
                      [text]="true"
                      icon="pi pi-credit-card"
                      pTooltip="Régler"
                      severity="success"
                    />
                  }
                }
                <p-button
                  (click)="exportPdf(elRow.factureItemId)"
                  [loading]="exporting"
                  [rounded]="true"
                  [text]="true"
                  icon="pi pi-file-pdf"
                  pTooltip="Exporter en Pdf"
                  severity="warn"
                />

                @if (elRow.statut === 'NOT_PAID') {
                  <p-button
                    (click)="onDelete(elRow.factureItemId)"
                    [rounded]="true"
                    [text]="true"
                    icon="pi pi-trash"
                    pTooltip="Supprimer"
                    severity="danger"
                  />
                }
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    } @else {
      <div class="alert alert-warning" id="no-result">
        <span>Aucune donnée trouvée</span>
      </div>
    }
  </div>
</div>
<jhi-confirm-dialog #confirmDialog></jhi-confirm-dialog>
