<div class="container-fluid">
  <div class="justify-content-center">
    <div class="pharma-toolbar">
      <div class="pharma-toolbar-header">
        <i class="pi pi-list"></i>
        <span class="pharma-toolbar-title">Produits associés au tableau</span>
      </div>

      <div class="pharma-toolbar-content">
        <div class="pharma-toolbar-filters"></div>

        <div class="pharma-toolbar-actions">
          <div class="pharma-button-group">
            <app-button (clicked)="previousState()" icon="pi pi-angle-double-left" label="Retour" severity="secondary" />
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2 g-2">
      <div class="col-6">
        <div class="card data-card h-100">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h6 class="card-title m-0">Produits non associés à ce tableau</h6>
            <app-button
              (clicked)="moveAllToTarget()"
              [disabled]="!produitsSource.length"
              icon="pi pi-angle-double-right"
              label="Tout associer"
              severity="secondary"
              size="small"
            />
          </div>
          <div class="p-2 border-bottom">
            <input
              (keyup.enter)="onSourceFilter()"
              [(ngModel)]="searchSource"
              class="form-control"
              placeholder="Taper pour rechercher"
              type="text"
            />
          </div>
          <div class="card-body p-0">
            <app-data-table [scrollable]="true" [size]="'small'" [value]="produitsSource" scrollHeight="calc(100vh - 480px)">
              <ng-template #header>
                <tr class="pharma-table-head">
                  <th>Code CIP</th>
                  <th>Libellé</th>
                  <th class="text-end">Prix</th>
                  <th style="width: 50px"></th>
                </tr>
              </ng-template>
              <ng-template #body let-item>
                <tr>
                  <td><span class="pharma-code">{{ item.fournisseurProduit?.codeCip }}</span></td>
                  <td>{{ item.libelle }}</td>
                  <td class="text-end">{{ item.unitPrice | number }}</td>
                  <td class="text-center">
                    <app-button (clicked)="moveToTarget(item)" [rounded]="true" [text]="true" icon="pi pi-angle-right" severity="secondary" size="small" />
                  </td>
                </tr>
              </ng-template>
              <ng-template #emptymessage>
                <tr>
                  <td class="text-center text-muted py-3" colspan="4">Aucun produit</td>
                </tr>
              </ng-template>
            </app-data-table>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card data-card h-100">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h6 class="card-title m-0">Produits associés</h6>
            <app-button
              (clicked)="moveAllToSource()"
              [disabled]="!produitsTarget.length"
              icon="pi pi-angle-double-left"
              label="Tout retirer"
              severity="secondary"
              size="small"
            />
          </div>
          <div class="p-2 border-bottom">
            <input
              (keyup.enter)="onTargetFilter()"
              [(ngModel)]="searchTarget"
              class="form-control"
              placeholder="Taper pour rechercher"
              type="text"
            />
          </div>
          <div class="card-body p-0">
            <app-data-table [scrollable]="true" [size]="'small'" [value]="produitsTarget" scrollHeight="calc(100vh - 480px)">
              <ng-template #header>
                <tr class="pharma-table-head">
                  <th style="width: 50px"></th>
                  <th>Code CIP</th>
                  <th>Libellé</th>
                  <th class="text-end">Prix</th>
                </tr>
              </ng-template>
              <ng-template #body let-item>
                <tr>
                  <td class="text-center">
                    <app-button (clicked)="moveToSource(item)" [rounded]="true" [text]="true" icon="pi pi-angle-left" severity="secondary" size="small" />
                  </td>
                  <td><span class="pharma-code">{{ item.fournisseurProduit?.codeCip }}</span></td>
                  <td>{{ item.libelle }}</td>
                  <td class="text-end">{{ item.unitPrice | number }}</td>
                </tr>
              </ng-template>
              <ng-template #emptymessage>
                <tr>
                  <td class="text-center text-muted py-3" colspan="4">Aucun produit associé</td>
                </tr>
              </ng-template>
            </app-data-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
