<div class="container-fluid">
  <div class="pharma-smart-content p-1">
    <div class="justify-content-center">
      <app-toolbar icon="pi pi-list" title="Produits associés au tableau">
        <ng-container ngProjectAs="[toolbarActions]">
          <div class="py-1">
            <app-button (clicked)="previousState()" icon="pi pi-angle-double-left" label="Retour"
                        severity="secondary" />
          </div>
        </ng-container>
      </app-toolbar>
      <div class="row mt-2 g-2">
        <div class="col-6">
          <app-card bodyClass="p-0" header="Produits non associés à ce tableau">
            <ng-container ngProjectAs="[cardActions]">
              <app-button
                (clicked)="moveAllToTarget()"
                [disabled]="!produitsSource.length"
                icon="pi pi-angle-double-right"
                label="Tout associer"
                severity="secondary"
                size="small"
              />
            </ng-container>
            <div class="p-2 border-bottom">
              <input
                (keyup.enter)="onSourceFilter()"
                [(ngModel)]="searchSource"
                class="form-control"
                placeholder="Taper pour rechercher"
                type="text"
              />
            </div>
            <app-data-table [scrollable]="true" [size]="'small'" [value]="produitsSource"
                            scrollHeight="calc(100vh - 480px)">
              <ng-template #header>
                <tr class="pharma-table-head">
                  <th>Code CIP</th>
                  <th>Libellé</th>
                  <th class="text-end">Prix</th>
                  <th style="width: 50px"></th>
                </tr>
              </ng-template>
              <ng-template #body let-item>
                <tr>
                  <td><span class="pharma-code">{{ item.fournisseurProduit?.codeCip }}</span></td>
                  <td>{{ item.libelle }}</td>
                  <td class="text-end">{{ item.unitPrice | number }}</td>
                  <td class="text-center">
                    <app-button (clicked)="moveToTarget(item)" [rounded]="true" [text]="true"
                                icon="pi pi-angle-right" severity="secondary" size="small" />
                  </td>
                </tr>
              </ng-template>
              <ng-template #emptymessage>
                <tr>
                  <td class="text-center text-muted py-3" colspan="4">Aucun produit</td>
                </tr>
              </ng-template>
            </app-data-table>
          </app-card>
        </div>

        <div class="col-6">
          <app-card bodyClass="p-0" header="Produits associés">
            <ng-container ngProjectAs="[cardActions]">
              <app-button
                (clicked)="moveAllToSource()"
                [disabled]="!produitsTarget.length"
                icon="pi pi-angle-double-left"
                label="Tout retirer"
                severity="secondary"
                size="small"
              />
            </ng-container>
            <div class="p-2 border-bottom">
              <input
                (keyup.enter)="onTargetFilter()"
                [(ngModel)]="searchTarget"
                class="form-control"
                placeholder="Taper pour rechercher"
                type="text"
              />
            </div>
            <app-data-table [scrollable]="true" [size]="'small'" [value]="produitsTarget"
                            scrollHeight="calc(100vh - 480px)">
              <ng-template #header>
                <tr class="pharma-table-head">
                  <th style="width: 50px"></th>
                  <th>Code CIP</th>
                  <th>Libellé</th>
                  <th class="text-end">Prix</th>
                </tr>
              </ng-template>
              <ng-template #body let-item>
                <tr>
                  <td class="text-center">
                    <app-button (clicked)="moveToSource(item)" [rounded]="true" [text]="true"
                                icon="pi pi-angle-left" severity="secondary" size="small" />
                  </td>
                  <td><span class="pharma-code">{{ item.fournisseurProduit?.codeCip }}</span></td>
                  <td>{{ item.libelle }}</td>
                  <td class="text-end">{{ item.unitPrice | number }}</td>
                </tr>
              </ng-template>
              <ng-template #emptymessage>
                <tr>
                  <td class="text-center text-muted py-3" colspan="4">Aucun produit associé</td>
                </tr>
              </ng-template>
            </app-data-table>
          </app-card>
        </div>
      </div>
    </div>
  </div>

</div>
