<div class="container-fluid">
  <div class="text-end mb-2">
    <p-button (onClick)="previousState()" icon="pi pi-arrow-left" label="Retour" raised="true" severity="secondary" />
  </div>

  <div class="row">
    <div [ngClass]="classInfoSale">
      <p-card>
        <div class="card-header text-bg-success">Infos vente</div>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Date
            <span class="badge text-bg-secondary rounded-pill fw-semibold">{{ sales.updatedAt | date: 'dd/MM/yyyy HH:mm' }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Référence
            <span class="badge text-bg-secondary rounded-pill fw-semibold">{{ sales.numberTransaction }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Opérateur
            <span class="badge text-bg-secondary rounded-pill fw-semibold">{{ sales.cassier.abbrName }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Montant Ttc
            <span class="badge text-bg-secondary rounded-pill fw-semibold">{{ sales.salesAmount | number }}</span>
          </li>
          @if (sales.taxAmount > 0) {
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Montant Tva
              <span class="badge text-bg-secondary rounded-pill fw-semibold">{{ sales.taxAmount | number }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Montant Ht
              <span class="badge text-bg-secondary rounded-pill fw-semibold">{{ sales.salesAmount - sales.taxAmount | number }}</span>
            </li>
          }
          @if (sales.discountAmount > 0) {
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Remise
              <span class="badge text-bg-secondary fw-semibold rounded-pill">{{ sales.discountAmount | number }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Montant net
              <span class="badge text-bg-secondary fw-semibold rounded-pill">{{ sales.netAmount | number }}</span>
            </li>
          }
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Montant payé
            <span class="badge text-bg-secondary fw-semibold rounded-pill"> {{ sales.amountToBePaid | number }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Marge
            <span class="badge text-bg-secondary fw-semibold rounded-pill"> {{ sales.marge | number }}</span>
          </li>
          @if (sales.restToPay > 0) {
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Reste payé
              <span class="badge text-bg-secondary fw-semibold rounded-pill">{{ sales.restToPay | number }}</span>
            </li>
          }
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Total produit
            <span class="badge text-bg-secondary fw-semibold rounded-pill">{{ sales.salesLines.length | number }}</span>
          </li>
        </ul>
      </p-card>
    </div>
    @if (sales.customer) {
      <div [ngClass]="classCustomer">
        <p-card>
          <div class="card-header text-bg-info">Client</div>

          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Nom
              <span class="badge text-bg-secondary fw-semibold rounded-pill">{{ sales.customer.firstName }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Prénom
              <span class="badge text-bg-secondary fw-semibold rounded-pill">{{ sales.customer.lastName }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Date de naissance
              <span class="badge text-bg-secondary fw-semibold rounded-pill">{{ sales.customer.datNaiss | date: 'dd/MM/yy' }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Téléphone
              <span class="badge text-bg-secondary fw-semibold rounded-pill">{{ sales.customer.phone }}</span>
            </li>
          </ul>
        </p-card>

        @if (sales.ayantDroit && sales.customer?.id !== sales.ayantDroit?.id) {
          <div class="mt-2">
            <p-card>
              <div class="card-header text-bg-info">Ayant droit</div>

              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Nom
                  <span class="badge text-bg-secondary fw-semibold rounded-pill">{{ sales.ayantDroit.firstName }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Prénom
                  <span class="badge text-bg-secondary fw-semibold rounded-pill">{{ sales.ayantDroit.lastName }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Date de naissance
                  <span class="badge text-bg-secondary fw-semibold rounded-pill">{{ sales.ayantDroit.datNaiss | date: 'dd/MM/yy' }}</span>
                </li>
              </ul>
            </p-card>
          </div>
        }
      </div>
    }
    @if (sales.thirdPartySaleLines?.length > 0) {
      <div [ngClass]="classTiersPayant">
        <p-card>
          <div class="card-header text-bg-secondary">Infos tiers-paynat</div>

          <table class="table table-hover table-sm table-responsive table-bordered">
            <thead class="pharma-table-head">
              <tr>
                <th>#</th>
                <th>Tiers-payant</th>
                <th>Matricule</th>
                <th>Bon</th>
                <th>Taux</th>
                <th>Montant</th>
              </tr>
            </thead>
            <tbody>
              @for (tp of sales.thirdPartySaleLines; track tp.id; let i = $index) {
                <tr>
                  <td>{{ i + 1 }}</td>
                  <td>{{ tp.tiersPayantFullName }}</td>
                  <td>{{ tp.num }}</td>
                  <td>{{ tp.numBon }}</td>
                  <td class="text-right amount-column">{{ tp.taux }}</td>
                  <td class="text-right amount-column">{{ tp.montant | number }}</td>
                </tr>
              }
            </tbody>
          </table>
        </p-card>
      </div>
    }

    <div [ngClass]="classInfoProduit">
      <p-card>
        <div class="card-header text-bg-secondary">Produits</div>

        <table class="table table-responsive table-hover table-sm table-bordered">
          <thead class="pharma-table-head">
            <tr>
              <th>#</th>
              <th>Code</th>
              <th>Libellé</th>
              <th>Quantité</th>
              <th>Quantité servie</th>
              <th>Quantité avoir</th>
              <th>Prix unitaire</th>
              <th>Montant</th>
            </tr>
          </thead>
          <tbody>
            @for (line of sales.salesLines; track line.id; let i = $index) {
              <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ line.code }}</td>
                <td>{{ line.produitLibelle }}</td>
                <td class="text-right amount-column">{{ line.quantityRequested | number }}</td>
                <td class="text-right amount-column">{{ line.quantitySold | number }}</td>
                <td class="text-right amount-column">{{ line.quantityRequested - line.quantitySold | number }}</td>
                <td class="text-right amount-column">{{ line.regularUnitPrice | number }}</td>
                <td class="text-right amount-column">{{ line.salesAmount | number }}</td>
              </tr>
            }
          </tbody>
        </table>
      </p-card>
    </div>
  </div>
</div>
