@import 'app/shared/scss/table-common';
@import 'app/shared/scss/pharma-toolbar';

.pharma-row-warning {
  background: #fff3cd !important;
  border-left: 3px solid $pharma-warning;

  &:hover {
    background: #ffe8a1 !important;
  }
}

// Additional compact optimizations for sales toolbar on 14-inch screens
@media (max-width: 1450px) {
  .pharma-toolbar-compact {
    ::ng-deep {
      .p-toolbar {
        padding: 0.375rem 0.5rem !important;
      }

      .p-select {
        min-width: 100px;
        max-width: 120px;

        .p-select-label {
          padding: 0.375rem 0.5rem !important;
          font-size: 0.8125rem !important;
        }
      }

      .p-datepicker-input {
        min-width: 90px;
        max-width: 110px;
        padding: 0.375rem 0.5rem !important;
        font-size: 0.8125rem !important;
      }

      .p-floatlabel {
        min-width: 90px !important;
        label {
          font-size: 0.7rem !important;
        }
      }

      .p-button {
        .p-button-icon {
          font-size: 0.875rem !important;
        }

        .p-button-label {
          font-size: 0.8125rem !important;
        }
      }
    }
  }
}

.p-floatlabel {
  min-width: 90px !important;
  max-width: 140px !important;
}
